description = "頁尾部分(Footer)各學系連結"
==
<ul class="flag_list clearfix">
    <li>
        <a href="https://www.tflx.tku.edu.tw" rel="noopener noreferre" target="_blank">
            <img src='{{"assets/images/flag_britain.jpg" | theme}}' alt="flag">
            <span>英文學系</span>
        </a>
    </li>
    <li>
        <a href="https://www.tfsx.tku.edu.tw"  rel="noopener noreferre" target="_blank">
            <img src='{{"assets/images/flag_spain.jpg" | theme}}' alt="flag">
            <span>西班牙語文學系</span>
        </a>
    </li>    
    <li>
        <a href="https://www.tffx.tku.edu.tw"  rel="noopener noreferre" target="_blank">
            <img src='{{"assets/images/flag_france.jpg" | theme}}' alt="flag">
            <span>法國語文學系</span>
        </a>
    </li>
    <li>
        <a href="https://www.tfgx.tku.edu.tw"  rel="noopener noreferre" target="_blank">
            <img src='{{"assets/images/flag_germany.jpg" | theme}}' alt="flag">
            <span>德國語文學系</span>
        </a>
    </li>
    <li>
        <a href="https://www.tfjx.tku.edu.tw"  rel="noopener noreferre" target="_blank">
            <img src='{{"assets/images/flag_japan.jpg" | theme}}' alt="flag">
            <span>日本語文學系</span>
        </a>
    </li>       
    <li>
        <a href="https://www.tfux.tku.edu.tw"  rel="noopener noreferre" target="_blank">
            <img src='{{"assets/images/flag_russia.jpg" | theme}}' alt="flag">
            <span>俄國語文學系</span>
        </a>
    </li>
</ul>
<div class="world_map">
    <img src='{{"assets/images/world_map.png" | theme}}' alt="world_map">
</div>