description = "共同政策"
==
<p><a href="http://www.tku.edu.tw/pdp.asp" rel="noopener noreferre" target="_blank">個資政策</a> | <a href="http://www.tku.edu.tw/privacy.asp" rel="noopener noreferre" target="_blank">隱私權政策</a> | <a href="http://www.tku.edu.tw/notify.asp" rel="noopener noreferre" target="_blank">個人資料告知聲明</a></p>