description = "標頭連絡資料(中文)"
==
<div class="top_contact">
    <img src='{{"assets/#{style}/images/icon_phone.png" |theme}}' alt="icon_phone">
    <span>電話 {{contact.telephone}}</span>
    <span>傳真 {{contact.fax}}</span>
</div>