description = "網站首頁"
==
<?php
function onStart(){
    //trace_log($newsMenu);
}
?>
==
<section class="section_bg clearfix">
    <div class="container bg_white">
        <div class="row relative">
            <div class="col-md-6">
                <h2 class="index_title">
                    <span class="title_en">歡迎蒞臨</span>
                    <span class="title_tw"> <strong>{{site.title}}</strong></span>
                </h2>
                <div class="area_layout eqh-2">
                    <div class="heading_news">
                        {% page %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                 {% partial layout_folder ~ '/news_list' %}
            </div>
        </div>
        <div class="row relative">
            <div class="col-md-6 clearfix">
                 {% partial layout_folder ~ '/topics' links=site.recommand_links%}

            </div>
            <div class="col-md-6">
                 {% partial 'icon_links' links=site.web_links%}

            </div>
        </div>
    </div>
</section>