<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Foto_Pulpo_a_la_gallega.jpg" class="fr-fic fr-dii" style="width: 162.219px; height: 121.653px;"></p>

<p><strong>Pulpo a la gallega</strong></p>

<p><strong>In</strong><strong>gredientes (para dos personas)</strong></p>

<p>-300 g de pulpo 300公克的章魚</p>

<p>-2 patatas medianas 2顆馬鈴薯</p>

<p>-Pimentón dulce o picante　</p>

<p>- Aceite de oliva virgen extra　特級初榨橄欖油</p>

<p>-Sal gruesa　粗鹽</p>

<p>&nbsp;</p>

<p><strong>Elaboración</strong></p>

<p>Primero preparamos el pulpo. Si es fresco, lo coceremos en agua durante 20-25 minutos. Si lo compramos ya cocido, primero lo calentamos en agua hirviendo durante 2-3 minutos. Después lo sacamos de la cazuela –sin tirar el agua– y lo escurrimos.
	<br>首先，我們要準備章魚。 如果是新鮮的，請在水中煮20-25分鐘。 如果已經煮熟，我們要先在沸水中加熱2-3分鐘，然後把它從砂鍋裡拿出來，瀝乾。</p>

<p>Mientras se escurre el pulpo, echamos las dos patatas, sin pelar, en la cazuela donde hemos hervido el pulpo; las cocemos durante 25-30 minutos. Una vez cocidas, las sacamos y dejamos que se templen. Luego les quitamos la piel con las manos y las cortamos en rodajas de 1 cm aproximadamente.</p>

<p>當章魚正在瀝水時，我們將兩個沒有剝皮的馬鈴薯扔進我們煮章魚的鍋裡；煮25-30分鐘，煮熟後，取出它們，讓它們預熱。 然後我們用手去皮並切成約1厘米的切片。</p>

<p>Finalmente, colocamos las rodajas de patata en un plato y las sazonamos siguiendo este orden: primero les echamos sal gruesa, luego las espolvoreamos con pimentón, y para terminar rociamos bien todo con aceite de oliva.
	<br>最後，我們將馬鈴薯切片放在盤子上並按順序調味：首先加入濃鹽，然後撒上辣椒粉，最後撒上橄欖油。</p>

<p>Receta de José Miguel Blanco Pena</p>