<p>說明：</p>

<p>&nbsp; 一、請先參考本校「MS TEAMS安心就學遠端同步學習」－「學生」部份：</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="http://www.tku.edu.tw/anticorona.asp" rel="noopener" target="_blank">http://www.tku.edu.tw/anticorona.asp</a></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 下載及安裝軟體。</p>

<p>&nbsp; 二、MS teams 是在您所修課程的上課時間 <strong><u>同步收訊&nbsp;</u></strong>。</p>

<p>&nbsp; 三、請主動聯絡系辦公室及授課老師告知您的情況，您可以在本系網頁中，</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;「師資成員」中<strong>點選老師姓名</strong>，查詢西語系老師的E-mail（其他非西語系教師，請至各系或各單位查詢）。</p>

<p>&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>西語系 &nbsp;啟</p>