<p>一、<strong>西語系人工加退選(限西語系<u>必修</u>科目加選問題)：</strong></p>

<p>(任何<strong>其他</strong><u><strong>選修課程</strong></u>請請依照學校教務處課務組-最新消息-公告時間與梯次加選，或依照相關開課單位公告辦理)</p>

<p>(課務組網頁搜尋關鍵字為：選課作業日程表及注意事項)</p>

<p>
	<br>
</p>

<p><strong>※西語系人工加退選科目僅為西語系"必修"科目，科目如下所列。 (比較：西語系"選修"課程請網路按照時間選課)：</strong></p>

<p><strong>大一必修</strong></p>

<p>西班牙語會話（一）</p>

<p>初級西班牙文文法</p>

<p>西班牙文閱讀與習作</p>

<p>
	<br>
</p>

<p><strong>大二必修</strong></p>

<p>西班牙語會話（二）</p>

<p>西班牙文作文（一）</p>

<p>中級西班牙文文法</p>

<p>
	<br>
</p>

<p><strong>大三必修</strong></p>

<p>西班牙語會話（三）</p>

<p>西班牙文作文（二）</p>

<p>進階西班牙文語法</p>

<p>西班牙文翻譯（一）</p>

<p>
	<br>
</p>

<p><strong>大四必修</strong></p>

<p>西班牙語會話（四）</p>

<p>西班牙文翻譯（二）</p>

<p>
	<br>
</p>

<p>&nbsp;Q1：何種狀況需要辦理人工加退選？</p>

<p>&nbsp;A1：各位同學會修習自己所在年級的西語系必修科目，因此任何需要修習前非當年級的課程(像是前一個年級課程)的時候都需要透過人工加簽做調整。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 例如：轉學、轉系同學(三年級轉二年級，二年級轉一年級)；延修(畢)、重修同學、交換生。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 抑或非本系但符合修習本系專業課程之學生：雙主修生、輔系生。</p>

<p>備註：<strong>原本以經有分配組別的(當年級)同學，請「勿」網路退選課程。</strong></p>

<p><strong>※西語系學生(含雙主修學生)請於網路選課期間嘗試加入西語系必修課程，若無法加入，有額滿情形才須人工加簽。</strong></p>

<p><strong>唯輔系生西班牙文會話(一)、西班牙文會話(二)務必要選"輔系生專班"(通常為表列的最後一班)，不得選"限本系生專班"，如經查證輔系生修習"限本系班"屬實，西語系將有權強制轉班或退課。</strong></p>

<p>
	<br>
</p>

<p>Q2：西語系人工加退選是甚麼時候？哪裡下載人工加退選單？</p>

<p>A2：人工加退選通常為"<strong>開學第一個禮拜"</strong>，請上西語系官網「最新消息」/「<a href="https://www.tfsx.tku.edu.tw/spanish/opinion/131">本系相關</a>」<u>下載人工加退選表格</u>填寫完畢(加退選表格按照不同學年度與學期會有更新，<strong>請下載當下學年度的表格</strong>)，依照規定時間至系辦加退選。加選一、二年級、進修西語請找Ema助教；加選三、四年級課程請找Silvia助理。 公告時間為開學前1至2周。</p>

<p>&nbsp;</p>

<p>Q3：西語系人工加選時，選組的規則為何？</p>

<p>A3：為維持課程品質，須控管各組人數平均分配。故人工加選是依照你加選當下的各組人數作為衡量，人數最少的組別優先加選，若衝堂，則再考慮人數次少的組別。所以，加選那一組是先依你的課表排課情形，再衡量欲加選課程各組當時人數而定，由於組別人數是隨時變動的，加選組別也隨之變動。</p>

<p>備註：西語系的人工加簽原則是將同學加入當下班級人數最少的組別，因組別人數會變動，當下可以加入的組別也會變動，以確保人數的平均。代表同學大致上無法加入自己志願組別，別抱以太高的期待。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;可以確定同學能加入特定組別的方式只有一個：找同學對換組別。</p>

<p>&nbsp;</p>

<p>Q4：我因個人因素（打工、想選修他系課程等），可以依照我的志願選擇課程組別嗎?</p>

<p>A4：為了讓同學準時畢業，人工加選應以西語系專業必修課程時間為優先，依本系原則辦理，不接受個人因素選組。</p>

<p style="margin-left:18.0pt;">&nbsp;</p>

<p>Q5：我可以和別人換組嗎？</p>

<p>A5：可以。如有「換組需求」，請自行找到同學對換，並且填妥人工加退選單，兩人一起至系辦辦理。</p>

<p>備註：如果本來就有被安排到組別的同學，為了人數分配的公平性，僅能開放兩位同學間組別對調，不開放以各種理由加入特定組別，若開放以各種理由加入特定組別，組別人數將會嚴重不均，所以勿以各種理由(有別的課程、打工等)要求加入特定組別。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 若同學退選原本的組別，則無法對調，<strong>請勿網路退選課程</strong>。</p>

<p>
	<br>
</p>

<p>Q6：我不小心把系必修課退掉了，怎麼辦？</p>

<p>A6：請於人工加選時間辦理，一律加回原組。</p>

<p>&nbsp;</p>

<p>Q7：Ema 助教不在，怎麼辦？</p>

<p>A7：Ema助教若不在應該是去上課了(請看助教桌上的工作時間表)，請找代理人Silvia助理辦理。</p>

<p style="margin-left:18.0pt;">&nbsp;</p>

<p>Q8：我辦理人工加退選之後，如何確認？</p>

<p>A8：原則上辦理人工加退選後隔日起陸續處理選課，約人工加退選後<strong>三個工作天內</strong>可在系統上看見加選紀錄。若沒有查到選課資料，請至系辦找Ema助教詢問。</p>

<p>
	<br>
</p>

<p>Q9. ：我是否能跟準備大三出國的同學對換課程？</p>

<p>A9 ：大三出國同學因出國留學，在系上不會代選任何課程，因此不能對換課程。</p>

<p>&nbsp; &nbsp; &nbsp;</p>

<p>Q10. ：我是外系輔系西語系的同學，我能夠選"限本系生"修讀的會話課嗎?</p>

<p>A10：根據西語系輔系規定，輔系同學「會話一」、「會話二」<strong>必須</strong>修讀"限輔系班"修習之會話課程，以維持上課人數與品質。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>如經查證輔系生修習"限本系班"屬實，西語系將有權強制轉班或退課。</strong></p>

<p style="margin-left:18.0pt;">&nbsp;</p>

<p>二、</p>

<p>Q. 西語系通識課程西班牙文(一)、西班牙文(二)何時人工加退選？</p>

<p>A. 通識課程西班牙文(一)、西班牙文(二)加選請自行在學校開學第二週線上加退選時間加選，人數設限若已經滿額，則無法再加入，故無人工加選問題。</p>

<p>
	<br>
</p>

<p>Q. 請問全英的西班牙文(一)的實習課是否能換到其他非全英班西班牙文(一)的實習課時段，或其他非全英班的西班牙文(一)的實習課是否能換到全英班的實習課時段？</p>

<p>A. 全英班與其他班級的實習課授課內容、方式與正課老師搭配的計分方式都不同，因此不能夠對換，全英班同學只能搭配全英班的實習課，其他班級的兩組實習課可以對調。</p>

<p>&nbsp;</p>

<p><strong>General Education Course: Spanish I</strong></p>

<p>You may enroll SPANISH (I) (General Education Curriculum) in <a href="http://www.ais.tku.edu.tw/EleCos/login.aspx?ReturnUrl=%2felecos%2f">Curriculum Online system.</a> There is only one course will be given in English.&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>