<table align="left" border="1" cellpadding="0" cellspacing="0" width="756">
	<tbody>
		<tr>
			<td colspan="3" width="756">

				<p>西語系暑期遊學團留學 流程 (2021出國學生)</p>

				<p>※西語系會依照各種情況，更新以下資訊。</p>

				<p><strong>因歐洲各國疫情仍然嚴重，西語系不建議出國。</strong></p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>時間</p>
			</td>
			<td width="265">

				<p>主題</p>
			</td>
			<td width="359">

				<p>內容</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>109年</p>

				<p>12月25日</p>

				<p>12:10-13:50</p>

				<p>地點：E830</p>
			</td>
			<td width="265">

				<p>大三出國暨
					<br>暑期遊學團說明及其他資料</p>
			</td>
			<td width="359">

				<p>1. 暑期遊學團流程及甄試辦法。
					<br>2. 出國經驗分享。
					<br>3. 家長同意書 (說明保證金範圍、須配合事項)。
					<br>4. 兩所姊妹校課程簡章。
					<br>5. 大三出國與暑期團比較。(日期、費用、住宿選擇等)
					<br>6. 教育部「海外留遊學懶人包」資訊。
					<br>7. 外交部西國緊急聯絡資訊連結。
					<br>8. 簽證資訊。</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>110年</p>

				<p>1月15日</p>
			</td>
			<td width="265">

				<p>確認是否能出國</p>
			</td>
			<td width="359">

				<p>如前往交換地區為政府公布旅遊疫情第一、二級國家者，須檢附家長同意書，由各系所主管同意，並經國際副校長核准後，使得出國。</p>

				<p>如前往交換地區為政府公布旅遊疫情第三級國家者，則取消出國研修。</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>3月8日-
					<br>12日</p>
			</td>
			<td width="265">

				<p>暑期遊學團
					<br>留學甄試報名</p>
			</td>
			<td width="359">

				<p>報名資訊詳見暑期團辦法。
					<br>繳交：
					<br>1. 正式歷年成績單。
					<br>2. 家長同意書。
					<br>3. 填寫學校志願序。(QR code 問卷)</p>

				<p><a href="https://forms.gle/p5397isRhQkQnM3WA">https://forms.gle/p5397isRhQkQnM3WA</a></p>

				<p>(問卷提供信箱務必是google信箱，之後方能共享檔案)</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>3月19日</p>
			</td>
			<td width="265">

				<p>公告錄取名單</p>
			</td>
			<td width="359">

				<p>1. 將公告於系網頁-最新消息。
					<br>2. 請於公告一週內，每日4:30前至西語系辦繳交保證金2000元整，3月26日截止，如未繳交視同放棄暑期遊學團。(每日4:30關帳)
					<br>3. 繳交保證金時，請提供google信箱，以便分享google drive 辦學文件與填寫範例。</p>

				<p>公告錄取名單後可以開始搜尋購買機票資訊、研究從機場到學校路線與交通等。</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>4月10日</p>

				<p>星期六</p>
			</td>
			<td width="265">

				<p>出國留學說明會</p>

				<p>UCLM 說明會時間 13:30-14:50</p>

				<p>
					<br>UAH 說明會時間 15:00-16:20</p>

				<p>地點：待定</p>
			</td>
			<td width="359">

				<p>1. 邀請學長姐分享與傳承。
					<br>2. 競選領隊代表、建立學生群組、討論機票、交通方式等事宜。</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>4月~5月</p>
			</td>
			<td width="265">

				<p>留學資料及相關費用繳交</p>
			</td>
			<td width="359">

				<p>繳交資料:
					<br>兩間學校各有不同，將提供填寫範例連結給同學參考。繳交資料平台為非公開的google雲端硬碟，之後會寄給各位上傳連結，所有繳交資料檔明一律改為自己的姓名、學號。</p>

				<p>
					<br>一、辦學資料：
					<br>1. matrícula註冊報名表 (應包括西班牙學生保險部分)
					<br>2. hoja de alojamiento 住宿申請表 (依照簡章的課程時間，規劃好抵達西班牙時間與住宿議題。)
					<br>3. pasaporte a color escaneado全彩掃描護照、fotografía 照片電子檔案
					<br>4. otros servicios 其他服務申請 (例如：UAH馬德里的交通卡、馬德里接機服務，UCLM的腳踏車等) 請自行在報名表上以西班牙文或英文備註。</p>

				<p>繳交報名資料請下載並參考google drive分享之文件與填寫範例，將所有辦學資料填寫好、列印、簽名並掃描，上傳至共享平台。所有繳交文件務必改為自己的姓名、學號。</p>

				<p>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

				<p>二、建議4月30日前完成：
					<br>同學自行依照簡章價格諮詢計算總價錢後自行匯款，將請直接匯款至姊妹校銀行帳戶。由於匯款會有銀行中轉之手續費用，因此可能扣除到匯款的學費部分，請務必至西班牙時與姊妹校確認學費事宜並補繳少繳之金額。
					<br>(建議找尋可以支援「全額到匯」的銀行辦理，並確定能全額匯款，手續費另外計算，以免銀行抽取學費作為手續費。)</p>

				<p>匯款繳交學費後，請將匯款憑證掃描後上傳至共享資料夾，並標註「姓名-學號之匯款單」。</p>

				<p>匯款後姊妹校將會再核發入學許可與保險證明文件。</p>

				<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

				<p>三、繳交訂購電子機票(來回)與決議之交通方式(機場到學校)給承辦人。</p>

				<p><u>UCLM</u><u>：有15個人以上方能和姊妹校申請免費接機服務，需要所有同學的抵達日期與時間方能請姊妹校協助安排。</u></p>

				<p><u>UAH</u><u>：簡章上的價格為一個人搭乘計程車的價錢，如果多人能同時間從機場到學校，需繳交抵達日期與時間給姊妹校承辦人詢問報價。如不需要姊妹校協助安排接機則回覆系承辦人自行前往。</u></p>

				<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

				<p>三、簽證用資料：
					<br>請依照停留時間等評估是否有辦理簽證的需求，詳情請見西班牙商務辦事處簽證網站。(中華民國籍同學入境西班牙3個月內免簽證)</p>

				<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

				<p>四、如為役男身分，出境應詳知短期出境申請與手續，請洽：線上申請。</p>

				<p><a href="https://www.ris.gov.tw/departure/app/Departure/main">https://www.ris.gov.tw/departure/app/Departure/main</a></p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>6月下旬~8月上旬</p>
			</td>
			<td width="265">

				<p>出發至姊妹校</p>
			</td>
			<td width="359">

				<p><u>須於各姊妹校規定之課程時間前抵達學校。(通常提前一個禮拜，因此辦理住宿申請時請一併估算好住宿時間)</u></p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>7-8月</p>
			</td>
			<td width="265">

				<p>留學生活</p>
			</td>
			<td width="359">

				<p>同學於留學返國前繳交填寫線上問卷，分享至少一篇500字留學心得(包含生活照片)，並標註學號姓名寄送給系承辦人。(未繳交者，不能領回保證金額款)
					<br>留學期間請將外交部西國緊急聯絡資訊記下來以備不時之需、並將護照等重要文件、現金與貴重物品等保管好。</p>
			</td>
		</tr>
		<tr>
			<td width="132">

				<p>隔年12月</p>
			</td>
			<td width="265">

				<p>傳承下一屆預備式</p>
			</td>
			<td width="359">

				<p>1. 西語系邀請樂於分享同學與下一屆學弟妹分享所學與傳承。(樂於分享或表現優秀者西語系將安排敘獎)</p>
			</td>
		</tr>
	</tbody>
</table>