<p><strong>學生出國交換至姊妹校，抵免西語系專業課程學分事宜</strong></p>

<p>
	<br>
</p>

<p>例如：國交處交換生計畫、赴大陸、韓國等交換生、大三出國額外修習之學分</p>

<p><strong>&nbsp;</strong></p>

<p><strong>溫馨提醒：西語系課程請在出發前檢附所有相關資料至系辦確認是否準予抵免。回國才審核是否可以抵免將有未能抵免的風險。</strong><strong>(</strong><strong>建議可先行將下列第一階段完成</strong><strong>)</strong></p>

<p>
	<br>
</p>

<p><strong>西語系本系學生程序：</strong>第一、二階段</p>

<p><strong>非西語系學生程序：</strong>第一階段核准抵免後，請提供<strong>紙本採認表</strong>，於簽核後送回原系。</p>

<p>
	<br>
</p>

<p><strong>分為兩階段：</strong></p>

<p><strong>第一階段：</strong></p>

<p>請至淡江大學首頁「 行政單位 」-「課務組」 -「表格下載」，下載「淡江大學學生境外修習學分採認表」，依照自己建議的抵免科目，填寫<strong>採認表</strong>、<strong>正本成績單</strong>、附上<strong>課程資料</strong><strong>(</strong><strong>課程大綱、學分數、每週授課時間與總共上課幾週</strong><strong>)</strong>，檢送上述文件電子檔或至系辦繳交紙本文件，查核是否准予抵免，為期3-5個工作天。請務必提供系級、學號、聯繫用e-mail信箱於郵件主旨及內文或紙本文件右上方。</p>

<p>
	<br>
</p>

<p><strong>第二階段：</strong></p>

<p>確認完畢之後，請檢附以下紙本文件送西語系辦理：</p>

<p>a. 正式成績單1份 (核對後歸還)</p>

<p>b. 成績單影本2份 (並在成績單上左上角標註班級、姓名以及學號)</p>

<p>c. 淡江大學學生境外修習學分採認表1份</p>

<p>
	<br>
</p>

<p><strong>辦理抵免注意事項：</strong></p>

<p>1. 西語系辦理學分抵免截止日期：<strong>暑假(周一至周四上班時間)結束前</strong>。西語系學生抵免案件將統一送件抵免。</p>

<p>※如因特殊原因延遲辦理，待與西語系第一階段審核後，將請同學準備第二階段文件經西語系核對後親自送至教務處辦理。</p>

<p>
	<br>
</p>

<p>備註：請避開開學第一周人工加簽。</p>

<p>
	<br>
</p>

<p>2. 一個學期至少要抵免一個科目(「淡江大學學生出境期間學業及學籍處理要點」修正規定對照表107.06.05 處秘法字第1070000014號函公布)。</p>

<p>
	<br>
</p>

<p>3. 若非西語系專業科目，請找「開課單位」審核，該單位通過蓋章後送回西語系(西語系學生送回西語系辦)，將匯報課務組及註冊組進行成績轉換業務。</p>

<p>
	<br>
</p>

<p>4. 淡江大學學生境外修習學分採認表填寫細節，請務必按照「校務行政資訊系統」-&gt; 課程查詢系統「含歷年~至本學期」，查詢出國學年度以及學期的科目編號、學期序、學分數等資料、另外，選必修(請按照選修或必修填寫"選"或"必")。</p>

<p>
	<br>
</p>

<p><strong>西語系承辦人</strong>：Ema 助教</p>