<p>109學年度暑修 (2021年)</p>

<p>
	<br>
</p>

<p>一、西語系暑修<strong>限重修</strong>，並<strong>不開放先修</strong>，但同學若因「擋修制度(先修學分表)」而需要申請暑修，請於調查登記時同時繳交<a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=302">淡江大學教務處學生報告用紙</a>，描述學分修習狀況及規劃。</p>

<p>
	<br>
</p>

<p>二、西語系課程暑修報名程序：西語系先做開課調查統計欲開課人數是否達到學校開課標準→確定開課後將可在「<a href="https://tku.schroll.edu.tw/smele">淡江大學暑修課程查詢暨網路報名系統</a>」查詢選課登錄時間、列印繳費單及繳費時間、停開課程公告時間等相關資訊。開課方式依「淡江大學暑期開課要點」辦理。</p>

<p>
	<br>
</p>

<p>三、西語系開課調查時間：即日起至2021年4月26日中午12:00止。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;填寫網址：<a href="https://forms.gle/rsw56vm8wtaNVhqm9">https://forms.gle/rsw56vm8wtaNVhqm9</a></p>

<p>
	<br>
</p>

<p>四、不能參加暑修身分：休學未復學、已達退學標準、符合畢業資格學生。</p>

<p>
	<br>
</p>

<p>五、淡江大學暑修課程查詢暨網路報名系統： https://sinfo.ais.tku.edu.tw/SmEle &nbsp;</p>

<p>
	<br>
</p>

<p>110年5月21日(星期五)上午10時起開放可以查詢。</p>

<p>※後續必須完成報名、繳費手續，學校確定有15人以上才確保開課，屆時如果低於15人都還是有可能最終會宣布停課，依照教務處公告為主。</p>

<p>
	<br>
</p>

<p>※本期調查結果：僅「進階西班牙語法」(第一學期)達到開課人數標準，請同學在系統規定時間內報名，並完成繳費手續。</p>

<p>其他需要重修同學，需注意"西語系人工加退選<span color="" style="color: rgb(0, 0, 0); font-family: -apple-system, BlinkMacSystemFont, ;">"之網頁</span>公告，西語系必修課程於開學第一周辦理人工加簽，逾時不候。(並非網路加簽)</p>

<p>進修西語(西班牙文能力檢定)未通過的同學，請透過檢定考試，如為應屆畢業生，考試成績單上傳，儘快至系辦審核，以免耽誤畢業時間。</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>