<p>本系依照國際處「淡江大學校務發展計畫國際化主軸補助學生境外活動作業要點」承辦以下活動補助之申請：</p>

<ol>
	<li>學生參加姊妹校寒暑假異地學習課程或語言文化營隊。</li>
	<li>專案主題之海外學習活動、短期研習。</li>
	<li>補助學生參與國際志工服務。</li>
</ol>

<p>110學年度補助名額每一項至多一名，原則補助至多10,000元。補助活動期間至110學年度7月底前截止。</p>

<p>
	<br>
</p>

<p>一、申請資格須為本校在學學生，不含延畢生、碩士在職專班及研修生。</p>

<p>
	<br>
</p>

<p>二、符合資格者，須備齊以下資料，經系所初審後，送各學院之院務會議或院級國際化策進委員會決議。</p>

<p>(一)<a class="fr-file" href="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E5%9C%8B%E9%9A%9B%E5%8C%96%E4%B8%BB%E8%BB%B8%E8%A3%9C%E5%8A%A9%E5%AD%B8%E7%94%9F%E6%B5%B7%E5%A4%96%E6%B4%BB%E5%8B%95%E7%94%B3%E8%AB%8B%E8%A1%A8-%E5%A4%96%E8%AA%9E%E5%AD%B8%E9%99%A2%20.docx">淡江大學國際化主軸補助學生海外活動申請表-外語學院 .docx</a></p>

<p>(二)活動計畫書</p>

<p>(三)在學成績單</p>

<p>(四)未申領校內其他相關補助切結書 <a class="fr-file" href="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E5%AD%B8%E7%94%9F%E6%9C%AA%E4%BA%AB%E5%85%AC%E8%B2%BB%E5%8F%8A%E9%A0%98%E5%8F%96%E5%85%B6%E4%BB%96%E7%8D%8E%E5%8A%A9%E5%AD%B8%E9%87%91%E5%88%87%E7%B5%90%E6%9B%B8-%E5%9C%8B%E9%9A%9B%E5%8C%96%E4%B8%BB%E8%BB%B8.doc">淡江大學學生未享公費及領取其他獎助學金切結書-國際化主軸.doc</a></p>

<p>(五)其他有助審核資料&nbsp;</p>

<p>
	<br>
</p>

<p>三、獲補助者應於2022年7月底前一個禮拜，檢附成果報告書、機票票根、電子機票、各項單據辦理核銷。</p>

<p>
	<br>
</p>

<p>四、每人實際補助金額由院級會議決議，原則每人上限1萬元，且以機票費、保險費及生活費為主，實報實銷；經核定補助者，不得以同一事由請領其他校內補助。</p>

<p>
	<br>
</p>

<p>五、申請截止日期：即日起至2022年2月24日下午5點止。</p>

<p>
	<br>
</p>

<p>六、洽助教辦理。</p>

<p>
	<br>
</p>