<p>用書資訊以老師宣布為主，附件為可以在上林書局與敦煌書局購買之書籍清單參考。</p>

<p>
	<br>
</p>

<p>1. 上林書局購書請見本學年度上林售書時間表，按照駐點時間購買，若超過駐點日期，請洽書商校外購買。</p>

<p>
	<br>
</p>

<p>2. 敦煌書局購書請至學校商管大樓3樓書局選購，或洽各書商實體或網路門市購買。</p>

<p>
	<br>
</p>

<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/108%E5%AD%B8%E5%B9%B4%E5%BA%A6%E7%AC%AC1%E5%AD%B8%E6%9C%9F%E4%B8%8A%E6%9E%97%E5%94%AE%E6%9B%B8%E6%99%82%E9%96%93%E8%A1%A8.jpg" style="width: 300px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>

<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/108%E4%B8%8A%E6%9E%97%E7%94%A8%E6%9B%B8%20-%20student.jpg" style="width: 300px;" class="fr-fic fr-dib" data-result="success"></p>

<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/108%E6%95%A6%E7%85%8C%E7%94%A8%E6%9B%B8-student.jpg" style="width: 300px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>