<p>
	<br>
</p>

<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/%E8%A5%BF%E8%AA%9E%E7%B3%BB%E9%98%B2%E7%96%AB%E6%B5%B7%E5%A0%B1.jpg" style="width: 1000px;" class="fr-fic fr-dib" data-result="success"></p>

<p>本校措施連結：<a href="http://covid.tku.edu.tw/rules.asp">http://covid.tku.edu.tw/rules.asp</a></p>