<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/2020_f5d012f2-0496-456b-8145-5f01a313e517.jpg" style="width: 1000px;" class="fr-fic fr-dib" data-result="success"></p>

<p>
	<br>
</p>

<p style="text-align: center;"><a href="https://www.cdc.gov.tw/En">https://www.cdc.gov.tw/En</a> </p>