<p style="margin-left: 26.6pt;">一、本學程經106學年度第2學期教務會議通過後，自107學年度起實施。
	<br>二、選課注意事項：</p>

<ol style="margin-left: 40px;">
	<li>修習西語系課程請於每學期第一週西語系人工加簽時，依公告時間到西語系人工加簽（請先行至本系系網下載選課單）。</li>
	<li>修習國企系課程以加簽方式進行（加簽方式詳教務處公告）。</li>
</ol>

<p style="margin-left: 26.6pt;">三、非西語系學生修習本學程「西班牙語會話（二）」課程，一律安排選修輔系專班（於夜間修讀），須另支付學分費。</p>