<p><strong><span style="font-size:14px">學系特色</span></strong><br />
一、大三出國留學：自83學年度起，本系每年甄選大三學生赴西班牙留學一年，以培養學生學習興趣，增加西文能力，擴展國際視野。<br />
二、國際學習活動：安排學生暑假短期至西班牙姐妹校遊學，同時進行交換學生，使學生能有深造西語能力之契機。<br />
三、專業翻譯訓練：本系設有專業口譯設備，供教師與同學們進行專業西文同步實境翻譯演練，並強化學生西語翻譯應變能力。<br />
四、西語小組學習：為培育學生具備西語基礎能力，於各年級之西語會話教學皆採小組授課之方式，以達到強化學生西語自主學習能力。</p>

<p><!--[if !supportLists]--></p>

<p><strong>課程規劃</strong><br />
基礎西語課程：大一、大二開設有文法、會話及造句課程，穩固基礎西語能力。<br />
進階西語課程：大三、大四除原有之文法與會話課程外，亦增加作文與翻譯，加深西語常識並強化寫作與翻譯能力，使同學們能通過西語檢定考試。<br />
多元選修課程：本系設有多門選修課程如：西語經貿實務 (商務西文) 、觀光西語、西語華語教學、西班牙文聽力與發音實習、西語國家文化概論，及西語國家藝術賞析&hellip;&hellip;等，供同學們依個人興趣選修。</p>

<p><strong>未來發展</strong><br />
就學：國內相關研究所及出國進修。<br />
就業：畢業生就業領域主要集中在貿易、教職、公職、服務業與觀光產業等。甫畢業同學的職場走向有跨國企業之秘書與國外業務，或投身航空地勤空服員、導遊等。</p>

<p><!--[if !supportLists]--></p>