<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/IMG_20171124_175002_HDR.jpg" class="fr-fic fr-dii" style="width: 177.219px; height: 132.903px;"></p>

<p><strong>Gambas al ajillo</strong></p>

<p><span><strong>&nbsp;</strong></span><strong>Ingredientes (para dos personas)</strong></p>

<p>&nbsp;-150 ml de aceite de oliva virgen extra &nbsp;品質好及純的橄欖油150毫升</p>

<p>&nbsp;-8 dientes de ajo &nbsp;8片蒜瓣</p>

<p>-Un trozo de guindilla picante 1塊辣椒&nbsp;</p>

<p>-150 g de gambas peladas 去殼蝦150克</p>

<p>-Sal 鹽巴</p>

<p>Elaboración: Primero pelamos los ajos y los cortamos en láminas. Luego calentamos el aceite en la sartén. Cuando esté caliente, echamos los ajos y el trozo de guindilla. Los salteamos removiendo durante un par de minutos. Cuando los ajos estén un poco dorados, echamos las gambas, añadimos un poco de sal y las salteamos junto con los ajos y la guindilla durante 1-2 minutos. Luego apagamos el fuego y tapamos la sartén durante un minuto. Destapamos y servimos.
	<br>步驟: 首先，將蒜剝皮並將他切成薄片；接著，在平底鍋中先將油加熱，當油熱時，將蒜和辣椒倒入。蒜和辣椒要邊煎邊翻動幾分鐘，當算有點金黃色時，我們再將蝦倒入、加入一點鹽巴後和蒜及辣椒一起翻炒1到2分鐘。 接著關掉火後，將平底鍋蓋住悶幾分鐘。 開蓋後即可食用。</p>

<p>Receta de José Miguel Blanco Pena</p>
<figure data-label="Receta de Gambas al ajillo.mp4" data-video="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Receta%20de%20Gambas%20al%20ajillo.mp4">&nbsp;</figure>

<p>&nbsp;</p>