<table border="1" cellpadding="0" cellspacing="0" style="width:756px">
	<tbody>
		<tr>
			<td colspan="3" style="width:756px">
			<p>西語系暑期遊學團留學 流程 (2020出國學生)</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>時間</p>
			</td>
			<td style="width:134px">
			<p>主題</p>
			</td>
			<td style="width:556px">
			<p>內容</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>寒假期間</p>
			</td>
			<td style="width:134px">
			<p>大三出國暨<br />
			暑期遊學團說明影片及其他資料</p>
			</td>
			<td style="width:556px">
			<p>1. 暑期遊學團流程及甄試辦法。<br />
			2. 出國經驗分享。<br />
			3. 家長同意書 (說明保證金範圍、須配合事項)。<br />
			4. 兩所姊妹校課程簡章。<br />
			5. 大三出國與暑期團比較。(日期、費用、住宿選擇等)<br />
			6. 教育部「海外留遊學懶人包」資訊。<br />
			7. 外交部西國緊急聯絡資訊連結。<br />
			8. 簽證資訊。</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>3月9日-<br />
			13日</p>
			</td>
			<td style="width:134px">
			<p>暑期遊學團<br />
			留學甄試報名</p>
			</td>
			<td style="width:556px">
			<p>報名資訊詳見暑期團辦法。<br />
			繳交：<br />
			1. 正式歷年成績單。(紙本)<br />
			2. 家長同意書。(紙本)<br />
			3. <a href="https://forms.gle/f1YswJQwJswuQJDe7">填寫學校志願序</a>。(請按藍色連結填寫)</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>3月20日</p>
			</td>
			<td style="width:134px">
			<p>公告錄取名單</p>
			</td>
			<td style="width:556px">
			<p>1. 將公告於系網頁-最新消息。<br />
			2. 請於公告一週內，每日4:30前至西語系辦繳交保證金2000元整，3月27日截止，如未繳交視同放棄暑期遊學團。(每日4:30關帳)<br />
			3. 繳交保證金時，請提供google信箱，以便分享google drive 辦學文件與填寫範例。</p>

			<p>公告錄取名單後可以開始搜尋購買機票資訊、研究從機場到學校路線與交通等。</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>4月11日</p>

			<p>星期六<br />
			&nbsp;</p>
			</td>
			<td style="width:134px">
			<p>出國留學說明會</p>

			<p>UCLM 說明會時間 13:30-14:50</p>

			<p><br />
			UAH 說明會時間 15:00-16:20</p>

			<p>地點：待定</p>
			</td>
			<td style="width:556px">
			<p>&nbsp;1. 邀請學長姐分享與傳承。<br />
			&nbsp;2. 競選領隊代表、建立學生群組、討論機票、交通方式等事宜。</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>4月~5月</p>
			</td>
			<td style="width:134px">
			<p>留學資料及相關費用繳交</p>
			</td>
			<td style="width:556px">
			<p>繳交資料:<br />
			兩間學校各有不同，將提供填寫範例連結給同學參考。</p>

			<p>依照簡章的課程時間，規劃好抵達西班牙時間與住宿議題。</p>

			<p><br />
			一、辦學資料：<br />
			1. matr&iacute;cula註冊報名表 (應包括西班牙學生保險部分)<br />
			2. hoja de alojamiento 住宿申請表<br />
			3. pasaporte a color escaneado全彩掃描護照(<u>請務必確認護照至少有6個月以上的效期</u>)、fotograf&iacute;a 照片電子檔案<br />
			4. otros servicios 其他服務申請 (例如：UAH馬德里的交通卡、馬德里接機服務，UCLM的腳踏車等)&nbsp;請自行在報名表上以西班牙文或英文備註。</p>

			<p>繳交報名資料請下載並參考google drive分享之文件與填寫範例，將所有辦學資料填寫好、列印、簽名並掃描，將掃描檔案email寄信給承辦人：emmawu0125@gms.tku.edu.tw。信件標題請註明：2019-暑期團-姓名-學號，電子文件請也將標題標註自己姓名、學號。</p>

			<p>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			<p>二、建議4月30日前完成：<br />
			同學自行依照簡章價格諮詢計算總價錢後自行匯款，將請直接匯款至姊妹校銀行帳戶。由於匯款會有銀行中轉之手續費用，因此可能扣除到匯款的學費部分，請務必至西班牙時與姊妹校確認學費事宜並補繳少繳之金額。<br />
			(建議找尋可以支援「全額到匯」的銀行辦理，並確定能全額匯款，手續費另外計算，以免銀行抽取學費作為手續費。)</p>

			<p>匯款繳交學費後，請將匯款憑證掃描後傳送電子檔案至承辦人信箱，並標註姓名-學號之匯款單。</p>

			<p>匯款後姊妹校將會再核發入學許可與保險證明文件。</p>

			<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			<p>三、繳交訂購電子機票(來回)與決議之交通方式(機場到學校)給承辦人。</p>

			<p><u>UCLM</u><u>：有15個人以上方能和姊妹校申請免費接機服務，需要所有同學的抵達日期與時間方能請姊妹校協助安排。</u></p>

			<p><u>UAH</u><u>：簡章上的價格為一個人搭乘計程車的價錢，如果多人能同時間從機場到學校，需繳交抵達日期與時間給姊妹校承辦人詢問報價。如不需要姊妹校協助安排接機則回覆系承辦人自行前往。</u></p>

			<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			<p>三、簽證用資料：<br />
			請依照停留時間等評估是否有辦理簽證的需求，詳情請見西班牙商務辦事處簽證網站。(中華民國籍同學入境西班牙3個月內免簽證)</p>

			<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			<p>四、如為役男身分，出境應詳知短期出境申請與手續，請洽：<a href="https://www.ris.gov.tw/departure/app/">線上申請</a>。</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>6月下旬~8月上旬</p>
			</td>
			<td style="width:134px">
			<p>出發至姊妹校</p>
			</td>
			<td style="width:556px">
			<p><u>須於各姊妹校規定之課程時間前抵達學校。(通常提前一個禮拜，因此辦理住宿申請時請一併估算好住宿時間)</u></p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>7-8月</p>
			</td>
			<td style="width:134px">
			<p>留學生活</p>
			</td>
			<td style="width:556px">
			<p>同學於留學返國前繳交填寫線上問卷，分享至少一篇500字留學心得(包含生活照片)，並標註學號姓名寄送給系承辦人。(未繳交者，不能領回保證金額款)<br />
			留學期間請將外交部西國緊急聯絡資訊記下來以備不時之需、並將護照等重要文件、現金與貴重物品等保管好。</p>
			</td>
		</tr>
		<tr>
			<td style="width:66px">
			<p>隔年12月</p>
			</td>
			<td style="width:134px">
			<p>傳承下一屆預備式</p>
			</td>
			<td style="width:556px">
			<p>1. 西語系邀請樂於分享同學與下一屆學弟妹分享所學與傳承。(樂於分享或表現優秀者西語系將安排敘獎)</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>更新日期：2020年3月10日 (<span style="color:#ff0000">因西班牙疫情突然遽增，不建議暑假留學</span>)</p>

<p>&nbsp;</p>