<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/dEfVtrqQgVI" width="560"></iframe></a></p>

<p><span style="font-size:24px"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 堆積 acumulaci&oacute;n</strong></p>

<p><strong>2. 沙洲 banco de arena</strong></p>

<p><strong>3. 沼澤區 pantano</strong></p>

<p><strong>4. 河口 estuario</strong></p>

<p><strong>5. 緯度 latitud</strong></p>

<p><strong>6. 水生植物 planta acu&aacute;tica</strong></p>

<p><strong>7. 生態系統 ecosistema</strong></p>

<p><strong>8. 堤岸 terrapl&eacute;n</strong></p>

<p><strong>9. 魚苗 alev&iacute;n / peque&ntilde;o criadero de peces</strong></p>

<p><strong>10. 野生物 vida silvestre</strong></p>

<p><strong>11. 繁殖 reproducci&oacute;n</strong></p>

<p><strong>12. 棲息 h&aacute;bitat</strong></p>

<p><strong>13. 薪材 le&ntilde;a</strong></p>

<p><strong>14. 候鳥 ave migratoria</strong></p>

<p><strong>15. 白鷺鷥 garceta com&uacute;n (Egretta garzetta)</strong></p>

<p><strong>16. 觀鳥小屋 puesto para la observaci&oacute;n de aves</strong></p>

<p><strong>17. 低度開發區 zona de bajo desarrollo</strong></p>

<p><strong>18. 海平面 nivel del mar</strong></p>

<p><strong>19. 水災 inundaci&oacute;n</strong></p>

<p><strong>20. 留鳥 ave residente</strong></p>

<p><strong>21. 蛙類 rana</strong></p>

<p><strong>22. 群體居住 vivir en colonias</strong></p>

<p><strong>23. 水筆仔 kandelia obovata</strong></p>

<p><strong>24. 胎生幼苗 germen / pl&aacute;ntula viv&iacute;para</strong></p>

<p><strong>25. 發芽 germinar</strong></p>

<p><strong>26. 樹枝 ramas del &aacute;rbol</strong></p>

<p><strong>27. 母樹 planta madre</strong></p>

<p><strong>28. 胚 embri&oacute;n</strong></p>

<p><strong>29. 種子 semilla</strong></p>

<p><strong>30. 胎生苗 prop&aacute;gulo</strong></p>

<p><strong>31. 根ra&iacute;z</strong></p>

<p><strong>32. 氯 cloro</strong></p>

<p><strong>33. 招潮蟹 cangrejo violinista (Uca)</strong></p>

<p><strong>34. 湖間帶生物 fauna intermareal</strong></p>