<p>Introduction</p>

<p>Founded in 1962, the Spanish Department, Tamkang University, recruits 120 students each year. The features are as follows:</p>

<p><span style="color:#ff8c00;">Solid Foundation of Faculty Members</span>
	<br>Tamkang Spanish Department of the longest history in Taiwan has a very solid foundation of PH. D-based, full-time faculty members. Its teaching methods are composed of creativity and energy.</p>

<p><span style="color:#ff8c00;">Learning in Globalization and Mobility</span>
	<br>The Spanish Department has projects, such as<em>&nbsp;Junior Year in Overseas Advanced Study</em> and <em>Academic Partner Institutes</em>, that cultivates global mobility and broadens your horizons. Ever since 105<sup>th</sup> academic year, Spanish Department has been subsidized by <em>EU International Student Scholarship</em> and implemented yearly-based exchanges with University de Murcia. All these efforts have constructed further education and opportunities.</p>

<p><span style="color:#ff8c00;">Specialized Training in Interpretation</span>
	<br>The specialized facilities fortify students in simultaneous interpretation.</p>

<p><span style="color:#ff8c00;">Connections in between Academic Programs and Career</span>
	<br>The five categories in basic and advanced programs involve interpretation, business, tourism, Chinese language teaching and culture, which implements career orientation and planning.</p>

<p><span style="color:#ff8c00;">Internship in Industries</span>
	<br>Hands on practices in industries sharpen students in their expertise and furthers their independent thinking, negotiation and people skills.</p>

<p>Spanish Department bridges you and the world through its rooted nature of diversity.</p>