<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Foto_tortilla.png" class="fr-fic fr-dii" style="width: 143.993px; height: 116.061px;"></p>

<p><strong>Tortilla de patata</strong></p>

<p><strong>Ingredientes (para dos personas)</strong></p>

<p>-2 patatas grandes 2顆馬鈴薯</p>

<p>-4 huevos majos 4顆蛋</p>

<p>-Aceite de oliva 橄欖油</p>

<p>-Sal 鹽</p>

<p>&nbsp;</p>

<p><strong>Elaboración</strong></p>

<p>Primero pelamos, lavamos y secamos bien las patatas. Luego las cortamos en láminas finas y pequeñas. A continuación, freímos las patatas cortadas en una sartén con abundante aceite de oliva, durante unos 7-8 minutos.
	<br>首先將馬鈴薯皮削掉，清洗和乾燥好。然後，我們切成細板和中小板，放進油鍋煎炒約7-8分鐘。</p>

<p>Mientras se fríen las patatas, batimos bien los huevos en un bol amplio y los reservamos. Cuando las patatas estén hechas, es decir, blandas y doradas, las sacamos del fuego y las escurrimos. Una vez escurridas, les echamos sal. Luego mezclamos bien las patatas con la mezcla de huevo.
	<br>當馬鈴薯仔煎炒同時，我們準備一個大碗和在裡面打蛋。當馬鈴薯煮熟變軟呈金黃色後，我們從鍋裡取出放一旁。當其瀝乾後，撒上鹽巴，之後，將馬鈴薯與蛋液拌勻。</p>

<p>Seguidamente, en una sartén caliente con un poco de aceite, echamos la mezcla y vamos cuajando la tortilla a fuego medio-alto. Utilizamos una espátula para aplastar suavemente la tortilla y despegarla de los bordes. Al mismo tiempo, vamos moviendo la sartén en círculos para que la tortilla no se pegue y nos quede redonda.
	<br>然後，在用少量油以中火煎煮上一步驟完成的馬鈴薯，必須用鍋鏟輕輕壓碎它。同時，我們要不時搖晃平底鍋以防馬鈴薯烘蛋黏鍋。</p>

<p>Después de 1-2 minutos, le damos las vuelta a la tortilla, con cuidado, usando un plano llano de tamaño un poco mayor que la sartén. Repetimos la operación de aplastar, despegar y girar la tortilla. (Si se quiere la tortilla más hecha, damos la vuelta dos veces más a la tortilla). Después de 1-2 minutos apagamos el fuego y volteamos de nuevo la tortilla en el plato.
	<br>約1-2分鐘後，將其翻面，記得使用尺寸比原鍋略大的盤子，反覆操作。1-2分鐘後關火，就完成了。</p>

<p>Receta de José Miguel Blanco Pena</p>
<figure data-label="Tortilla de patata.mp4" data-video="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Tortilla%20de%20patata.mp4">&nbsp;</figure>