<p><span style="font-size:14px"><strong>【學分學程QA】</strong></span></p>

<p><strong>Q：學分學程是什麼？那裡可以得到資訊？<br />
A</strong><strong>：</strong>學分學程為彈性課程組合，院或系將現有的科目，其性質接近或彼此相關的科目加以整合，有系統的組織起來，就成為學分學程，同學都可以視自己的興趣去申請，顧名思義，只要修滿學程要求的學分（一般在18～25之間）並完成認證，即可得到學分學程證書。<br />
各單位開設的學程可以參看各單位的網頁資料，目前與本系課程相關的學程請參考本系課程地圖。</p>

<p><strong>Q：修跨領域學分學程的好處為何？<br />
A</strong><strong>：</strong>除了本系的專業之外，有機會可以修讀其他領域的課程，不但可學習到各個不同領域的專業知識，更可於選修完畢後獲得一張證書，在未來職涯的選擇上有更多的競爭力。由於修習學分可與畢業學分同時認列，可謂「一魚兩吃」（既是畢業學分，亦為學程學分）。</p>

<p><strong>Q：學分學程與輔系、雙主修的學分計算有何不同？<br />
A</strong><strong>：</strong>學程學分所修課程同時可以計入畢業學分，而且在學程要求的18-25學分之中，通常只要求9個學分不得與原修學系相同，所以同學只要將畢業學分中的自由選修學分有計畫的選修相關課程，即可得到學分學程證書，比輔系、雙主修更容易修習。學分數及證書比較如下：</p>

<table border="1" cellpadding="1" cellspacing="1" style="height:100px; width:500px">
	<tbody>
		<tr>
			<td style="text-align:center">雙主修</td>
			<td>需修畢主學系最低畢業科目學分及加修學系全部專業（門）必修科目學分至少40學分。</td>
			<td>畢業證書載明兩個系（班）授予雙學士學位。</td>
		</tr>
		<tr>
			<td style="text-align:center">輔系</td>
			<td>輔系應修學分數至少20學分，不計入主修系、所、學位學程畢業學分計算。</td>
			<td>畢業證書加註輔系名稱。</td>
		</tr>
		<tr>
			<td>學分學程</td>
			<td>學分學程應修學分數以18-25學分為原則，有9個學分不得與原修學系相同，故僅需修9-16學分。</td>
			<td>發給學程證書，畢業證書不加註。</td>
		</tr>
	</tbody>
</table>

<p><br />
<strong>Q：這麼多學程不知道要如何選擇，有什麼差別？<br />
A：</strong>每個學分學程的宗旨不同，看一下設置辦法，了解學程的課程組合會比較清楚。<br />
以國企學分學程和外語學院開的雙外語經貿人才學程來比較，前者是本系和國企系合作的，專為要走經貿路線的西語系學生設計，24學分之中，只要本系的課程15學分，再加上國企的9學分，就可以拿證書。<br />
而外語學院開的雙外語經貿人才學程，旨在培養兼具第二外語與經貿實務等專業能力的人才，最低修習總學分數為23學分。因外語學院學生不得修習就讀學系相關的語言課程，故僅第二外語文化課程「西語國家文化概論(2/2)」是本系生的系選修學分，須另外再修學程中規畫的19學分才能領到證書。<br />
這兩個學程在修習上，學分數的差別就很大，不過這些修習學分可與畢業學分同時認列，都是「一魚兩吃」。</p>

<p><strong>Q：何時申請，如何申請？<br />
A</strong><strong>：</strong>各學程的申請辦法及表格請參看開設單位的網頁公告資料。目前本系開設的有「西語國企學分學程」於開學第一週向系上申請，請參看系網課程資訊。</p>

<p><strong>Q：如何網路申請？</strong><br />
<strong>A：</strong>填妥各學程之申請書（需貼上學生證影本），並附上學程實施規則中規定範圍的成績單（可網路下載印出PDF檔：淡江大學網頁&rarr;以學生身分登入&rarr;點選校務行政資訊系統&rarr;點選在學學生&rarr;請查詢&quot;學期及各科成績&quot;），請以PDF的檔案寄送到<a href="http://spanish@mail.tku.edu.tw">學系信箱</a>spanish@mail.tku.edu.tw（檔名、主旨皆為&rdquo;學程名稱_系級學號姓名＂）。</p>

<p><strong>Q</strong><strong>：我有寄送申請表了，不知系上有否收到</strong><strong>?&nbsp;</strong>&nbsp;<br />
<strong>A</strong><strong>：</strong>本系將陸續收同學的信件，為避免漏件，請交件同學填線上表單（申請前於班級line群公告）。請依學程分表填入姓名學號，本系將於送件前將名單公告於班line群作確認。&nbsp;</p>

<p><strong>Q</strong><strong>：申請前所修的課有算學分？</strong>&nbsp;<br />
<strong>A</strong><strong>：</strong>有的，認證採計在學四年的課程。&nbsp;</p>

<p><strong>Q</strong><strong>：學程證書何時發放？</strong>&nbsp;<br />
<strong>A</strong><strong>：</strong>學程證書須由學生提出認證，經開課系所審核，依教務處公告時程發放學程證書。 近期申請時程詳見本網站課程資訊／學分學程頁面。</p>

<p><strong>Q:一個人只能選一個學程嗎？<br />
A：</strong>學生每學年申請認定學分學程以1個為限，學分學程修讀資格認定後一學年內不得更改。&nbsp;學生得因志趣或其他原因，於次學年依規定，申請其他學分學程。&nbsp;</p>

<p><strong>Q:</strong><strong>若修不完學程學分需要申請放棄嗎？</strong>&nbsp;<br />
<strong>A</strong><strong>：</strong>不需要。因學程的學分可與畢業學分同時認列，不須申請退選。</p>