<p><strong><span style="font-size:14px">一、本系西語能力畢業門檻：</span></strong><br />
　　●大學部：須通過西語測驗等同CEFR B1等級，採計二種測驗類別（DELE；FLPT)；104學年度前入學生須通過DELE語言能力檢定考試A2。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; <strong>FLPT 口試與筆試必須同時通過，方為通過</strong>。</p>

<p><br />
　　●碩士班：通過DELE語言能力檢定考試B1或財團法人語言訓練測驗中心LTTC之外語能力測驗FLPT (西班牙語) 150-194分；口試S-2。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; 參考：<a href="https://www.lttc.ntu.edu.tw/FLPT/Foreign_version/docs/Comparison_List.pdf">FLPT語言能力對照表</a> &nbsp;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">二、</span></strong><strong><span style="font-size:14px">本校英語能力畢業門檻(下列一至四，擇一方式即可)：</span></strong></p>

<p>自108學年度起，英檢畢業門檻的通過方式新增項目說明：</p>

<p>一、通過英文（一）、（二）且英文測驗（二）70分以上。(<a href="https://www.tflx.tku.edu.tw/english/file/1180">查詢連結</a>：英文系網頁英文能力測驗（二）成績 - 總覽列表)</p>

<p>二、依本校「新生抵免英文（一）、英文（二）課程實施要點」申請英文（一）或英文（二）學分抵免通過者。(依照 &quot;<a href="http://www.acad.tku.edu.tw/downs/super_pages.php?ID=RS502">淡江大學學生抵免英文（一）、英文（二）課程實施要點</a>&quot;辦理)</p>

<p>三、參加各式英語能力檢定，通過本校「英語能力檢定畢業門檻實施要點」規定之標準者。若各學院、系、學位學程另訂定較高之英語能力檢定標準，則以其標準為依據。</p>

<p>下表為西語系審核標準表，擇一參加考試：</p>

<p><img class="fr-dii fr-fic" src="/storage/app/media/Spanish/Image%206.png" /></p>

<p>四、以英語為母語之外國學生。</p>

<p>符合以上第一點者，其測驗成績結果會由英文系直接提供給註冊組做畢業資格審核，學生無需提出任何申請；符合第二點者，請至「<a href="http://w3.emis.tku.edu.tw/">淡江大學學分抵免作業系統</a>」提出申請；符合第三點者，請至「<a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">外語能力檢定登錄暨審核系統</a> 」登錄通過之英檢成績，並由所屬系進行審核；符合第四點者，請至註冊組下載、填寫「外籍學生英語能力證明書」，向所屬學系申請英語能力認證。</p>

<p>英語能力檢定畢業門檻相關問題請逕向註冊組詢問（不是問英文系，英文系僅負責提供門檻標準訂定之專業意見與提供替代課程之師資）。</p>

<p>法規彙編：<a href="https://www.tflx.tku.edu.tw/storage/app/media/English/Ellen/5-33%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E8%8B%B1%E8%AA%9E%E8%83%BD%E5%8A%9B%E6%AA%A2%E5%AE%9A%E7%95%A2%E6%A5%AD%E9%96%80%E6%AA%BB%E5%AF%A6%E6%96%BD%E8%A6%81%E9%BB%9E.pdf">5-33淡江大學英語能力檢定畢業門檻實施要點.pdf（108.05.17修正）</a>。</p>

<p>&nbsp;</p>

<p><strong>「進修英文」為非英文系學生未通過本校英語能力檢定畢業門檻之替代課程，屬單學期課程，每學期皆開課，採遠距非同步上課方式。</strong></p>

<p><strong>作業辦法與條件，請參考</strong><a href="https://www.tflx.tku.edu.tw/english/web_page/963"><strong>英文系網頁辦法</strong></a><strong>。</strong></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>三、進修西語選課登記</strong></span></p>

<p>簡介：</p>

<p>1. 未通過西檢考試得以修習補救教學抵免，西檢考試得於四年級下學期(或延畢生延畢學年度下學期)選修本系開設之「進修西語」二學分，及格者始視同通過本系西語能力畢業標準。「進修西語」之學分不計入畢業學分及二分之一學分不及格計算，且該成績不列入學期成績及學業成績平均計算。</p>

<p><span style="color:#ff0000">※西語系延畢生不強制學生一定要透過&ldquo;進修西語&rdquo;方式通過西文檢定門檻，也可以在延畢學年度考取畢業門檻證書，通過畢業門檻，再辦理西檢審核。(如果休學，則會暫停學籍，無法進行審核作業)</span></p>

<p>2. 未有檢定<strong>考試成績單</strong>者，「<strong>不」</strong>得選修進修西語。</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong><span style="color:#000000">3.</span></strong></span>作業辦法：</p>

<p>系上審核成績單，與核對同學加簽資料後，方可加簽進修西語。</p>

<p>a. 申請修讀進修西語需先上傳檢定考試之成績單(檔案需小於1MB)至「<a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">外語能力檢定資料登錄暨審核系統</a>」(系統隨時可以連結網路上傳成績單)，並於系上檢定審核公告之期限內持成績單影本（加註班級、姓名、學號及手機）至系辦登記選課(為下學期的<strong>人工加退選</strong>時段，請留意本系相關之公告)。</p>

<p>b. 請洽助教辦理。(請在<strong>非</strong>助教<strong>授課時間</strong>辦理)</p>

<p>&nbsp;</p>

<p><strong>4.</strong><span style="font-size:14px"><strong><span style="color:#ff0000">110</span></strong>學年度時間：</span></p>

<p><strong>第一次作業時間：</strong></p>

<p>大四上學期第16週</p>

<p>確切時間：<strong>2022年1月3日至2022年1月7日 &nbsp;</strong></p>

<p>&nbsp;</p>

<p><strong>最後一次作業時間：</strong></p>

<p>大四下學期開學第1週「人工加退選」時間，依照人工加退選辦法提供加簽單與相關考試證明。</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>四、通過英西檢之審核流程</strong></span></p>

<p><strong>1、英西檢之審核流程</strong>：</p>

<p>西語系學生：需先上傳檢定考試之成績單至淡江大學註冊組之網頁：「<a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">外語能力檢定資料登錄暨審核系統</a>」(文件需小於1MB, 系統隨時可以連結網路上傳成績單)，並於系上檢定審核公告之期限內持成績單正本及影本（加註班級、姓名、學號及手機）至系辦辦理審核。</p>

<p>※若為雙主修學生，審核西文檢定請登入學校註冊組網頁，下載「<a href="http://www.acad.tku.edu.tw/RS/downs3/archive.php?class=306"><strong>淡江大學學生修讀雙主修語言檢定證明書</strong></a>」填寫完整後，檢附能力檢定證明至系辦審核，審核通過請送至註冊組辦理。</p>

<p><strong>2、考西文檢定之建議</strong>：</p>

<ol>
	<li>Dele考試場次較少，建議最晚大三下學期4、5月份，或提早報名考試。</li>
	<li>考試請自行洽詢：(Dele)歐美亞、文藻外語大學(高雄)；(LTTC)FLPT外語能力測驗。</li>
</ol>

<p style="margin-left:18.0pt">&nbsp;</p>

<p><strong>3、通過英西檢之西語系審核受理時間：</strong></p>

<p>每學期分為三次 (系上審核完畢後請重新登錄系統，再次確認系統上是否有&quot;審核通過&quot;字樣，如有疑義請三天內至系辦辦理更正)</p>

<p><strong><span style="color:#ff0000">110</span></strong>學年度第<strong><span style="color:#ff0000">1</span></strong>學期</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:185px">
			<p>第一階段(第2週)</p>
			</td>
			<td style="width:185px">
			<p>第二階段(第9週)</p>
			</td>
			<td style="width:185px">
			<p>第三階段(第16週)</p>
			</td>
		</tr>
		<tr>
			<td style="width:185px">
			<p>2021年9月27日</p>

			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;至10月1日</p>
			</td>
			<td style="width:185px">
			<p>2021年11月15日</p>

			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;至19日</p>
			</td>
			<td style="width:185px">
			<p>2022年1月3日至1月7日</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><strong><span style="color:#ff0000">110</span></strong>學年度第<span style="color:#ff0000"><strong>2</strong></span>學期</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:185px">
			<p>第一階段(第2週)</p>
			</td>
			<td style="width:185px">
			<p>第二階段(第9週)</p>
			</td>
			<td style="width:185px">
			<p>第三階段(第16週)</p>
			</td>
		</tr>
		<tr>
			<td style="width:185px">
			<p>2022年3月1日</p>

			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;至3月4日</p>
			</td>
			<td style="width:185px">
			<p>2022年4月18日</p>

			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;至22日</p>
			</td>
			<td style="width:185px">
			<p>2022年6月6日</p>

			<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;至10日</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>備註：1. <a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">外語能力檢定資料登錄暨審核系統</a> 隨時都可以上傳成績單，<strong><span style="color:#ff0000">系上受理時間每學期有三次 (已經修畢業學分，只缺英、西檢審核者，不在此限</span></strong>)。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. 西語檢定Dele考試提供證明文件查核：電子成績單(pdf)影印版本或證書正本，查核完畢即歸還。</p>

<p>&nbsp;</p>