<p><strong>Para la obtención del Grado en Lengua y Literatura Española todo estudiante deberá completar 128 créditos en total</strong></p>

<p><strong>De ese total de 128 créditos, 68 corresponden al programa del departamento, de los cuales 18 créditos pertenecen a asignaturas optativas</strong></p>