<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Huevos%20rotos.jpg" class="fr-fic fr-dii" style="width: 154.219px; height: 95.5108px;"></p>

<p><strong>Huevos rotos</strong></p>

<p><strong>Ingredientes (para dos personas)</strong></p>

<p>-Dos patatas grandes 2顆馬鈴薯</p>

<p>-Tres o cuatro huevos 3-4顆蛋</p>

<p>-100 g de panceta 100公克的培根</p>

<p>- Aceite de olviva 橄欖油</p>

<p>-Sal 鹽</p>

<p><strong>Elaboración</strong></p>

<p>Primero pelamos, lavamos, secamos bien las patatas y las cortamos en rodajas finas. A continuación, en una sartén calentamos suficiente aceite de oliva para freír las patatas. Cuando el aceite esté bien caliente, echamos las patatas y las freímos a fuego medio-alto durante unos 8-10 minutos. Cuando las patatas estén blandas y ligeramente doradas, las sacamos de la sartén y las escurrimos.
	<br>首先將馬鈴薯去皮、洗淨、放乾、切成薄片，然後在鍋裡加熱足夠的橄欖油，當油熱時，我們將馬鈴薯扔到中高溫下煎炸約8-10分鐘，當馬鈴薯開始變軟且略微呈褐色時，我們將它們從鍋中取出並瀝乾。</p>

<p>Mientras se escurren las patatas, en la misma sartén que antes, pero con muy poco aceite, freímos las lonchas de panceta, apenas un minuto por cada lado. Luego las sacamos de la sartén y las &nbsp;escurrimos en papel de cocina. Después las troceamos en tiras pequeñas y las reservamos. A continuación, echamos las patatas, ya escurridas, en un recipiente y les añadimos un poco de sal. Seguidamente, sobre las patatas distribuimos los trozos de panceta.
	<br>當馬鈴薯在另一個鍋裡瀝水時，我們用些許油煎培根，每面大約煎一分鐘，然後我們將它們從鍋中取出並將它們倒在廚房紙巾上吸油，切成一條條並保留它們。接下來，我們將已經瀝乾的馬鈴薯放入碗中，加入少許鹽，在上面鋪上培根片。</p>

<p>Luego, en la misma sartén con bastante aceite de oliva, freímos los huevos a fuego medio. Mientras se fríen vamos echando aceite caliente sobre las yemas con la ayuda de una espátula apropiada. Cuando las yemas (todavía sin cuajar) hayan cogido un color blanco, retiramos los huevos de la sartén y los escurrimos. Finalmente, ponemos los huevos sobre las patatas y la panceta y, con la ayuda de dos tenedores o cuchillos, “rompemos” los huevos de manera que tanto la yema como los trozos de clara queden repartidos por todo el plato. Si se desea, al final se puede remover y mezclar todo más (patatas, huevos y panceta) para uniformizar el sabor.
	<br>然後，在同一個裝有足夠橄欖油的平底鍋中，用中火煎雞蛋，同時，我們利用鍋鏟將鍋內熱油倒至蛋黃上。最後，我們將蛋放在馬鈴薯和培根上，在兩把叉子或刀子的幫助下，我們“打破”雞蛋，使蛋黃和白色的碎片分佈在整個菜餚中，如果需要，你可以混合所有東西（馬鈴薯，雞蛋和培根），以便味道均勻。</p>

<p>Receta de José Miguel Blanco Pena</p>
<figure data-label="Huevos rotos.mp4" data-video="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Huevos%20rotos.mp4">&nbsp;</figure>

<p>&nbsp;</p>