<p><img src="/storage/app/media/Spanish/西班牙美食食譜/Foto_Sepia_a_la_plancha.jpg" style="height:115px; width:153px" /></p>

<p style="text-align:justify"><span style="font-size:16px"><strong>Sepia a la plancha</strong></span></p>

<p style="text-align:justify"><strong>Ingredientes (para dos personas)</strong></p>

<p style="margin-left:35.4pt; text-align:justify">-1 sepia 1 隻花枝</p>

<p style="margin-left:35.4pt; text-align:justify">-2 dientes de ajo&nbsp; 2 塊蒜瓣</p>

<p style="margin-left:35.4pt; text-align:justify">-Perejil fresco 新鮮芹菜</p>

<p style="margin-left:35.4pt; text-align:justify">-2 cucharaditas de zumo de lim&oacute;n 2 小匙的檸檬汁</p>

<p style="margin-left:35.4pt; text-align:justify">-1 cucharadita de vinagre 1&nbsp;小匙的醋</p>

<p style="margin-left:35.4pt; text-align:justify">- Aceite de oliva virgen extra 特級初榨橄欖油</p>

<p style="margin-left:35.4pt; text-align:justify">-Sal gruesa 粗鹽</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><strong>Elaboraci&oacute;n</strong></p>

<p style="text-align:justify">Primero preparamos el majado, que reservaremos para el final. En un mortero, se echa y se machacan bien los dos dientes de ajo troceados, el perejil picado, el vinagre, el zumo de lim&oacute;n y la sal. Una vez machacado todo, se a&ntilde;ade un buen chorro de aceite de oliva virgen extra y se remueve bien.<br />
首先，我們準備麵團，將其保留至最後。在研缽中，將兩片切碎的蒜瓣，切碎的芹菜，醋，檸檬汁和鹽倒入並壓碎，之後加入一些特級初榨橄欖油，攪拌均勻。</p>

<p style="text-align:justify">Por otro lado, limpiamos, lavamos y cortamos la sepia en trozos de unos 3x3 cm. A continuaci&oacute;n, ponemos al fuego una sart&eacute;n sin aceite ,y cuando la plancha est&eacute; bien caliente, se echan los trozos de sepia y se saltean durante no m&aacute;s de un minuto, para que suelte el agua. Pasado el minuto, se apaga el fuego y se vierte la sepia en un plato con papel de cocina en el fondo, a fin de que se escurra bien.<br />
另一方面，我們將花枝清洗，洗淨並切成約3x3厘米的碎片。接下來，將花枝放置於一個沒有油的煎鍋加熱去水分（不用太久），約一分鐘後關火，將花枝倒在底部有廚房紙巾的盤子上。<br />
&nbsp;</p>

<p style="text-align:justify">Mientras, esperamos a que se enfr&iacute;e la sart&eacute;n y luego la lavamos bien y la secamos. Ahora la metemos al fuego con un hilo de aceite de oliva. Cuando el aceite est&eacute; caliente, echamos la sepia y la salteamos de nuevo, ahora unos tres minutos. Pasados los tres minutos, vertemos en la sart&eacute;n el majado del mortero y lo mezclamos bien con la sepia, removi&eacute;ndo todo durante unos 8-10 segundos. Apagamos el fuego, echamos la sepia en un reciente y la servimos bien caliente.<br />
同時，我們等待鍋冷卻，然後將其洗淨並乾燥。爾後，我們熱鍋加入橄欖油，然後再次加入花枝煎炒。三分鐘後，將砂漿倒入鍋中，與花枝充分混合，攪拌均勻約8-10秒就完成了。</p>

<p style="text-align:justify">Receta de Jos&eacute; Miguel Blanco Pena</p>

<p style="text-align:justify">
<video controls=""><source src="/storage/app/media/Spanish/西班牙美食食譜/Video Sepia a la plancha.mp4" /></video>
</p>