<p><a href="" src="https://www.youtube.com/embed/RamxFMl0LMM" height="315" frameborder="0" allowfullscreen="">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/RamxFMl0LMM" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;">Vocabulario:</span></p>

<p><strong>1. 滬尾砲台 Fuerte Hobe (Huwei)</strong></p>

<p><strong>2. 省巡撫 gobernador provincial</strong></p>

<p><strong>3. 捍衛 defender</strong></p>

<p><strong>4. 軍事要塞 fortaleza militar</strong></p>

<p><strong>5. 北門鎖鑰 Llave del Portón del Norte (Bei Men Suo Yao)</strong></p>

<p><strong>6. 親筆文 manuscrito</strong></p>

<p><strong>7. 碑文 inscripción / grabado</strong></p>

<p><strong>8. 砲台 batería de artillería</strong></p>

<p><strong>9. 驅離&nbsp;expulsar</strong></p>

<p><strong>10. 燒毀 demoler / desmantelar</strong></p>

<p><strong>11. 撤駐軍 retirar la guarnición militar&nbsp;</strong></p>

<p><strong>12. 駐防 guarnecer la fortaleza</strong></p>

<p><strong>13. 砲塔 cañón /&nbsp;pieza de artillería</strong></p>

<p><strong>14. 國民政府 gobierno nacionalista del Kuomintang / gobierno del Partido Nacionalista (KMT)</strong></p>

<p><strong>15. 派兵駐守 ordenar el estacionamiento de tropas para la defensa</strong></p>

<p><strong>16. 烏啾 drongo negro o real</strong></p>

<p><strong>17. 高爾夫球場 campo de golf</strong></p>

<p><strong>18. 練兵場 campo de entrenamiento militar&nbsp;</strong></p>

<p><strong>19. 正規軍 ejército regular</strong></p>

<p><strong>20. 古墓&nbsp;tumba antigua</strong></p>

<p><strong>21. 軍艦 buque de guerra / armada / flota</strong></p>

<p><strong>22. 棄守 abandonar la resistencia defensiva</strong></p>

<p><strong>23. 提督 comandante en jefe provincial</strong></p>

<p><strong>24. 防禦 fortificación</strong></p>

<p><strong>25. 水雷 minas marinas</strong></p>

<p><strong>26. 封鎖 bloqueo (de una ciudad por parte de la armada enemiga)</strong></p>

<p><strong>27. 監造 supervisar la construcción</strong></p>

<p><strong>28. 勳章 medalla de honor</strong></p>

<p><strong>29. 表揚 galardonar</strong></p>

<p><strong>30. 外僑墓園 cementerio de los extranjeros</strong></p>

<p><strong>31. 戰場 campo de batalla</strong></p>

<p><strong>32. 油坊 taller de molinos de aceite</strong></p>

<p><strong>33. 農曆 calendario lunar (de uso en toda la comunidad china)</strong></p>

<p><strong>34. 重陽節 Festival del Doble Nueve (<em>Festival Chong Yang</em>)</strong></p>

<p><strong>35. 燒王船 ceremonia de quema de barco de Wangye</strong></p>

<p>
	<br>
</p>

<p>&nbsp;</p>