<p><strong>雙主修課程學分</strong></p>

<ol>
	<li>修讀雙主修學生，應修滿加修學系全部專業（門）必修科目與學分始可取得雙主修資格。 (核心課程只要隨原系修讀即可)</li>
	<li>其他相關規定，請逕至<a href="http://&nbsp;http://www.acad.tku.edu.tw&nbsp;">教務處網頁</a>之「法規章程」，參閱「<a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/1cd341483ca0b3674825717800047d6c?OpenDocument">淡江大學學生修讀雙主修辦法</a>」。&nbsp;</li>
	<li>必修加簽：系辦每學期第一週(確切日期由系辦公告)辦理必修課程人工加退選，凡因重修、輔系、雙主修、學程等因素導致衝堂者，須到系辦辦理人工加退選，請依照公告辦理。</li>
</ol>