<p>話說淡水，用外語麥ㄟ通</p>

<p>吳錫德</p>

<p>學習外語需要使用教材（讀本），這是天經地義的事。教材的設計不僅要考慮到信度及效度，更要與時俱進，提供能反映時代的內容，以及使用者熟稔的議題，尤其要能迎合新世代的學習模式及科技介面，以達到便捷化、輕鬆學，方便懂的目標。《話說淡水》這本雙語口譯（會話）教材即考量並兼顧了這些因素。</p>

<p>這本雙語學習教材是一語六版（中文各自搭配英、西、法、德、日、俄文），由本校外語學院多位專兼任老師合作完成，並委由本校出版中心設計編製。它可以當作高年級會話及口譯課堂讀本及自修教材。並利用網路QR Code，將語音檔上傳至Youtube，只要連線，便可隨時隨地利用電腦或手機邊聽邊學。它也可以當成淡水的外語導覽，外國觀光客也可以輕鬆上手，在淡水街頭邊參觀，邊聆聽外語的導覽。</p>

<p>當初編撰這本教材的發想有二：一是國人自編的口譯教材太少，即便有，也大都是零星的講義，或沒有語音搭配，或缺乏系統的整合 。本校日文系李文茹老師多年來將大四日語會話課設計成「知能服務課程」，將學生帶到淡水街頭做日語導覽訓練。另一則是在上海新天地鬧區，看到大陸年輕地陪隨行向幾位外籍觀光客用外語解說景點。我們才設計出這本結合本地化及國際化，又能反映資訊化及未來化的新式教材。前後歷一年半始完成。</p>

<p>由於能透過網路隨時隨地學習，目前已有多家國內網路平台業者主動接洽，將來進行產學合作，開發成外語學習應用程式（APP）。使用者只要上網購買這個軟體，便可在家、或在任何遠端遨遊淡水（我們還附有精美淡水景點照片）。換言之，一位即將出門探訪台灣的外國觀光客，即便還沒出門，就可以熟知淡水的故事。附帶一提的是，淡江人應知淡水事，這本教材也是一本淡水文史導覽，可以讓我們更清楚「家鄉」的故事！</p>