<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/t-f7ezQAMZs" width="560"></iframe></a></p>

<p><span style="font-size:24px"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 列強 potencia extranjera</strong></p>

<p><strong>2. 廟會迎神 peregrinaci&oacute;n y adoraci&oacute;n religiosa</strong></p>

<p><strong>3. 淡水踩街藝術節 Festival Internacional de Arte Ambiental Tamsui (<em>International Environmental Arts Festival</em>)</strong></p>

<p><strong>4. 亞洲藝術村 Feria de la Villa de Artes Asi&aacute;ticas</strong></p>

<p><strong>5. 雲門舞集 Danza Puerta a las Nubes (<em>&nbsp;Cloud Gate Dance Theatre of Taiwan</em>)</strong></p>

<p><strong>6. 一滴水紀念館 Memorial una Gota de Agua (<em>Drop of Water Memorial</em>)</strong></p>

<p><strong>7. 感人 conmovedor</strong></p>

<p><strong>8. 曝光率 cobertura medi&aacute;tica</strong></p>

<p><strong>9. 表演工作坊 taller de representaci&oacute;n teatral</strong></p>

<p><strong>10. 犧牲祭典 ceremonia de sacrificio / sacrificio ritual</strong></p>

<p><strong>11. 水牛 b&uacute;falo de agua</strong></p>

<p><strong>12. 疼惜 mimar</strong></p>

<p><strong>13. 農民 agricultor</strong></p>

<p><strong>14. 養豬公 crianza de ganado porcino</strong></p>

<p><strong>15. 大豬公 &ldquo;Cerdo de Dios&rdquo; / cerdo sobrealimentado / cerdo de mayor peso</strong></p>

<p><strong>16. 流水席 banquete gratis al aire libre</strong></p>

<p><strong>17. 大拜拜 Dai Bai Bai / rito para rendir homenaje / gran ceremonial de adoraci&oacute;n</strong></p>

<p><strong>18. 先民 antepasados</strong></p>

<p><strong>19. 水土不服 aclimataci&oacute;n</strong></p>

<p><strong>20. 瘟疫 pandemia / epidemia</strong></p>

<p><strong>21. 天災 cat&aacute;strofe natural / desastre natural / calmidad natural</strong></p>

<p><strong>22. 消災解厄保平安 ser bendecido y protegido</strong></p>

<p><strong>23. 守護神 deidad protectora / santo patr&oacute;n</strong></p>

<p><strong>24. 西曆 calendario gregoriano</strong></p>

<p><strong>25. 交通管制 control de tr&aacute;fico</strong></p>

<p><strong>26. 萬花筒 calidoscopio</strong></p>

<p><strong>27. 嘉年華會 carnaval</strong></p>

<p><strong>28. 合作 colaboraci&oacute;n</strong></p>

<p><strong>29. 藝術踩街 desfile art&iacute;stico / comparsa</strong></p>

<p><strong>30. 阪神大地震 Terremoto de Kobe</strong></p>

<p><strong>31. 同鄉 paisano / conciudadano</strong></p>

<p><strong>32. 九二一大地震 Sismo de Chichi / terremoto 921</strong></p>

<p><strong>33. 災後重建 recuperaci&oacute;n y reconstrucci&oacute;n post-desastre</strong></p>

<p><strong>34. 災民 v&iacute;ctima (de un desastre)</strong></p>

<p><strong>35. 義工 voluntario</strong></p>