<p><img class="fr-dib fr-fic" src="/storage/app/media/uploaded-files/IMG_20171124_175002_HDR.jpg" style="height:115.101px; width:153px" /></p>

<p style="text-align:justify"><span style="font-size:24px"><strong>Gambas al ajillo</strong></span></p>

<p style="text-align:justify"><span style="font-size:24px"><strong>&nbsp;</strong></span><strong>Ingredientes (para dos personas)</strong></p>

<p style="text-align:justify">&nbsp;-150 ml de aceite de oliva virgen extra &nbsp;品質好及純的橄欖油150毫升</p>

<p style="text-align:justify">&nbsp;-8 dientes de ajo&nbsp; 8片蒜瓣</p>

<p style="text-align:justify">-Un trozo de guindilla picante 1塊辣椒&nbsp;</p>

<p style="text-align:justify">-150 g de gambas peladas 去殼蝦150克</p>

<p style="text-align:justify">-Sal 鹽巴</p>

<p style="text-align:justify">Elaboraci&oacute;n: Primero pelamos los ajos y los cortamos en l&aacute;minas. Luego calentamos el aceite en la sart&eacute;n. Cuando est&eacute; caliente, echamos los ajos y el trozo de guindilla. Los salteamos removiendo durante un par de minutos. Cuando los ajos est&eacute;n un poco dorados, echamos las gambas, a&ntilde;adimos un poco de sal y las salteamos junto con los ajos y la guindilla durante 1-2 minutos. Luego apagamos el fuego y tapamos la sart&eacute;n durante un minuto. Destapamos y servimos.&nbsp;<br />
步驟: 首先，將蒜剝皮並將他切成薄片；接著，在平底鍋中先將油加熱，當油熱時，將蒜和辣椒倒入。蒜和辣椒要邊煎邊翻動幾分鐘，當算有點金黃色時，我們再將蝦倒入、加入一點鹽巴後和蒜及辣椒一起翻炒1到2分鐘。 接著關掉火後，將平底鍋蓋住悶幾分鐘。 開蓋後即可食用。</p>

<p style="text-align:justify">Receta de Jos&eacute; Miguel Blanco Pena&nbsp;</p>

<p>&nbsp;</p>

<p>
<video controls=""><source src="/storage/app/media/Spanish/西班牙美食食譜/Receta de Gambas al ajillo.mp4" /></video>
</p>