<p><a href="" src="https://www.youtube.com/embed/o2hmZyFQtDE" height="315" frameborder="0" allowfullscreen="">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/o2hmZyFQtDE" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;">Vocabulario:</span></p>

<p><strong>1. 林蔭步道 senderos arbolados / senderos poblados de arboles</strong></p>

<p><strong>2. 水上舞台 encenario flotante</strong></p>

<p><strong>3. 觀潮灣 puesto para observar el oleaje del río (mirador a la orilla del río)</strong></p>

<p><strong>4. 榕樹 higuera de Bengala (<em>Ficus microcarpa</em>)</strong></p>

<p><strong>5. 乘涼 relajarse en un lugar fresco</strong></p>

<p><strong>6. 通車 abrir al público / entrar en operación (un medio de transporte)</strong></p>

<p><strong>7. 賠錢 perder dinero / tener pérdidas (en un negocio)</strong></p>

<p><strong>8. 創紀錄 establecer un récord</strong></p>

<p><strong>9. 河堤 orilla de un río</strong></p>

<p><strong>10. 沙丁魚 sardina (un tipo de pez)</strong></p>

<p><strong>11. 民歌 canción popular (canción folclórica)</strong></p>

<p><strong>12. 國立台北藝術大學 Universidad Nacional Taipéi de las Artes (Taipei National University of the Arts)</strong></p>

<p><strong>13. 魚腥味 olor a pescado</strong></p>

<p><strong>14. 編劇 guión teatral / libreto de una obra de teatro</strong></p>

<p><strong>15. 外景隊 grupo de teatro itinerante</strong></p>

<p><strong>16. 黃昏 crepúsculo / caída de la noche / anochecer</strong></p>

<p><strong>17. 斜坡 pendiente escalonada</strong></p>

<p><strong>18. 閣樓 ático / desván</strong></p>

<p><strong>19. 朝聖地 lugar de peregrinación</strong></p>

<p><strong>20. 填詞 escribir letras de canciones</strong></p>

<p><strong>21. 反省 reflexionar</strong></p>

<p><strong>22. 吶喊 clamor / grito</strong></p>

<p><strong>23. 台灣本土意識 ideología local de Taiwán (taiwanismo)</strong></p>

<p><strong>24. 靈魂人物 ser el alma de / ser el pionero de</strong></p>

<p><strong>25. 觀眾 espectador / audiencia / público (en un espectáculo o evento)</strong></p>

<p><strong>26. 歌謠 balada / canción</strong></p>