<p><strong>A0359 Spanish Conversation I (4/4): </strong>This course deals with the listening and speaking abilities involved in everyday Spanish, such as greetings, personal information, description of surroundings, etc.</p>

<p><strong>A0360 Spanish Conversation II (4/4): </strong>This course practices more phrases, tenses and grammar concepts through listening and oral practice in order to improve students&rsquo; Spanish communication ability.</p>

<p><strong>A0361 Spanish Conversation III (4/4): </strong>Student will learn to develop their communicative competence and amplify their understanding of Spanish culture through conversation.</p>

<p><strong>A0362 Spanish Conversation IV (2/2):&nbsp; </strong>This is an advanced conversation course that provides further training in Spanish speaking and listening. It aims to help students express opinions on various topics fluently.</p>

<p><strong>F1365 Listening Comprehension and Pronunciation in Spanish</strong><strong> I (2/2):&nbsp; </strong>This course offers students training in listening by using audio tapes and basic conversation practice with laboratory equipment.</p>

<p><strong>A1301 Spanish Audio Practice II (2/2):&nbsp; </strong>This course is a continuation of Spanish Audio Practice I, in which students practice certain sentence patterns by listening and speaking.</p>

<p><strong>A1452 Spanish Composition I (2/2):&nbsp; </strong>This course cultivates students&rsquo; Spanish writing techniques in reading as well as rhetoric.</p>

<p><strong>A1453 Spanish Composition II (2/2):&nbsp; </strong>This course involves learning how to write compositions with more complicated sentence structures, vocabulary, and grammar concepts in a superior level.</p>

<p><strong>F0049 Elementary Spanish Grammar (4/4): </strong>This course provides general concepts of Spanish grammar, from the basic conjugation of verbs to simple sentence patterns.</p>

<p><strong>F0054 Intermediate Spanish Grammar (4/4): </strong>This course is a continuation of Elementary Spanish Grammar. In addition to the review of elementary Spanish grammar, this course provides a deeper exploration of the conjugation of verbs and other tenses.</p>

<p><strong>F0739 Advanced Spanish Grammar (2/2): </strong>The goals of this course include both improving students&rsquo; skill in communicating in Spanish using correct grammar, and improving students&rsquo; knowledge of the Hispanic world.</p>

<p><strong>F0141 Introduction to Spanish Literature (2/0):&nbsp; </strong>This course is an introduction to the history of Spanish literature from Medieval Literature to the Renaissance with an emphasis on the study and analysis of major literary works.</p>

<p><strong>F1357 Reading and Writing in Spanish </strong><strong>(2/2):&nbsp; </strong>The content of this course matches that of Elementary Spanish Grammar, while also providing a basic introduction to the course &lsquo;Spanish Composition I&rsquo;. In this course, students have more opportunities to practice sentence-construction and thereby improve their grammar.</p>

<p><strong>F1366 Hispanic Culture (2/2):&nbsp; </strong>The aim of this class is based on the teaching of the knowledge relative to the Spanish and Latinamerican Culture in order that the students learn and</p>

<p>establish a Spanish generic and complete panorama by means of the cultural discipline.</p>

<p><strong>F1033 Translation of Spanish (I) (2/2):&nbsp; </strong>This course is an elemental course for oral interpretation and translation. The objective is to practice basic Spanish syntax.</p>

<p><strong>F1034 Translation of Spanish (II) (2/2):&nbsp; </strong>This is an intermediate course for translation skills with an aim to train the translation skills from Chinese into Spanish, and <em>vice versa</em>.</p>

<p><strong>F1395 Spanish Lexicon and Reading (2/2): </strong>Through readings of selected articles, this course aims to improve students&rsquo; vocabulary in all aspects of daily life.</p>

<p><strong>F0778 Spanish for Tourism (2/2): </strong>&nbsp;This course provides students with knowledge about tourism and helps to expand students&rsquo; tourism-related vocabulary in Spanish.</p>

<div><strong>F0132 Hispanic Art&nbsp; (2/2):&nbsp; </strong>This course offers an introduction to the different periods of Spanish art and presents masters such as El Greco, Vel&aacute;zquez, Goya, Picasso, Mir&oacute;, Dal&iacute;, Gaud&iacute;, etc., with an emphasis on the study and analysis of major art works.</div>

<p><strong>F1431 Contrast and Application between Chinese and Spanish (2/2): </strong>Students will gain a basic understanding of Spanish phonetics, phonology, morphology and syntax, in contrast with mandarin.</p>

<p><strong>F1394 Listening Comprehension and Pronunciation in Spanish (II) (2/2):</strong> &nbsp;Student will learn to develop their communicative competence, amplify their understanding of Spanish and listening, comprehension and pronunciation in Spanish.</p>

<p><strong>F1489 Teaching Elementary Chinese to Spanish Speakers (2/2): </strong>The objective of this course is to train the students to use Spanish to facilitate the teaching of Chinese as a foreign language and to acquire basic Spanish and Chinese language learning knowledge in order to reach this objective.</p>

<p><strong>F1490 Hispanic Literature and Life (2/2):</strong> The objective of this subject is to enjoy Literature as an interesting, exciting and imaginative experience, and to learn more about the Hispanic language and culture. Second Semester: Hispanic-American authors.</p>

<p><strong>F1504 Business Spanish (2/2):</strong> Introduction to Spanish for Business, level B1-B2- CEFR. This course will introduce the students to the business world in Spanish. They will practice all language skills of this specific field starting from level B1.</p>

<p><strong>F0</strong><strong>7</strong><strong>40 Superior Spanish Grammar (2/2):&nbsp; </strong>This advanced level course is designed for students who have learned Spanish for three years. Along with a review of advanced Spanish grammar, the analysis of the style and its usages in different texts is also an important issue.</p>

<p><strong>F1836 Tour Guiding interpretation of Hispanic Culture (2/2): </strong>This course offers participants the opportunity to develop the technical, social skills needed to deliver tour guiding service for tourists.</p>

<p><strong>F1837 Performance and Theater Arts in Spanish (2/2):</strong> The objective of the course is to familiarize students with theater, poetry and literature in the Spanish language through its most representative works, and to train them, through the Theatrical Graduation Function, in basic skills: cooperation and teamwork. The final project of the course, requires active participation from the students in multiple tasks: acting, directing, costume creation, makeup, translation, lighting, sound effects, management, etc.</p>

<p><strong>F1838 Teaching Advanced Chinese to Spanish Speakers (2/2):</strong> The objective of this course is to train the students to use Spanish to facilitate the teaching of Chinese as a foreign language and to acquire basic Spanish and Chinese language learning knowledge in order to reach this objective.</p>

<p><strong>F1839 Analysis of Hispanic Cinema (2/2): </strong>This course is an introduction to Spanish Cinema: its history, and its icons. Alongside this content, students will acquire knowledge and specific vocabulary regarding relevant concepts and cinematic techniques.</p>

<p><strong>F1840 Fundamentals of Business Spanish (2/2):</strong> This course offers theoretical and practical concepts in commercial and business Spanish providing students a general knowledge of international trading.</p>