<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/fNrzglmG5SI" width="560"></iframe></a></p>

<p><strong>Vocabulario:</strong></p>

<p><strong>1.渡船頭 muelle / estaci&oacute;n de ferry o transbordadores</strong></p>

<p><strong>2. 風帆 velero / embarcaci&oacute;n de vela</strong></p>

<p><strong>3. 傳說 relato / leyenda</strong></p>

<p><strong>4. 日據時代 Periodo de la Ocupaci&oacute;n Japonesa</strong></p>

<p><strong>5. 浮動式碼頭 dique flotante / muelle flotante</strong></p>

<p><strong>6. 藍色公路 Hidrov&iacute;a Azul</strong></p>

<p><strong>7. 停靠 atracar (en el muelle un barco)</strong></p>

<p><strong>8. 銜接 conectar / servir de conexi&oacute;n entre</strong></p>

<p><strong>9. 左岸 ribera izquierda (del r&iacute;o)</strong></p>

<p><strong>10. 路基 trazo de la v&iacute;a</strong></p>

<p><strong>11. 火車支線 carril ferroviario</strong></p>

<p><strong>12. 流動人口 poblaci&oacute;n&nbsp;flotante / circulaci&oacute;n poblacional</strong></p>

<p><strong>13.&nbsp;夕照 ocaso / puesta de sol</strong></p>

<p><strong>14. 燒酒<em>&nbsp;sake&nbsp;</em>(un tipo de licor)</strong></p>

<p><strong>15. 風琴 acorde&oacute;n</strong></p>

<p><strong>16. 流浪 deambular / rondar</strong></p>

<p><strong>17. 癡情 infatuaci&oacute;n / pasi&oacute;n ciega</strong></p>

<p><strong>18. 虛華 perseguir lujo y riqueza</strong></p>

<p><strong>19. 導覽 recorrido guiado /<em>&nbsp;tour</em></strong></p>

<p><strong>20. 生態 ecolog&iacute;a</strong></p>

<p><strong>21. 陸客 turista de China continental</strong></p>