<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>
			<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
				<tbody>
					<tr>
						<td>
						<h3><strong>大學部學系 教育目標</strong></h3>
						</td>
					</tr>
					<tr>
						<td>
						<p>一、奠定學生西語基本能力。<br />
						Providing students with proficiency in Spanish.&nbsp;</p>

						<p>二、培養具國際觀全方位的西語溝通人才。<br />
						Cultivating students&rsquo; global vision to become well-rounded Spanish speaking talents.</p>

						<p>三、培育自主學習西語能力及健全文化素養。<br />
						Developing students&rsquo; autonomy in learning Spanish and cultural competence.</p>

						<p>四、建立未來職場西語專業領域。<br />
						Establishing professional workplace Spanish for the future.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>