<p><a href="">&quot;&gt;<iframe frameborder="0" height="315" src="https://www.youtube.com/embed/zBESymd9NOY" width="560"></iframe></a></p>

<p>&nbsp;</p>

<p>Ay<br />
Fonsi<br />
DY<br />
Oh<br />
Oh no, oh no<br />
Oh yeah<br />
Diridiri, dirididi Daddy<br />
Go</p>

<p>S&iacute;, sabes que ya llevo un rato mir&aacute;ndote <strong>是的，妳知道我已經注視妳好久了</strong><br />
Tengo que bailar contigo hoy (DY) <strong>今天我要和妳共舞</strong><br />
Vi que tu mirada ya estaba llam&aacute;ndome <strong>我看得到，妳的目光一直在呼喚我</strong><br />
Mu&eacute;strame el camino que yo voy (Oh) <strong>向我展示那條我將要踏上的道路</strong></p>

<p>T&uacute;, t&uacute; eres el im&aacute;n y yo soy el metal <strong>&nbsp;</strong><strong>妳，妳像是磁鐵，而我是被妳吸引的金屬</strong><br />
Me voy acercando y voy armando el plan <strong>我正一步步靠近，開始做我早想對妳做的事</strong><br />
Solo con pensarlo se acelera el pulso (Oh yeah) <strong>只是稍作遐想，我的脈博就加速跳動</strong></p>

<p>Ya, ya me est&aacute; gustando m&aacute;s de lo normal <strong>如今，如今我正享受這不尋常的刺激</strong><br />
Todos mis sentidos van pidiendo m&aacute;s <strong>我所有的感官都在尋求更多的快感</strong><br />
Esto hay que tomarlo sin ning&uacute;n apuro <strong>沒有東西能阻擋我的慾望</strong></p>

<p>Despacito <strong>輕輕地</strong><br />
Quiero respirar tu cuello despacito <strong>我想在妳的頸邊輕輕地呼吸</strong><br />
Deja que te diga cosas al o&iacute;do <strong>讓我在妳的耳旁傾訴心聲</strong><br />
Para que te acuerdes si no est&aacute;s conmigo <strong>為了讓妳牢記，哪怕妳不在我身邊</strong></p>

<p>Despacito <strong>慢慢地</strong><br />
Quiero desnudarte a besos despacito <strong>我想用吻慢慢褪去妳的衣裳</strong><br />
Firmo en las paredes de tu laberinto <strong>在妳婀娜多姿的身上刻下我的名字</strong><br />
Y hacer de tu cuerpo todo un manuscrito (sube, sube, sube) <strong>讓妳全身上下都變成我的作品</strong><br />
(Sube, sube)</p>

<p>Quiero ver bailar tu pelo <strong>我想看妳的秀髮飄揚</strong><br />
Quiero ser tu ritmo <strong>我想要跟隨妳的節奏</strong><br />
Que le ense&ntilde;es a mi boca <strong>讓妳描繪我的嘴唇</strong><br />
Tus lugares favoritos (favoritos, favoritos baby) <strong>和那些妳最愛的部位</strong><strong>(</strong><strong>妳最愛的最愛的</strong><strong>)</strong></p>

<p>D&eacute;jame sobrepasar tus zonas de peligro <strong>讓我進入妳的危險地帶</strong><br />
Hasta provocar tus gritos <strong>直到刺激出妳的叫聲</strong><br />
Y que olvides tu apellido (Diridiri, dirididi Daddy) <strong>忘我地叫到忘記自己姓什麼</strong></p>

<p>Si te pido un beso ven d&aacute;melo <strong>如果我跟妳索吻，就給我一個吻</strong><br />
Yo s&eacute; que est&aacute;s pens&aacute;ndolo <strong>我知道妳想吻我</strong><br />
Llevo tiempo intent&aacute;ndolo <strong>我也想吻妳很久了</strong><br />
Mami, esto es dando y d&aacute;ndolo <strong>寶貝，這是互惠的關係</strong><br />
Sabes que tu coraz&oacute;n conmigo te hace bom, bom <strong>妳知道和我在一起時，妳的心總是撲通撲通</strong><br />
Sabes que esa beba est&aacute; buscando de mi bom, bom <strong>妳知道寶貝妳也在尋找我撲通撲通的心</strong><br />
Ven prueba de mi boca para ver c&oacute;mo te sabe <strong>嚐嚐我的雙唇，看嚐起來是不是妳想的那樣</strong><br />
Quiero, quiero, quiero ver cu&aacute;nto amor a ti te cabe <strong>我想我想看妳能容納多少愛</strong><strong>&nbsp;</strong><br />
Yo no tengo prisa, yo me quiero dar el viaje <strong>我不慌不忙，我想來場冒險</strong><br />
Empecemos lento, despu&eacute;s salvaje <strong>我們先慢慢開始，刺激的還在後頭</strong></p>

<p>Pasito a pasito, suave suavecito <strong>一步一步，慢慢地靠近</strong><br />
Nos vamos pegando poquito a poquito <strong>一點一點，我們的身體緊黏著</strong><br />
Cuando t&uacute; me besas con esa destreza <strong>當你技巧高超的吻著我</strong><br />
Veo que eres malicia con delicadeza <strong>我看到你準備做一些壞壞的事情</strong></p>

<p>Pasito a pasito, suave suavecito <strong>一步一步，慢慢地靠近</strong><br />
Nos vamos pegando, poquito a poquito <strong>一點一點，我們的身體緊黏著</strong><br />
Y es que esa belleza es un rompecabezas <strong>眼前的美景就像是拼圖</strong><br />
Pero pa montarlo aqu&iacute; tengo la pieza <strong>由我來親手完成</strong></p>

<p>Despacito <strong>輕輕地</strong><br />
Quiero respirar tu cuello despacito <strong>我想在妳的頸邊輕輕地呼吸</strong><br />
Deja que te diga cosas al o&iacute;do <strong>讓我在妳的耳旁傾訴心聲</strong><br />
Para que te acuerdes si no est&aacute;s conmigo <strong>為了讓妳牢記，哪怕妳不在我身邊</strong></p>

<p>Quiero desnudarte a besos despacito <strong>我想用吻慢慢褪去妳的衣裳</strong><br />
Firmo en las paredes de tu laberinto <strong>在妳婀娜多姿的身上刻下我的名字</strong><br />
Y hacer de tu cuerpo todo un manuscrito (sube, sube, sube) <strong>讓妳全身上下都變成我的作品</strong></p>

<p>(Sube, sube)</p>

<p>Quiero ver bailar tu pelo <strong>我想看妳的秀髮飄揚</strong><br />
Quiero ser tu ritmo <strong>我想要跟隨妳的節奏</strong><br />
Que le ense&ntilde;es a mi boca <strong>讓妳描繪我的嘴唇</strong><br />
Tus lugares favoritos (favoritos, favoritos baby) <strong>和那些妳最愛的部位</strong><strong>(</strong><strong>妳最愛的最愛的</strong><strong>)</strong></p>

<p>D&eacute;jame sobrepasar tus zonas de peligro <strong>讓我進入妳的危險地帶</strong><br />
Hasta provocar tus gritos <strong>直到讓妳放聲尖叫</strong><br />
Y que olvides tu apellido <strong>忘我地叫到忘記自己姓什麼</strong></p>

<p>Despacito <strong>慢慢來</strong><br />
Vamos a hacerlo en una playa en Puerto Rico <strong>我們要在波多黎各的海邊做樂</strong><br />
Hasta que las olas griten &quot;&iexcl;ay, bendito!&quot; <strong>直到連海浪都喊著：「噢老天啊！」</strong><br />
Para que mi sello se quede contigo　<strong>讓我在妳身上烙下印記</strong></p>

<p>Pasito a pasito, suave suavecito <strong>一步一步，慢慢地靠近</strong><br />
Nos vamos pegando, poquito a poquito　<strong>一點一點，我們的身體緊黏著</strong><br />
Que le ense&ntilde;es a mi boca <strong>讓妳描繪我的嘴唇</strong><br />
Tus lugares favoritos (favoritos, favoritos baby)　<strong>和那些妳最愛的部位</strong><strong>(</strong><strong>寶貝最愛的最愛的</strong><strong>)</strong></p>

<p>Pasito a pasito, suave suavecito　<strong>一步一步，慢慢地靠近</strong><br />
Nos vamos pegando, poquito a poquito <strong>一點一點，我們的身體緊黏著</strong><br />
Hasta provocar tus gritos　<strong>直到讓妳放聲尖叫</strong><br />
Y que olvides tu apellido (DY)　<strong>忘我地叫到忘記自己姓什麼</strong><br />
Despacito　<strong>慢慢來吧</strong></p>