<p>除了學校所提供的各項獎學金之外，另由本系系友捐資，設立各類獎學金供學生申請，獎助金額每學超過20萬元。
	<br>
	<br>申請時間於每學期期中考之後公告，申請者經本系獎學金委員會審查遴選後，於期末頒發。計有以下獎學金：
	<br>
	<br>黃志忠紀念獎學金（每學期10,000元，2名）
	<br>馮之洵、常鴻貞紀念獎學金（每學期5,000元，2名）
	<br>加倍奉還勵學扶助金（每名12000元）
	<br>翰陞勵學助學金（每學期10,000元，3名）
	<br>Formosa教學助理助學金（每學期10,000元，最多10名）
	<br>Formosa留學獎學金（每名5,0000元，名額不限）
	<br>Formosa西檢獎勵金（C1每名20,000元;B2每名10,000元，名額不限）
	<br>金象獎學金（每學期5,000元，每班1名）
	<br>張茂椿老師獎學金（每名12,000元）
	<br>振斌獎學金（每名12,000元）
	<br>
	<br>詳細資訊請查看本系系網資源下載區。</p>