<p><strong>A0359 Spanish Conversation I (4/4): </strong>This course deals with the listening and speaking abilities involved in everyday Spanish, such as greetings, personal information, description of surroundings, etc.</p>

<p><strong>A0360 Spanish Conversation II (4/4): </strong>This course practices more phrases, tenses and grammar concepts through listening and oral practice in order to improve students&rsquo; Spanish communication ability.</p>

<p><strong>A0361 Spanish Conversation III (4/4): </strong>Student will learn to develop their communicative competence and amplify their understanding of Spanish culture through conversation.</p>

<p><strong>A0362 Spanish Conversation IV (2/2):&nbsp; </strong>This is an advanced conversation course that provides further training in Spanish speaking and listening. It aims to help students express opinions on various topics fluently.</p>

<p><strong>F1365 Listening Comprehension and Pronunciation in Spanish</strong><strong> I (2/2):&nbsp; </strong>This course offers students training in listening by using audio tapes and basic conversation practice with laboratory equipment.</p>

<p><strong>A1301 Spanish Audio Practice II (2/2):&nbsp; </strong>This course is a continuation of Spanish Audio Practice I, in which students practice certain sentence patterns by listening and speaking.</p>

<p><strong>A1452 Spanish Composition I (2/2):&nbsp; </strong>This course cultivates students&rsquo; Spanish writing techniques in reading as well as rhetoric.</p>

<p><strong>A1453 Spanish Composition II (2/2):&nbsp; </strong>This course involves learning how to write compositions with more complicated sentence structures, vocabulary, and grammar concepts in a superior level.</p>

<p><strong>F0049 Elementary Spanish Grammar (4/4): </strong>This course provides general concepts of Spanish grammar, from the basic conjugation of verbs to simple sentence patterns.</p>

<p><strong>F0054 Intermediate Spanish Grammar (4/4): </strong>This course is a continuation of Elementary Spanish Grammar. In addition to the review of elementary Spanish grammar, this course provides a deeper exploration of the conjugation of verbs and other tenses.</p>

<p><strong>F0739 Advanced Spanish Grammar (2/2): </strong>The goals of this course include both improving students&rsquo; skill in communicating in Spanish using correct grammar, and improving students&rsquo; knowledge of the Hispanic world.</p>

<p><strong>F0141 Introduction to Spanish Literature (2/0):&nbsp; </strong>This course is an introduction to the history of Spanish literature from Medieval Literature to the Renaissance with an emphasis on the study and analysis of major literary works.</p>

<p><strong>F1357 Reading and Writing in Spanish </strong><strong>(2/2):&nbsp; </strong>The content of this course matches that of Elementary Spanish Grammar, while also providing a basic introduction to the course &lsquo;Spanish Composition I&rsquo;. In this course, students have more opportunities to practice sentence-construction and thereby improve their grammar.</p>

<p><strong>F1366 Hispanic Culture (2/2):&nbsp; </strong>The aim of this class is based on the teaching of the knowledge relative to the Spanish and Latinamerican Culture in order that the students learn and</p>

<p>establish a Spanish generic and complete panorama by means of the cultural discipline.</p>

<p><strong>F0724 Applied Spanish (2/2): </strong>&nbsp;This course helps students gain a global, integrated vision of the field of international business. It focuses on commerce-based terminology and transactions, such as business letters, inquiries, quotations, orders, invoicing, requesting payment and business etiquette.</p>

<p><strong>F1033 Translation of Spanish (I) (2/2):&nbsp; </strong>This course is an elemental course for oral interpretation and translation. The objective is to practice basic Spanish syntax.</p>

<p><strong>F1034 Translation of Spanish (II) (2/2):&nbsp; </strong>This is an intermediate course for translation skills with an aim to train the translation skills from Chinese into Spanish, and <em>vice versa</em>.</p>

<p><strong>F0738 Introduction to Latin-American Literature (0/2): </strong>The goal of this course is to acquire knowledge of the culture of the Hispanic world and its masterpieces of literature.</p>

<p><strong>F0</strong><strong>7</strong><strong>40 Superior Spanish Grammar (2/2):&nbsp; </strong>This advanced level course is designed for students who have learned Spanish for three years. Along with a review of advanced Spanish grammar, the analysis of the style and its usages in different texts is also an important issue.</p>

<p><strong>F0775 Spanish Lexicon and Reading I (2/2): </strong>&nbsp;Through readings of selected articles, this course aims to improve students&rsquo; vocabulary in all aspects of daily life.</p>

<p><strong>F0776 Introduction to Spanish Linguistics (2/2):&nbsp; </strong>This course aims to help students better understand the origins of Spanish vocabulary. Through repeated practice in class, students will come to recognize the vocabulary words in their daily use and thus be inspired to continue on the magical journey of learning Spanish. In addition, this course also teaches students to apply linguistic theories to discourse analysis.</p>

<p><strong>F0777 Spanish Lexicon and Reading II (2/2): </strong>&nbsp;This course develops students&rsquo; reading ability by focusing on selected readings with an emphasis on Spanish vocabulary, sentence structures and idioms.</p>

<p><strong>F0778 Spanish for Tourism (2/2): </strong>&nbsp;This course provides students with knowledge about tourism and helps to expand students&rsquo; tourism-related vocabulary in Spanish.</p>

<p><strong>F0779 </strong><strong>Masterpieces of Spanish novel</strong><strong> (2/0):&nbsp; </strong>This course aims to help students develop familiarity and fluency in the structure and topics of Spanish literature.</p>

<p><strong>F0920 Applied Spanish Teaching Chinese to Foreigners (2/2): </strong>&nbsp;This course trains students to use Spanish in the teaching of Chinese as a foreign language. It helps students acquire basic knowledge and skills to reach this objective.</p>

<p><strong>F0132 Hispanic Art&nbsp; (2/2):&nbsp; </strong>This course offers an introduction to the different periods of Spanish art and presents masters such as El Greco, Vel&aacute;zquez, Goya, Picasso, Mir&oacute;, Dal&iacute;, Gaud&iacute;, etc., with an emphasis on the study and analysis of major art works.</p>

<p><strong>F0780 Masterpieces of Spanish Drama (0/2): </strong>This course offers students the chance to develop competence in the structure and topics of Spanish literature.</p>