<p>En 1962 inauguramos el departamento de español más antiguo de Taiwán. Ya en 1992, pasó a formar parte de la Facultad de Lenguas y Literaturas Extranjeras con unos objetivos prioritarios: que los graduados pudieran comunicarse con fluidez en español, que fuesen capaces de enseñar español a otros aprendientes y que jugaran un papel relevante en las relaciones multilaterales entre Taiwán y los países de habla hispana.</p>

<p>
	<br>
</p>

<p>Para lograr esos objetivos, el departamento ha diseñado un plan de estudios con materias que van desde el aprendizaje y enseñanza de E/LE, hasta las asignaturas de cultura, y organiza diversas actividades para ayudar a los alumnos a practicar español y experimentar las culturas de los países hispanos.</p>

<p>
	<br>
</p>

<p>Las características más destacadas de este departamento son su orientación internacional, sus programas de intercambio con universidades extranjeras, su dinamismo en la organización de eventos nacionales e internacionales y su visión de futuro.</p>