<p>用書資訊以老師宣布為主，附件為可以在上林書局與敦煌書局購買之書籍清單參考。</p>

<p>&nbsp;</p>

<p>1. 上林書局購書請見本學年度上林售書時間表，按照駐點時間購買，若超過駐點日期，請洽書商校外購買。</p>

<p>&nbsp;</p>

<p>2. 敦煌書局購書請至學校商管大樓3樓書局選購，或洽各書商實體或網路門市購買。</p>

<p>&nbsp;</p>

<p>&nbsp;</p>