<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/gzGQw79RuqQ" width="560"></iframe></a></p>

<p><strong>Vocabulario:</strong></p>

<p><strong>1. 馬偕紀念醫院&nbsp;Hospital Conmemorativo a Mackay</strong></p>

<p><strong>2. 傳教 predicar la religi&oacute;n / predicar el evangelio / evangelizar</strong></p>

<p><strong>3. 基督長老教會 Iglesia Presbiteriana</strong></p>

<p><strong>4. 募款 recaudar fondos</strong></p>

<p><strong>5. 中法滬尾之役 Batalla de Hobe ( durante la Guerra Sino-Francesa)</strong></p>

<p><strong>6. 拔牙 extracc<strong>i&oacute;n dental&nbsp;</strong> </strong></p>

<p><strong><strong>7. 蛀牙 caries dental</strong> </strong></p>

<p><strong><strong>8. 種子 semilla</strong> </strong></p>

<p><strong><strong>9. 蘿蔔 nabo (un tipo de r&aacute;bano)</strong> </strong></p>

<p><strong><strong>10. 甘藍菜 col</strong> </strong></p>

<p><strong><strong>11. 花椰菜&nbsp;</strong> </strong> <strong>br<strong><strong>&oacute;</strong> </strong> coli</strong></p>

<p><strong>12. 圓環 rotonda ( retorno circular de una calle)</strong></p>

<p><strong>13. 半身雕像 busto / estatua de medio cuerpo</strong></p>

<p><strong>14. 榮譽市民 ciudadano ilustre / hijo adoptivo /&nbsp;ciudadano honorario (de una ciudad o pa&iacute;s)</strong></p>

<p><strong>15. 欽佩 admirable / loable / encomiable</strong></p>

<p><strong>16. 籌資 / 集資 recaudac<strong><strong>i&oacute;n de fondos</strong> </strong> </strong></p>

<p><strong><strong><strong>17. 分院 sucursal hospitalaria / filial hospitalaria /&nbsp;dependencia hospitalaria</strong> </strong> </strong></p>

<p><strong><strong><strong>18. 馬偕護校 Escuela de Enfermer<strong>&iacute;a Mackay</strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong>19. 馬偕醫學院 Escuela de Medicina Mackay</strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong>20. 作曲家 compositor / arreglista musical</strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong>21. 購地 adquisici&oacute;n de terrenos / compra de tierra</strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong>22. 場景 escenario</strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong>23. 仿哥德式 imitaci<strong><strong><strong><strong>&oacute;n del estilo g<strong><strong><strong><strong>&oacute;tico</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>24. 鐘塔 campanario / torrecilla</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>25. 天花板 techo</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>26. 古風琴 <strong><strong><strong><strong>&oacute;rgano antiguo ( instrumento musical)</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>27. 屋頂 tejado / techado</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>28. 寫生 bosquejar / plasmar sobre el lienzo</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>29. 牧師 pastor / misionero / predicador / evangelista</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>30. 傳播基督教福音 propagar el evangelio de Jes&uacute;s / difundir el evangelio</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>31. 牛津學堂 Centro de Ense&ntilde;anza Oxford ( actual Universidad&nbsp;Aletheia /<em>&nbsp;Aletheia University</em>)</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>32. 真理大學 Universidad <strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>Aletheia <em>(Aletheia University)</em></strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><em>33.&nbsp;</em>婦學堂 Escuela para Se<strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>&ntilde;oritas</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>34. 拜占庭式建築 arquitectura de estilo bizantino / construcci<strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>&oacute;n&nbsp;de estilo bizantino</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>35. 幾何學 geometr&iacute;a</strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></p>