<p><strong>一、</strong><strong>課程規劃</strong></p>

<ol>
	<li>基礎西語課程：大一、大二開設有文法、會話、閱讀與習作，及聽力與發音等課程，穩固基礎西語能力。</li>
	<li>進階西語課程：大三、大四除原有之文法與會話課程外，亦增加作文與翻譯，強化寫作與翻譯能力。</li>
	<li>多元選修課程：除了語言文化課程，亦開設多門實務選修課程如：商務西文、西語經貿實務、西語華語教學、觀光西語、西語文化導覽&hellip;&hellip;等，依個人興趣選修。</li>
	<li>搭配學程進行職涯規劃：以職涯地圖概念，搭配學程規劃與未來職場連結之修課方向，計有翻譯、商務、旅遊、華語教學、文化等五大類</li>
</ol>

<p><strong>二、課程地圖</strong></p>

<p><img class="fr-dii fr-fic" src="/storage/app/media/Spanish/%E8%AA%B2%E7%A8%8B/1091217107110.jpg" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>