<p>一、針對本系大學部107-110學年度新的課程結構，相關應修科目異動及替代如下:</p>

<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 本系</strong><strong>107學年度以前入學生</strong><strong>重（補）修科目替代表</strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="width:732px">
	<tbody>
		<tr>
			<td style="height:32px; width:143px">
			<p style="text-align:center">必修科目</p>
			</td>
			<td style="height:32px; width:84px">
			<p style="text-align:center">原開課學分數</p>
			</td>
			<td style="height:32px; width:150px">
			<p style="text-align:center">替代課程</p>
			</td>
			<td style="height:32px; width:205px">
			<p style="text-align:center">說明</p>
			</td>
		</tr>
		<tr>
			<td style="width:143px">
			<p>西班牙文造句練習</p>
			</td>
			<td style="width:84px">
			<p>一，必2/2</p>
			</td>
			<td style="width:150px">
			<p>西班牙文閱讀與習作(一，必2/2)</p>
			</td>
			<td style="width:205px">
			<p>107學年度起實施</p>
			</td>
		</tr>
		<tr>
			<td style="width:143px">
			<p>西班牙文學概論</p>
			</td>
			<td style="width:84px">
			<p>三，必2/0</p>
			</td>
			<td style="width:150px">
			<p>西語國家文學與生活(2/0)</p>
			</td>
			<td style="width:205px">
			<p>109學年度起實施</p>
			</td>
		</tr>
		<tr>
			<td style="width:143px">
			<p>拉丁美洲文學概論</p>
			</td>
			<td style="width:84px">
			<p>三，必0/2</p>
			</td>
			<td style="width:150px">
			<p>西語國家文學與生活(0/2)</p>
			</td>
			<td style="width:205px">
			<p>109學年度起實施</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>二、「中國語文能力表達」課程學分替代案說明如下：</p>

<div><strong>說　明：</strong></div>

<ol>
	<li>配合學分調整，自106學年度入學新生起，原通識必修科目「中國語文能力表達」由3學分異動為2學分。</li>
	<li>105（含）學年度以前入學學生適用學分替代方案如下：</li>
</ol>

<table align="left" border="1" cellpadding="0" cellspacing="0" style="width:660px">
	<thead>
		<tr>
			<th style="height:54px; width:223px">
			<p>必修名稱及學分數</p>

			<p>(105(含)學年度以前入學學生)</p>
			</th>
			<th style="height:54px; width:187px">
			<p>107學年度起開課情形</p>
			</th>
			<th style="height:54px; width:245px">
			<p>不足1學分替代方案</p>
			</th>
		</tr>
		<tr>
			<th style="height:88px; width:223px">
			<p>中國語文能力表達</p>

			<p>(3學分/單學期)</p>
			</th>
			<th style="height:88px; width:187px">
			<p>中國語文能力表達</p>

			<p>(2學分/單學期)</p>
			</th>
			<th style="height:88px; width:245px">
			<p>修課學分滿足所屬學系畢業學分數即可。</p>
			</th>
		</tr>
	</thead>
</table>