<p>1962年&nbsp;西班牙語系成立</p>

<p>1984年&nbsp;和哥斯大黎加大學締結姊妹校</p>

<p>1988年&nbsp;和拿瓦拉大學締結姊妹校</p>

<p>1988年 開辦暑期研修團至西班牙短期研修一個月</p>

<p>1992年&nbsp;和墨西哥州自治大學締結姊妹校</p>

<p>1993年起舉辦教學、文化與翻譯研討會，每兩年定期舉辦</p>

<p>1994年首次選派學生至西班牙姊妹校拿瓦拉大學修習學分一年，自此開啟每年一次選派學生出國進行一個月或一年的研修。</p>

<p>1999年&nbsp;和智利大學締結姊妹校</p>

<p>2002年至2018年間推薦學生爭取巴拿馬政府獎學金，赴巴拿馬研修語言專業課程。</p>

<p>2006年&nbsp;西語系碩士班成立</p>

<p>2009年6月&nbsp;成立中華民國淡江大學西班牙語文學系同學會</p>

<p>2012年起選派學生至卡斯蒂利亞曼查大學研修暑期課程以及大三出國課程</p>

<p>2015年起選派學生至阿爾卡拉大學研修暑期課程</p>

<p>2016-2017年 選派學生參與與穆爾西亞大學共同進行之Erasmus +交換學生計劃</p>

<p>2017年起選派學生至阿爾卡拉大學研修大三出國課程</p>

<p>2018-2019年 每學期推派一名學生至卡斯蒂利亞曼查大學參與華語教學TA計劃</p>

<p>2018年&nbsp;西語系碩士班停招</p>

<p>2018年與商管學院國際企業學系合作開設「淡江大學西語國際企業學分學程」</p>

<p>2018年起開設「企業實習」選修課，並於2019年首次派遣2位學生前往墨西哥企業進行暑期實習。</p>

<p>&nbsp;</p>

<p>茲臚列75年以後之歷任系主任如下：</p>

<p>熊建成（67.08~78.07)</p>

<p>白方濟（78.08~84.07)</p>

<p>王秀琦（84.08～86.07）</p>

<p>宮國威（86.08～92.07）</p>

<p>王秀琦（92.08～95.07）</p>

<p>宮國威（95.08～97.07）</p>

<p>吳&nbsp; 寬（97.08～101.07）</p>

<p>林盛彬（101.08～105.07）</p>

<p>林惠瑛（105.08～109.07）</p>

<p>劉愛玲（109.08～）</p>