<h1 style="text-align:center;"><span style="font-size:36px;">107學年度頂石課程成果展</span></h1>

<p style="text-align:center;">&nbsp;</p>

<p style="text-align:center;"><span style="font-size:10px;"><img class="fr-dii fr-fic" src="https://www.tfsx.tku.edu.tw/storage/app/media/11.jpg" style="width:623px;"></span></p>

<p><span style="font-size:20px;">※</span><span style="font-family:Verdana,Geneva,sans-serif;"><span style="font-size:22px;">頂石課程</span><span style="font-size:18px;">(請點選標題觀看)</span></span></p>

<p><strong><span style="font-size:20px;"><span style="font-family:Verdana,Geneva,sans-serif;">海報組：</span></span></strong></p>

<p style="margin-left:40px;"><span style="font-size:16px;">優勝組一：</span><span style="font-size:18px;">&nbsp;</span></p>

<p style="margin-left:80px;"><a href="https://drive.google.com/file/d/1CQ2jpldWds1UPtbUvMz20v7oTiLcaSnS/view?usp=sharing"><span style="font-size:18px;"><strong>路名音譯探討</strong></span></a></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>周秉瑩</strong> 羅少鈞 侯淇文</span></p>

<p style="margin-left:120px;"><span style="font-size:16px;">林佳儀 張天愛 謝文彬</span></p>

<p style="margin-left:40px;"><span style="font-size:16px;">優勝組二：</span></p>

<p style="margin-left:80px;"><span style="font-size:18px;">&nbsp;<a href="https://drive.google.com/file/d/19VX0Knh2xxyIaO-CIVFSZPMSa_Yi42YU/view?usp=sharing"><strong>淡水景點介紹</strong></a></span></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>于慕樺</strong> 陳若宣 邱俐馨</span></p>
<div>

	<p style="margin-left:120px;"><span style="font-size:16px;">陳玟蓉 郭孝彤 黃梓瑄</span></p>
</div>

<p><strong><span style="font-size:20px;"><span style="font-family:Verdana,Geneva,sans-serif;">影片組：</span></span></strong></p>

<p style="margin-left:40px;"><span style="font-size:16px;">第一名：</span></p>

<p style="margin-left:80px;"><span style="font-size:16px;">&nbsp;</span><span style="font-size:18px;"><a href="https://www.youtube.com/watch?v=2zJPH-q5-wU">殼牌倉庫（DEPÓSITOS DE LA EMPRESA PETROLERA SHELL）</a></span></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>林品榕</strong> 張瑜庭 劉書妤</span></p>

<p style="margin-left:120px;"><span style="font-size:16px;">李芷熒 吳庭瑄 丁瑞陽</span></p>

<p style="margin-left:40px;"><span style="font-size:16px;">第二名：&nbsp;</span></p>

<p style="margin-left:80px;"><span style="font-size:18px;"><a href="https://www.youtube.com/watch?v=TGcR23pBO0w&amp;t=1s">淡水河岸（RIBERAS DEL RÍO TAMSUI）</a></span></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>崔筱菁</strong> 梁嘉晏 王子弦</span></p>

<p style="margin-left:120px;"><span style="font-size:16px;">林庭瑜 黃思瑋 蕭翔齡</span></p>

<p style="margin-left:40px;"><span style="font-size:16px;">第三名：<a href="https://www.youtube.com/watch?v=P7Z0KlqtHi4">&nbsp;</a></span></p>

<p style="margin-left:80px;"><span style="font-size:18px;"><a href="https://www.youtube.com/watch?v=P7Z0KlqtHi4">紅毛城（FUERTE DE SANTO DOMINGO）</a></span></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>方雁瑢</strong> 陳憶菁 沈佳盈</span></p>

<p style="margin-left:120px;"><span style="font-size:16px;">謝季樺 徐采婷 王瑞綺 陳珉尼</span></p>

<p style="margin-left:40px;"><span style="font-size:16px;">第四名：&nbsp;</span></p>

<p style="margin-left:80px;"><span style="font-size:18px;"><a href="https://www.youtube.com/watch?v=waFJ_hTzRzc&amp;t=1s">淡水小吃（APERITIVOS EN TAMSUI）</a></span></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>陳孝恩</strong> 陳宇萱 莊婉柔</span></p>

<p style="margin-left:120px;"><span style="font-size:16px;">楊芷芸 林繼祥</span></p>

<p style="margin-left:40px;"><span style="font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-size:18px;">&nbsp; <a href="https://www.youtube.com/watch?v=fkXshXG6Xsk&amp;t=2s">河岸自行車道（CICLOPISTA RIBEREÑA DEL RÍO TAMSUI）</a></span></p>

<p style="margin-left:120px;"><span style="font-size:16px;"><strong>佟卓航</strong> 陳懿欣 陳品吟</span></p>

<p style="margin-left:120px;"><span style="font-size:16px;">邱唯晴 張一弛 徐鑫媛 陳嘉寧</span></p>

<h1 style="margin-left:80px;">&nbsp;</h1>