<h1><strong>國際移動學習</strong></h1>

<p><strong>大三出國</strong></p>

<p>本系學生在修習完1年半的課程之後，可以報名甄選大三出國，至馬德里的阿爾卡拉大學或昆卡的卡斯提亞拉曼查大學學習，依照同學程度進行分班，並與其他國家的國際學生一同上課，為期9個月，拓展國際視野，深造西語能力，實際體驗熱情豐富的西班牙文化。</p>

<p>&nbsp;</p>

<p><strong>暑期遊學團</strong></p>

<p>本系大一到大三的同學都可以申請暑期遊學團，課程為1個月，至馬德里的阿爾卡拉大學或昆卡的卡斯提亞拉曼查大學學習，厚實西語能力，開拓新「視」界。</p>

<p>&nbsp;</p>

<p><strong>Erasmus+</strong></p>

<p>獎學金交換計劃：本系與西班牙穆爾西亞大學自105學年度起開始實施交換學生計劃，學習時間1學期到1年，經過甄選學生能安排西語或文化相關課程，並隨班附讀，和西班牙或其他國際學生交流，自主並深入地學習。</p>

<p>&nbsp;</p>

<p><strong>姐妹校交換生</strong></p>

<p>每年由本校<a href="http://www.oieie.tku.edu.tw/zh_tw/news/OverseasStudents">國際處甄選姐妹校交換生</a>，至西班牙、墨西哥、澳門、大陸(北京外國語大學、南京大學)等地留學。</p>