<p><strong>Learn Spanish</strong></p>

<p>網址:<a href="http://www.lingolex.com/spanish.htm">http://www.lingolex.com/spanish.htm</a></p>

<p><img src="/storage/app/media/Spanish/Learn Spanish.png" style="height:279px; width:500px" /></p>

<p><strong>CNN Spanish website</strong></p>

<p>網址:<a href="http://cnnespanol.cnn.com/">http://cnnespanol.cnn.com/</a></p>

<p><img src="/storage/app/media/Spanish/CNN.png" style="height:279px; width:500px" /></p>

<p><strong>ZONAELE</strong></p>

<p>網址:<a href="http://zonaele.com/">http://zonaele.com/</a></p>

<p><img src="/storage/app/media/Spanish/ZONAELE.png" style="height:279px; width:500px" /></p>

<p><strong>BBC (Spanish)</strong></p>

<p>網址:<a href="http://www.bbc.co.uk/languages/spanish/">http://www.bbc.co.uk/languages/spanish/</a></p>

<p><img src="/storage/app/media/Spanish/BBC.png" style="height:279px; width:500px" /></p>

<p><strong>Best Spanish Websites</strong></p>

<p>網址:<a href="https://sites.uni.edu/becker/Spanish3.html">https://sites.uni.edu/becker/Spanish3.html</a></p>

<p><img src="/storage/app/media/Spanish/Best Spanish Websites.png" style="height:273px; width:500px" /></p>

<p><strong>多語莫敵網路學習站 (Mutilanguage&nbsp;leaning</strong>)</p>

<p><img src="/storage/app/media/Spanish/Image 10.png" style="height:276px; width:500px" /></p>