<p><img src="/storage/app/media/Spanish/西班牙美食食譜/Foto_tortilla.png" style="height:123px; width:153px" /></p>

<p><span style="font-size:16px"><strong>Tortilla de patata</strong></span></p>

<p><strong>Ingredientes (para dos personas)</strong></p>

<p style="margin-left:35.4pt">-2 patatas grandes 2顆馬鈴薯</p>

<p style="margin-left:35.4pt">-4 huevos majos 4顆蛋</p>

<p style="margin-left:35.4pt">-Aceite de oliva 橄欖油</p>

<p style="margin-left:35.4pt">-Sal 鹽</p>

<p>&nbsp;</p>

<p style="text-align:justify"><strong>Elaboraci&oacute;n</strong></p>

<p style="text-align:justify">Primero pelamos, lavamos y secamos bien las patatas. Luego las cortamos en l&aacute;minas finas y peque&ntilde;as. A continuaci&oacute;n, fre&iacute;mos las patatas cortadas en una sart&eacute;n con abundante aceite de oliva, durante unos 7-8 minutos.<br />
首先將馬鈴薯皮削掉，清洗和乾燥好。然後，我們切成細板和中小板，放進油鍋煎炒約7-8分鐘。</p>

<p style="text-align:justify">Mientras se fr&iacute;en las patatas, batimos bien los huevos en un bol amplio y los reservamos. Cuando las patatas est&eacute;n hechas, es decir, blandas y doradas, las sacamos del fuego y las escurrimos. Una vez escurridas, les echamos sal. Luego mezclamos bien las patatas con la mezcla de huevo.<br />
當馬鈴薯仔煎炒同時，我們準備一個大碗和在裡面打蛋。當馬鈴薯煮熟變軟呈金黃色後，我們從鍋裡取出放一旁。當其瀝乾後，撒上鹽巴，之後，將馬鈴薯與蛋液拌勻。</p>

<p style="text-align:justify">Seguidamente, en una sart&eacute;n caliente con un poco de aceite, echamos la mezcla y vamos cuajando la tortilla a fuego medio-alto. Utilizamos una esp&aacute;tula para aplastar suavemente la tortilla y despegarla de los bordes. Al mismo tiempo, vamos moviendo la sart&eacute;n en c&iacute;rculos para que la tortilla no se pegue y nos quede redonda.<br />
然後，在用少量油以中火煎煮上一步驟完成的馬鈴薯，必須用鍋鏟輕輕壓碎它。同時，我們要不時搖晃平底鍋以防馬鈴薯烘蛋黏鍋。</p>

<p style="text-align:justify">Despu&eacute;s de 1-2 minutos, le damos las vuelta a la tortilla, con cuidado, usando un plano llano de tama&ntilde;o un poco mayor que la sart&eacute;n. Repetimos la operaci&oacute;n de aplastar, despegar y girar la tortilla. (Si se quiere la tortilla m&aacute;s hecha, damos la vuelta dos veces m&aacute;s a la tortilla). Despu&eacute;s de 1-2 minutos apagamos el fuego y volteamos de nuevo la tortilla en el plato.<br />
約1-2分鐘後，將其翻面，記得使用尺寸比原鍋略大的盤子，反覆操作。1-2分鐘後關火，就完成了。</p>

<p>Receta de Jos&eacute; Miguel Blanco Pena</p>

<p>
<video controls=""><source src="/storage/app/media/Spanish/西班牙美食食譜/Tortilla de patata.mp4" /></video>
</p>

<p>&nbsp;</p>