<p><span style="font-size:22px"><strong>110學年度大學甄選入學個人申請【審查資料】審查評量尺規 (<a href="/storage/app/media/Spanish/%E6%8B%9B%E7%94%9F/110GUIDE.pdf">按此下載</a></strong></span><span style="font-size:22px"><strong>)</strong></span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:22px">111學年度「大學個人申請入學」招生簡章校系分則</span></strong><img src="/storage/app/media/Spanish/%E6%8B%9B%E7%94%9F/111%E5%80%8B%E7%94%B3%E7%B0%A1%E7%AB%A0_%E8%A5%BF%E8%AA%9E.jpg" /></p>