<p>說明：</p>

<p><span lang="ZH-HK">一、</span>配合<span lang="ZH-HK">教育部</span>政策並為<span lang="ZH-HK">掌握</span>學生<span lang="ZH-HK">畢業後發展及在學期間學習成效</span>，本校每年進行「畢業滿1、3、5年畢業生流向追蹤問卷調查」並加以分析，藉以<span lang="ZH-HK">提供各系所人才養成方向參考依據，並將學生就業情形、學用相符程度等</span>資訊<span lang="ZH-HK">公布於「校務資訊公開專區」，以利各界瞭解學校之辦學績效。</span></p>

<p><span lang="ZH-HK">二、</span><strong><span lang="ZH-HK">本年度</span></strong><strong>作業，</strong><strong><span lang="ZH-HK">委由專業</span></strong><strong>電訪</strong><strong><span lang="ZH-HK">之校友企業進行問</span></strong><strong>卷</strong><strong><span lang="ZH-HK">調查。</span></strong><span lang="ZH-HK">相</span>關<span lang="ZH-HK">調查對象、時</span>間<span lang="ZH-HK">、網址及</span>業務查詢<span lang="ZH-HK">聯</span>絡，說明<span lang="ZH-HK">如下：</span></p>

<p><span lang="ZH-HK">問卷</span>調查<span lang="ZH-HK">對象：</span><span lang="EN-US">108</span><span lang="ZH-HK">、</span><span lang="EN-US">106</span><span lang="ZH-HK">、</span><span lang="EN-US">104</span><span lang="ZH-HK">學年度</span><span lang="EN-US">(109</span><span lang="ZH-HK">、</span><span lang="EN-US">107</span><span lang="ZH-HK">、</span><span lang="EN-US">105</span><span lang="ZH-HK">年</span><span lang="EN-US">)</span><span lang="ZH-HK">畢業滿</span><span lang="EN-US">1</span><span lang="ZH-HK">、</span><span lang="EN-US">3</span><span lang="ZH-HK">、</span><span lang="EN-US">5</span><span lang="ZH-HK">年學生</span><span lang="EN-US">(</span><span lang="ZH-HK">正式學籍本國籍畢業生</span><span lang="EN-US">)</span></p>

<p><span lang="ZH-HK">問卷調查時間：</span><span lang="EN-US">110</span><span lang="ZH-HK">年</span><span lang="EN-US">7</span><span lang="ZH-HK">月</span><span lang="EN-US">1</span><span lang="EN-US">5</span><span lang="ZH-HK">日至</span><span lang="EN-US">110</span><span lang="ZH-HK">年</span><span lang="EN-US">10</span><span lang="ZH-HK">月</span><span lang="EN-US">15</span><span lang="ZH-HK">日止</span></p>

<p><span lang="ZH-HK">問卷調查網址：</span>由<strong>校友服務暨資源發展處</strong>首頁進入<span lang="ZH-HK">：</span><span lang="EN-US"><a href="https://www.fl.tku.edu.tw/zh_tw/p/survey" target="_blank">https://www.fl.tku.edu.tw/zh_tw/p/survey</a></span></p>

<p>由<strong>淡江大學</strong>首頁進入：首頁 〉校友 〉校友服務 〉通訊<span lang="EN-US">/</span>問卷調查 〉畢業校友離校後問卷調查 〉問卷調查系統</p>

<p><span lang="ZH-HK">問卷填寫 聯絡電話：</span><span lang="EN-US">(02)2775-9730&nbsp;</span><span lang="ZH-HK">呂小姐</span></p>

<p><span lang="ZH-HK">業務問題 聯絡電話：</span><span lang="EN-US">(02)2621-5656#812</span><span lang="EN-US">3&nbsp;</span>校友處</p>

<p><span lang="ZH-HK">各</span><span lang="EN-US">&nbsp;&nbsp;</span><span lang="ZH-HK">系</span><span lang="EN-US">&nbsp;&nbsp;</span><span lang="ZH-HK">所</span><span lang="EN-US">&nbsp;(02)2621-5656&nbsp;</span><span lang="ZH-HK">轉各系、所</span></p>

<p><span lang="ZH-HK">聯絡</span><span lang="EN-US">E-mail</span><span lang="ZH-HK">：</span><span lang="EN-US"><a target="_blank">fl@oa.tku.edu.tw</a></span></p>