<p><a class="fr-file" href="/storage/app/media/uploaded-files/.pdf">翰陞勵學獎學金頒發辦法.pdf</a></p>

<p><a class="fr-file" href="/storage/app/media/uploaded-files/tfsx-p07-105-1.pdf">翰陞勵學獎學金申請書TFSX-P07-105-1.pdf</a></p>