<p><img src="/storage/app/media/Spanish/西班牙美食食譜/Huevos rotos.jpg" style="height:95px; width:153px" /></p>

<p><span style="font-size:16px"><strong>Huevos rotos</strong></span></p>

<p><strong>Ingredientes (para dos personas)</strong></p>

<p style="margin-left:35.4pt">-Dos patatas grandes 2顆馬鈴薯</p>

<p style="margin-left:35.4pt">-Tres o cuatro huevos 3-4顆蛋</p>

<p style="margin-left:35.4pt">-100 g de panceta 100公克的培根</p>

<p style="margin-left:35.4pt">- Aceite de olviva 橄欖油</p>

<p style="margin-left:35.4pt">-Sal 鹽</p>

<p style="text-align:justify"><strong>Elaboraci&oacute;n</strong></p>

<p style="text-align:justify">Primero pelamos, lavamos, secamos bien las patatas y las cortamos en rodajas finas. A continuaci&oacute;n, en una sart&eacute;n calentamos suficiente aceite de oliva para fre&iacute;r las patatas. Cuando el aceite est&eacute; bien caliente, echamos las patatas y las fre&iacute;mos a fuego medio-alto durante unos 8-10 minutos. Cuando las patatas est&eacute;n blandas y ligeramente doradas, las sacamos de la sart&eacute;n y las escurrimos.<br />
首先將馬鈴薯去皮、洗淨、放乾、切成薄片，然後在鍋裡加熱足夠的橄欖油，當油熱時，我們將馬鈴薯扔到中高溫下煎炸約8-10分鐘，當馬鈴薯開始變軟且略微呈褐色時，我們將它們從鍋中取出並瀝乾。</p>

<p style="text-align:justify">Mientras se escurren las patatas, en la misma sart&eacute;n que antes, pero con muy poco aceite, fre&iacute;mos las lonchas de panceta, apenas un minuto por cada lado. Luego las sacamos de la sart&eacute;n y las &nbsp;escurrimos en papel de cocina. Despu&eacute;s las troceamos en tiras peque&ntilde;as y las reservamos. A continuaci&oacute;n, echamos las patatas, ya escurridas, en un recipiente y les a&ntilde;adimos un poco de sal. Seguidamente, sobre las patatas distribuimos los trozos de panceta.<br />
當馬鈴薯在另一個鍋裡瀝水時，我們用些許油煎培根，每面大約煎一分鐘，然後我們將它們從鍋中取出並將它們倒在廚房紙巾上吸油，切成一條條並保留它們。接下來，我們將已經瀝乾的馬鈴薯放入碗中，加入少許鹽，在上面鋪上培根片。</p>

<p style="text-align:justify">Luego, en la misma sart&eacute;n con bastante aceite de oliva, fre&iacute;mos los huevos a fuego medio. Mientras se fr&iacute;en vamos echando aceite caliente sobre las yemas con la ayuda de una esp&aacute;tula apropiada. Cuando las yemas (todav&iacute;a sin cuajar) hayan cogido un color blanco, retiramos los huevos de la sart&eacute;n y los escurrimos. Finalmente, ponemos los huevos sobre las patatas y la panceta y, con la ayuda de dos tenedores o cuchillos, &ldquo;rompemos&rdquo; los huevos de manera que tanto la yema como los trozos de clara queden repartidos por todo el plato. Si se desea, al final se puede remover y mezclar todo m&aacute;s (patatas, huevos y panceta) para uniformizar el sabor.<br />
然後，在同一個裝有足夠橄欖油的平底鍋中，用中火煎雞蛋，同時，我們利用鍋鏟將鍋內熱油倒至蛋黃上。最後，我們將蛋放在馬鈴薯和培根上，在兩把叉子或刀子的幫助下，我們&ldquo;打破&rdquo;雞蛋，使蛋黃和白色的碎片分佈在整個菜餚中，如果需要，你可以混合所有東西（馬鈴薯，雞蛋和培根），以便味道均勻。</p>

<p style="text-align:justify">Receta de Jos&eacute; Miguel Blanco Pena</p>

<p>
<video controls=""><source src="/storage/app/media/Spanish/西班牙美食食譜/Huevos rotos.mp4" /></video>
</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>