<p>Ay<br />
Fonsi<br />
DY<br />
Oh<br />
Oh no, oh no<br />
Oh yeah<br />
Diridiri, dirididi Daddy<br />
Go</p>

<p>S&iacute;, sabes que ya llevo un rato mir&aacute;ndote&nbsp; &nbsp;<strong>Yes, you know that I&rsquo;ve been looking at you for a long time</strong></p>

<p>Tengo que bailar contigo hoy (DY) <strong>I must dance with you today (DY)</strong><br />
Vi que tu mirada ya estaba llam&aacute;ndome&nbsp;<strong> I saw that the look in your eyes was calling me</strong></p>

<p>Mu&eacute;strame el camino que yo voy (Oh)<strong> Show me the path that I will take (Oh)</strong></p>

<p>T&uacute;, t&uacute; eres el im&aacute;n y yo soy el metal&nbsp;&nbsp;<strong>You, you&rsquo;re the magnet and I&rsquo;m</strong> the metal</p>

<p><br />
Me voy acercando y voy armando el plan <strong>I am getting closer and making a plan</strong><br />
Solo con pensarlo se acelera el pulso (Oh yeah)&nbsp; <strong>Simply thinking about it makes my heart race (Oh yeah)</strong></p>

<p>Ya, ya me est&aacute; gustando m&aacute;s de lo normal&nbsp; <strong>&nbsp;Now, I&rsquo;m already liking it more than usual</strong><br />
Todos mis sentidos van pidiendo m&aacute;s&nbsp;<strong>&nbsp;All of my senses are asking for more</strong><br />
Esto hay que tomarlo sin ning&uacute;n apuro&nbsp;<strong>We cannot do this in a rush</strong></p>

<p>Despacito <strong>Slowly</strong></p>

<p>Quiero respirar tu cuello despacito<strong> I want to breathe in your neck slowly</strong><br />
Deja que te diga cosas al o&iacute;do <strong>Let me murmur things in your ear </strong><br />
Para que te acuerdes si no est&aacute;s conmigo&nbsp;<strong>So that you remember if you&rsquo;re not with me</strong></p>

<p>Despacito <strong>Slowly</strong><br />
Quiero desnudarte a besos despacito <strong>I want to undress you in kisses slowly</strong><br />
Firmo en las paredes de tu laberinto <strong>Firmly in the walls of your labyrinth</strong><br />
Y hacer de tu cuerpo todo un manuscrito (sube, sube, sube) <strong>And of your body, I want to create a manuscript</strong><br />
(Sube, sube) <strong>Up up&nbsp;</strong></p>

<p>Quiero ver bailar tu pelo&nbsp;<strong>I want to see your hair dance</strong></p>

<p>Quiero ser tu ritmo <strong>I want to be your rhythm</strong><br />
Que le ense&ntilde;es a mi boca <strong>Want you to show my mouth</strong><br />
Tus lugares favoritos (favoritos, favoritos baby)&nbsp;<strong>Your favorite places (Favorite, favorite baby)</strong></p>

<p>D&eacute;jame sobrepasar tus zonas de peligro <strong>Let me trespass your danger zones</strong><br />
Hasta provocar tus gritos <strong>Until I make you scream</strong><br />
Y que olvides tu apellido (Diridiri, dirididi Daddy)&nbsp;<strong>And you forget your last name</strong></p>

<p>Si te pido un beso ven d&aacute;melo <strong>If I ask for a kiss come give it to me</strong><br />
Yo s&eacute; que est&aacute;s pens&aacute;ndolo&nbsp;&nbsp;<strong>I know that you&rsquo;re thinking about it</strong><br />
Llevo tiempo intent&aacute;ndolo&nbsp;<strong>I&rsquo;ve been trying to do it for awhile</strong><br />
Mami, esto es dando y d&aacute;ndolo&nbsp;&nbsp;<strong>Mami this is giving and giving it to you</strong><br />
Sabes que tu coraz&oacute;n conmigo te hace bom, bom <strong>You know that with me your heart goes bom bom</strong><br />
Sabes que esa beba est&aacute; buscando de mi bom, bom <strong>You know that from me that babe is looking for a bom bom</strong><br />
Ven prueba de mi boca para ver c&oacute;mo te sabe <strong>Come try my mouth and see if you like its taste</strong><br />
Quiero, quiero, quiero ver cu&aacute;nto amor a ti te cabe <strong>I want to see how much love fits in you</strong><br />
Yo no tengo prisa, yo me quiero dar el viaje <strong>I&rsquo;m not in a rush I want to experience this trip</strong><br />
Empecemos lento, despu&eacute;s salvaje&nbsp;<strong>Let&rsquo;s start slowly, then savagely</strong></p>

<p>Pasito a pasito, suave suavecito <strong>Step by step, soft then softly</strong><br />
Nos vamos pegando poquito a poquito <strong>We come up against each other, little by little</strong><br />
Cuando t&uacute; me besas con esa destreza&nbsp;&nbsp;<strong>When you kiss me in that state of distress</strong><br />
Veo que eres malicia con delicadeza&nbsp;<strong>I see that you are malice and delicacy</strong></p>

<p>Pasito a pasito, suave suavecito <strong>Step by step, soft then softly</strong><br />
Nos vamos pegando, poquito a poquito <strong>We come up against each other, little by little</strong><br />
Y es que esa belleza es un rompecabezas <strong>And it&rsquo;s just that your beauty is a puzzle</strong><br />
Pero pa montarlo aqu&iacute; tengo la pieza&nbsp;<strong>But to finish it here I have the missing piece</strong></p>

<p>Despacito <strong>Slowly</strong></p>

<p>Quiero respirar tu cuello despacito<strong> I want to breathe in your neck slowly</strong><br />
Deja que te diga cosas al o&iacute;do <strong>Let me murmur things in your ear </strong><br />
Para que te acuerdes si no est&aacute;s conmigo&nbsp;<strong>So that you remember if you&rsquo;re not with me</strong></p>

<p>Despacito <strong>Slowly</strong><br />
Quiero desnudarte a besos despacito <strong>I want to undress you in kisses slowly</strong><br />
Firmo en las paredes de tu laberinto <strong>Firmly in the walls of your labyrinth</strong><br />
Y hacer de tu cuerpo todo un manuscrito (sube, sube, sube) <strong>And of yo</strong><strong>r body, I want to create a manuscript (up up up)</strong></p>

<div>(Sube, sube) <strong>Up up&nbsp;</strong></div>

<div>
<p>Quiero ver bailar tu pelo&nbsp;<strong>I want to see your hair dance</strong></p>

<p>Quiero ser tu ritmo <strong>I want to be your rhythm</strong><br />
Que le ense&ntilde;es a mi boca <strong>Want you to show my mouth</strong><br />
Tus lugares favoritos (favoritos, favoritos baby)&nbsp;<strong>Your favorite places (Favorite, favorite baby)</strong></p>

<p>D&eacute;jame sobrepasar tus zonas de peligro <strong>Let me trespass your danger zones</strong><br />
Hasta provocar tus gritos <strong>Until I make you scream</strong><br />
Y que olvides tu apellido (Diridiri, dirididi Daddy)&nbsp;<strong>And you forget your last name</strong></p>
</div>

<p>Despacito <strong>Slowly</strong><br />
Vamos a hacerlo en una playa en Puerto Rico <strong>We&rsquo;re gonna do it on a beach in Puerto Rico</strong><br />
Hasta que las olas griten &quot;&iexcl;ay, bendito!&quot; <strong>Until the waves scream Oh Lord</strong><br />
Para que mi sello se quede contigo　<strong>So that my seal stays with you</strong></p>

<p>Pasito a pasito, suave suavecito <strong>Step by step, soft then softly</strong><br />
Nos vamos pegando, poquito a poquito　<strong>We come up against each other, little by little</strong></p>

<p>Que le ense&ntilde;es a mi boca&nbsp;&nbsp;<strong>I want you to show my mouth</strong><br />
Tus lugares favoritos (favoritos, favoritos baby)　<strong>Your favorite places (Favorite, favorite baby)</strong></p>

<p>Pasito a pasito, suave suavecito　<strong>Step by step, soft then softly</strong><br />
Nos vamos pegando, poquito a poquito <strong>We come up against each other, little by little</strong><br />
Hasta provocar tus gritos　<strong>Until I make you scream</strong><br />
Y que olvides tu apellido (DY)　<strong>And you forget your last name</strong><br />
Despacito　<strong>Slowly</strong></p>