<p><a href="">&quot;&gt;<iframe frameborder="0" height="315" src="https://www.youtube.com/embed/2aX2_lLLn3k" width="560"></iframe></a></p>

<p>&nbsp;</p>

<p><strong>Vocabulario:</strong></p>

<p>&nbsp;</p>

<p><strong>1. 小吃 aperitivo</strong></p>

<p><strong>2. 魚丸 bola de pescado / alb&oacute;ndiga de pescado</strong></p>

<p><strong>3. 魚酥 galleta de pescado frito</strong></p>

<p><strong>4. 鐵蛋 huevo de hierro</strong></p>

<p><strong>5. 地中海菜 cocina mediterr&aacute;nea</strong></p>

<p><strong>6. 大宴 banquete culinario</strong></p>

<p><strong>7. 夜市 mercado nocturno</strong></p>

<p><strong>8. 政治人物 pol&iacute;tico (persona dedicada a alg&uacute;n tipo de actividad pol&iacute;tica)</strong></p>

<p><strong>9. 貴賓 hu&eacute;sped</strong></p>

<p><strong>10. 國宴 banquete de Estado (banquete ofrecido por una entidad oficial de alto rango)</strong></p>

<p><strong>11. 衛生條件 requisitos sanitarios</strong></p>

<p><strong>12. 休閒食品 aperitivo de ocio (turismo gastron&oacute;mico)</strong></p>

<p><strong>&nbsp; &nbsp; &nbsp; DIY / HTM (Hazlo t&uacute; mismo)</strong></p>

<p><strong>13. 坪 tsubo / 1坪 (pyeong) = 3.305785 metros cuadrados</strong></p>

<p><strong>14. 步槍 fusil / rifle / escopeta</strong></p>

<p><strong>15. 海軍陸戰隊 infanter&iacute;a de marina</strong></p>

<p><strong>16. 油豆腐 tofu frito</strong></p>

<p><strong>17. 挖空 ahuecar / hacer hueco</strong></p>

<p><strong>18. 填入 rellenar</strong></p>

<p><strong>19. 冬粉 fideo de lentejas</strong></p>

<p><strong>20. 魚漿 pasta de pescado</strong></p>

<p><strong>21. 調味 condimentar</strong></p>

<p><strong>22. 封口 sellar</strong></p>

<p><strong>23. 蒸熟 cocci&oacute;n al vapor / cocer al vapor</strong></p>

<p><strong>24. 甜辣醬 salsa de chile dulce</strong></p>

<p><strong>25. 湯汁 caldo / sopa</strong></p>

<p><strong>26. 浪費 desperdiciar / malgastar</strong></p>

<p><strong>27. 剩餘食材 ingrediente sobrante</strong></p>

<p><strong>28. 附加產品 producto adicional</strong></p>

<p><strong>29. 鯊魚 tibur&oacute;n</strong></p>

<p><strong>30. 鬼頭刀 dorado</strong></p>

<p><strong>31. 研磨 moler / triturar</strong></p>

<p><strong>32. 太白粉 almid&oacute;n</strong></p>

<p><strong>33. 滷蛋 huevo a la soja</strong></p>

<p><strong>34. 滷汁 caldo condimentado con especias</strong></p>

<p><strong>35. 嚼 masticar</strong></p>

<p><strong>36. 醬油 salsa de soja (soya)</strong></p>

<p><strong>37. 五香配方 cinco especias (an&iacute;s estrellado, cardamomo negro, cassia y semillas de hinojo)</strong></p>

<p><strong>38. 風乾 secar al aire</strong></p>

<p><strong>39. 古早味 sabor tradicional / sabor original</strong></p>