<p style="text-align: justify;"><strong>1. Proporcionar a los estudiantes dominio suficiente de la lengua española</strong></p>

<p style="text-align: justify;"><strong>2. Instilar en los estudiantes una visión global internacional para que desarrollen de forma eficiente sus habilidades en español</strong></p>

<p style="text-align: justify;"><strong>3. Desarrollar el autoaprendizaje del español y una mayor la competencia intercultural</strong></p>

<p style="text-align: justify;"><strong>4. Implementar el español de las profesiones con el fin de adaptarse al mercado laboral</strong></p>