<p>＊&nbsp; 本系輔系必選修學分總計32學分(必修24學分；選修8學分）；輔系應修科目表依申請年度表列如下。<br />
＊&nbsp; 選修課程為六科選二科(含上下學期)。<br />
＊&nbsp;選課注意事項：輔系學生修西班牙語會話(一)、西班牙語會話(二)限選輔系班（須另支付學分費）。<br />
＊ 必修加簽：系辦每學期第一週(確切日期由系辦公告)辦理必修課程人工加退選，凡因重修、輔系、雙主修、學程等因素導致衝堂者，須到系辦辦理人工加退選，由系辦視情形進行課程（限必修）調整。</p>

<p><br />
<span style="font-size:24px">&nbsp; &nbsp; 西語系104學年度申請輔系應修科目表</span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td rowspan="2" style="height:36px; width:58px">
			<p style="text-align:center">開課年級</p>
			</td>
			<td rowspan="2" style="height:36px; width:159px">
			<p style="text-align:center">科目名稱</p>
			</td>
			<td rowspan="2" style="height:36px; width:56px">
			<p style="text-align:center">必修或</p>

			<p style="text-align:center">選修</p>
			</td>
			<td colspan="2" style="height:36px; width:66px">
			<p style="text-align:center">學分數</p>
			</td>
			<td rowspan="2" style="height:36px; width:184px">
			<p style="text-align:center">先修科目及替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:36px; width:33px">
			<p style="text-align:center">上</p>
			</td>
			<td style="height:36px; width:33px">
			<p style="text-align:center">下</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="margin-left:-0.25pt; text-align:center">初級西班牙文文法</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語會話（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語會話（二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">西班牙語會話（一）</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語聽講實習（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">107學年度起以西班牙語聽力與發音實習(一)替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語聽講實習（二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">108學年度起以「西班牙語聽力與發音實習(二) 」替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">3</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西文辭彙及閱讀(二)</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">109學年度起以「西文辭彙及閱讀」(二年級，2/2)替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙文作文（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">3</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙文口筆譯（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">105學年度起以「西班牙文翻譯（一）」替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西語國家歷史及地理</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">107學年度起以「西語國家文化概論」替代</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:24px">&nbsp; &nbsp; &nbsp; 西語系105~106學年度申請輔系應修科目表</span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td rowspan="2" style="height:36px; width:58px">
			<p style="text-align:center">開課年級</p>
			</td>
			<td rowspan="2" style="height:36px; width:159px">
			<p style="text-align:center">科目名稱</p>
			</td>
			<td rowspan="2" style="height:36px; width:56px">
			<p style="text-align:center">必修或</p>

			<p style="text-align:center">選修</p>
			</td>
			<td colspan="2" style="height:36px; width:66px">
			<p style="text-align:center">學分數</p>
			</td>
			<td rowspan="2" style="height:36px; width:184px">
			<p style="text-align:center">先修科目及替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:36px; width:33px">
			<p style="text-align:center">上</p>
			</td>
			<td style="height:36px; width:33px">
			<p style="text-align:center">下</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="margin-left:-0.25pt; text-align:center">初級西班牙文文法</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語會話（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語會話（二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">西班牙語會話（一）</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語聽講實習（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">107學年度起以西班牙語聽力與發音實習(一)替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語聽聽講實習（二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">108學年度起以「西班牙語聽力與發音實習(二) 」替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">3</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西文辭彙及閱讀(二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">109學年度起以「西文辭彙及閱讀（二年級，2/2)」替代</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙文作文（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">3</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙文翻譯（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西語國家歷史及地理</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">107學年度起以「西語國家文化概論」替代</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:24px">&nbsp; &nbsp; &nbsp; &nbsp; 西語系107學年度起申請輔系應修科目表</span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td rowspan="2" style="height:36px; width:58px">
			<p style="text-align:center">開課年級</p>
			</td>
			<td rowspan="2" style="height:36px; width:159px">
			<p style="text-align:center">科目名稱</p>
			</td>
			<td rowspan="2" style="height:36px; width:56px">
			<p style="text-align:center">必修或</p>

			<p style="text-align:center">選修</p>
			</td>
			<td colspan="2" style="height:36px; width:66px">
			<p style="text-align:center">學分數</p>
			</td>
			<td rowspan="2" style="height:36px; width:184px">
			<p style="text-align:center">先修科目</p>
			</td>
		</tr>
		<tr>
			<td style="height:36px; width:33px">
			<p style="text-align:center">上</p>
			</td>
			<td style="height:36px; width:33px">
			<p style="text-align:center">下</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="margin-left:-0.25pt; text-align:center">初級西班牙文文法</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語會話（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語會話（二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">必修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">4</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">西班牙語會話（一）</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語聽力與發音實習（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙語聽力與發音實習（二）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">２</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西文辭彙及閱讀</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙文作文（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">3</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西班牙文翻譯（一）</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:32px; width:58px">
			<p style="text-align:center">1</p>
			</td>
			<td style="height:32px; width:159px">
			<p style="text-align:center">西語國家文化概論</p>
			</td>
			<td style="height:32px; width:56px">
			<p style="text-align:center">選修</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:33px">
			<p style="text-align:center">2</p>
			</td>
			<td style="height:32px; width:184px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>