<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/qqNHnwXnx2I" width="560"></iframe></a></p>

<p><span style="font-size:24px"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 泥沙淤積 acumulaci&oacute;n de arena / acumulaci&oacute;n de estratos arenosos</strong></p>

<p><strong>2. 古董店 tienda de antig&uuml;edades</strong></p>

<p><strong>3. 民藝品店 tienda de artesan&iacute;as</strong></p>

<p><strong>4. 呼籲 pedir / exigir / solicitar</strong></p>

<p><strong>5. 文史工作室 taller de historia y cultura</strong></p>

<p><strong>6. 網路集結 congregarse a trav&eacute;s de internet</strong></p>

<p><strong>7. 滑手機 manipular el m&oacute;vil ( tel&eacute;fono)</strong></p>

<p><strong>8. 上坡階梯 escaleras inclinadas</strong></p>

<p><strong>9. 山丘 colina / macizo monta&ntilde;oso</strong></p>

<p><strong>10. 中國時報 China Times (peri&oacute;dico en Taiw&aacute;n)</strong></p>

<p><strong>11. 新北市政府 Gobierno de la Ciudad Nuevo Taip&eacute;i</strong></p>

<p><strong>12. 拓寬工程 proyecto de ampliaci&oacute;n / programa para la ampliaci&oacute;n (de una obra de construcci&oacute;n)</strong></p>

<p><strong>13. 柔性訴求 demandas pac&iacute;ficas</strong></p>

<p><strong>14. 保留 preservaci&oacute;n</strong></p>

<p><strong>15. 古厝 casa antigua</strong></p>

<p><strong>16. 彈孔 agujero de bala</strong></p>

<p><strong>17. 興衰 auge y ca&iacute;da</strong></p>

<p><strong>18. 邊坡地 declive / pendiente / ladera</strong></p>

<p><strong>19. 猶太商行 comercio jud&iacute;o / empresa jud&iacute;a</strong></p>

<p><strong>20. 公寓雜院 apartamento multiuso</strong></p>

<p><strong>21. 失火 incendiarse / quemarse</strong></p>

<p><strong>22. 拆除改建 demoler y luego reconstruir</strong></p>

<p><strong>23. 淡水文化基金會 Fundaci&oacute;n Cultural Tamsui</strong></p>

<p><strong>24. 委託 encargar / confiar / asignar ( a alguien una tarea espec&iacute;fica)</strong></p>

<p><strong>25. 彩墨 pintura china policrom&aacute;tica</strong></p>

<p><strong>26. 壁畫 mural / fresco / obra pict&oacute;rica</strong></p>

<p><strong>27. 撞沉意外 naufragio / hundimiento (de un nav&iacute;o)</strong></p>

<p><strong>28. 雅號 nombre elegante y sofisticado</strong></p>

<p><strong>29. 魚丸 alb&oacute;ndigas de pescado / bolas de pescado</strong></p>

<p><strong>30. 複合式餐廳 restaurante mixto</strong></p>