<p><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/k6RaZHSnemw" width="560"></iframe></a></p>

<p>&nbsp;</p>

<p><strong>Vocabulario:</strong></p>

<p><strong>1. 河岸自行車道 ciclopista ribere&ntilde;a</strong></p>

<p><strong>2. 風景區 &aacute;rea esc&eacute;nica</strong></p>

<p><strong>3. 行人 peat&oacute;n / transe&uacute;nte</strong></p>

<p><strong>4. 彈塗魚 (pez) saltar&iacute;n del fango</strong></p>

<p><strong>5. 環島 dar una vuelta a la isla / recorrido por la isla</strong></p>

<p><strong>6. 玉山 Monta&ntilde;a Jade (Yushan)</strong></p>

<p><strong>7. 日月潭 Lago de Sol y Luna</strong></p>

<p><strong>8. 捷安特 GIANT</strong></p>

<p><strong>9. 微笑單車<em>&nbsp;YouBike</em></strong></p>

<p><strong>10. 公共自助自行車 servicio automatizado de alquiler de bicicletas p&uacute;blicas</strong></p>

<p><strong>11. 租借系統 sistema de alquiler</strong></p>

<p><strong>12. 刷卡系統 sistema de deslizamiento</strong></p>

<p><strong>13. 捷運悠遊卡 tarjeta<em>&nbsp;EasyCard</em> del Metro de Taip&eacute;i (Taipei MRT)</strong></p>

<p><strong>14. 登記 registrarse</strong></p>

<p><strong>15. 台北市政府 Gobierno Municipal de Taip&eacute;i</strong></p>

<p><strong>16. 委託 encargar / confiar / asignar (a alguien una tarea espec&iacute;fica)</strong></p>

<p><strong>17. 標誌 logotipo</strong></p>

<p><strong>18. 會員卡 tarjeta de membres&iacute;a</strong></p>

<p><strong>19. 租賃站 puesto de alquiler</strong></p>

<p><strong>20. 虧損 p&eacute;rdida</strong></p>

<p><strong>21. 河流系統 sistema fluvial / v&iacute;a fluvial</strong></p>

<p><strong>22. 溪 riachuelo / arroyo / afluente</strong></p>

<p><strong>23. 暢銷品牌 marcas m&aacute;s vendidas</strong></p>

<p><strong>24. 生產 producci&oacute;n / fabricaci&oacute;n / manufactura</strong></p>