<p><strong>The Aims of education</strong></p>

<p>A.Providing students with proficiency in Spanish.&nbsp;<br />
B.Cultivating students&rsquo; global vision to become well-rounded Spanish speaking talents.<br />
C.Developing students&rsquo; autonomy in learning Spanish and cultural competence.<br />
D.Establishing professional workplace Spanish for the future.</p>

<p><strong>Students Core Abilities</strong></p>

<p>A.&nbsp;Our students will obtain listening and speaking abilities at the intermediate level B1of the Common European Framework of Reference for Spanish.&nbsp;<br />
B.&nbsp;Our students will obtain reading and writing abilities at the intermediate level B1of the Common European Framework of Reference for Spanish.<br />
C.Our students will obtain professional knowledge in Spanish.</p>