<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="3">
			<p>西語系大三出國留學 流程&nbsp; (2020-2021出國學生)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>時間</p>
			</td>
			<td style="width:166px">
			<p>主題</p>
			</td>
			<td style="width:442px">
			<p>內容</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>寒假期間</p>
			</td>
			<td style="width:166px">
			<p>大三出國暨<br />
			暑期遊學團說明影片及其他資料</p>
			</td>
			<td style="width:442px">
			<p>1. 大三出國留學流程及甄試辦法。<br />
			2. 大三出國經驗分享。<br />
			3. 家長同意書 (說明保證金範圍、須配合事項)。<br />
			4. 兩所姊妹校課程簡章。<br />
			5. 大三出國與暑期團比較。(日期、費用、住宿選擇等)<br />
			6. 教育部「海外留遊學懶人包」資訊。<br />
			7. 學海獎學金申請辦法連結。<br />
			8. 外交部西國緊急聯絡資訊連結。<br />
			9. 簽證資訊。<br />
			10. 具役男身分之出國留學生辦理之法律依據。</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">4月6日-<br />
			10日 (因西班牙疫情延後，再觀察)</span></p>
			</td>
			<td style="width:166px">
			<p>大三出國<br />
			留學甄試報名</p>
			</td>
			<td style="width:442px">
			<p>報名資訊詳見大三學生出國留學甄試辦法。<br />
			繳交：<br />
			1. 正式歷年成績單。(紙本)<br />
			2. 家長同意書。(紙本)<br />
			3. <a href="https://forms.gle/L9Xdi1wGuEZmRakt7">填寫學校志願序</a>。(請按藍色連結填寫)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">4月17日(因西班牙疫情延後，再觀察)</span></p>
			</td>
			<td style="width:166px">
			<p>公告錄取名單</p>
			</td>
			<td style="width:442px">
			<p>1. 將公告於系網頁-最新消息。<br />
			2. 請於公告一週內，每日4:30前至西語系辦繳交保證金6000元整，<span style="color:#ff0000">4</span>月<span style="color:#ff0000">24</span>日截止，如未繳交視同放棄大三出國。(每日4:30關帳)<br />
			3. 繳交保證金時，請確認提供google信箱，以便分享google drive 辦學文件與填寫範例。</p>

			<p>公告錄取名單時已經可以開始準備護照(<u>務必確認護照不會在出國期間過期</u>)、查詢欲購買機票旅行社資訊及辦理簽證所需之財力證明與健康檢查等。</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">5</span>月<span style="color:#ff0000">2</span>日星期六<span style="color:#ff0000">(因西班牙疫情延後，再觀察)</span></p>
			</td>
			<td style="width:166px">
			<p>出國留學說明會</p>

			<p>UCLM 說明會時間 13:30-14:50</p>

			<p><br />
			UAH 說明會時間 15:00-16:20</p>

			<p>地點：待定<br />
			&nbsp;</p>
			</td>
			<td style="width:442px">
			<p>&nbsp;1. 邀請學長姐分享與傳承。<br />
			&nbsp;2. 競選領隊代表、建立學生群組、討論機票、交通方式等事宜。</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">5</span>月~<span style="color:#ff0000">6</span>月</p>

			<p>(時間由各小組自行掌握)</p>

			<p><span style="color:#ff0000">視屆時疫情狀況再做調整、聯繫姊妹校詢問新的繳款期限。</span></p>
			</td>
			<td style="width:166px">
			<p>留學資料及相關費用繳交</p>
			</td>
			<td style="width:442px">
			<p>繳交資料:<br />
			兩間學校各有不同，將提供填寫範例連結給同學參考。<br />
			一、辦學資料：<br />
			1. matr&iacute;cula註冊報名表 (應包括西班牙學生保險部分)<br />
			2. hoja de alojamiento 住宿申請表<br />
			3. pasaporte a color escaneado全彩掃描護照、fotograf&iacute;a 照片電子檔案<br />
			4. otros servicios 其他服務申請 (例如：UAH馬德里的交通卡、馬德里接機服務，UCLM的腳踏車等)&nbsp;請自行備註在辦學文件上並繳交相關照片文件。<br />
			5. 其他。例如役男須提供身分證資料，以辦理出境公文。(全彩身分證請寄到承辦人信箱，另外填寫身分資料問卷)</p>

			<p>繳交報名資料請下載google drive分享之文件與填寫範例，將所有辦學資料填寫好、列印、簽名並掃描，將掃描檔案email寄信給承辦人：emmawu0125@gms.tku.edu.tw。信件標題請註明：2020-2021大三出國-姓名-學號，電子文件請也將標題標註自己姓名、學號。</p>

			<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			<p>二、建議4月30日前完成：<br />
			同學自行依照簡章等價格資訊計算總價錢後自行匯款：包含學費，住宿費與住宿保證金以及其他服務價格，將請直接匯款至姊妹校銀行帳戶(可見留學手冊最後一頁)。由於匯款會有銀行中轉之手續費用，因此可能扣除到匯款的學費部分，請務必至西班牙時與姊妹校確認學費事宜並補繳少繳之金額。<br />
			(建議找尋可以支援「全額到匯」的銀行辦理，並確定能全額匯款，手續費另外計算，以免銀行抽取學費作為手續費。)</p>

			<p>匯款繳交學費後，請將匯款憑證掃描後傳送電子檔案至承辦人信箱，並標註姓名-學號之匯款單。</p>

			<p>匯款後姊妹校將會再核發入學許可與保險證明文件。</p>

			<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br />
			三、繳交訂購電子機票(來回)與決議之交通方式(機場到學校)給承辦人。</p>

			<p><u>UCLM</u><u>：有15個人以上方能和姊妹校申請免費接機服務，需要所有同學的抵達日期與時間方能請姊妹校協助安排。</u></p>

			<p><u>UAH</u><u>：簡章上的價格為一個人搭乘計程車的價錢，如果多人能同時間從機場到學校，需繳交抵達日期與時間給姊妹校承辦人詢問報價。如不需要姊妹校協助安排接機則回覆系承辦人自行前往。</u></p>

			<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

			<p>四、簽證用資料：<br />
			請見西班牙商務辦事處「<a href="http://www.antortaiwan.org/member.asp?cid=9">學生簽證</a>」專區。資料齊全後開始辦理簽證。</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">6</span>月~8月</p>

			<p>(時間由各小組自行掌握)</p>
			</td>
			<td style="width:166px">
			<p>出發前準備</p>
			</td>
			<td style="width:442px">
			<p>1. 出國文件準備。(簽證等)<br />
			a. 西語系將轉交姊妹校提供之入學證明。(辦理簽證)<br />
			b. 西語系將提供英文證明函。(辦理簽證)<br />
			2. 出國知識準備。</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>6月底-7月初為大三出國授旗典禮(日期待公告)，請別安排出國行程</p>
			</td>
			<td style="width:166px">
			<p>消防安全講習暨<br />
			授旗典禮</p>
			</td>
			<td style="width:442px">
			<p><u>無故缺席者，扣保證金(詳家長同意書)，並記申誡乙支。</u></p>
			</td>
		</tr>
		<tr>
			<td>
			<p>8月</p>
			</td>
			<td style="width:166px">
			<p>役男出境許可申請</p>
			</td>
			<td style="width:442px">
			<p>系上統一於7月下旬幫役男同學上公文申請役男出境許可，各位役男同學於<u>8月份收到公文通知後(寄送至戶籍地)，攜帶公文及護照至區公所蓋出境許可章。</u></p>
			</td>
		</tr>
		<tr>
			<td>
			<p>9月上旬~10月上旬</p>
			</td>
			<td style="width:166px">
			<p>出發至姊妹校</p>
			</td>
			<td style="width:442px">
			<p>須於各姊妹校規定之課程時間前抵達學校。(通常提前一個禮拜，因此辦理住宿申請時請一併估算好住宿時間)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>9月上旬~<br />
			隔年7月下旬</p>
			</td>
			<td style="width:166px">
			<p>留學生活</p>
			</td>
			<td style="width:442px">
			<p>西班牙進行式：<br />
			姊妹校將為同學進行新生入學說明，後續請同學留意應辦的重要事項：<br />
			1. 辦理居留證 (NIE)<br />
			2. 依照需求辦理銀行開戶 (Banco Santander)<br />
			3. 依照需求辦理手機卡。<br />
			4. 同學於留學期間每兩個月須繳交定期學習心得回報單，並在學期結束之前寄送留學生活照並標註學號姓名寄送給系承辦人。(未繳交者，不能領回保證金額款)<br />
			留學期間請將外交部西國緊急聯絡資訊記下來以備不時之需、並將護照等重要文件、現金與貴重物品等保管好。</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>隔年9月下旬~10月中旬</p>
			</td>
			<td style="width:166px">
			<p>學分抵免</p>
			</td>
			<td style="width:442px">
			<p>學分抵免學分詳見大三學生出國留學甄試辦法、出國留學手冊。<br />
			(本系保有更新之權利)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>隔年12月</p>
			</td>
			<td style="width:166px">
			<p>傳承下一屆預備式</p>
			</td>
			<td style="width:442px">
			<p>1. 西語系邀請大三出國樂於分享同學與下一屆學弟妹分享所學與傳承。(樂於分享或表現優秀者西語系將安排敘獎)</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>新年1月份</p>
			</td>
			<td style="width:166px">
			<p>保證金餘款退回</p>
			</td>
			<td style="width:442px">
			<p>同學於返國前須繳交每兩個月一次之心得回報單、及照片，及其他重要資訊傳承與回報。確認都完成後將指定特定日期退剩餘保證金。</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>更新日期：2020年3月10日 (因應疫情改版一)</p>