<p><a href="" src="https://www.youtube.com/embed/Lg1YJtKlpmM" height="315" frameborder="0" allowfullscreen="">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/Lg1YJtKlpmM" frameborder="0" allowfullscreen=""></iframe></a></p>

<p><span style="font-size: 24px;"><br></span></p>

<p><span style="font-size: 24px;">Vocabulario:</span></p>

<p><strong>1. 油槽 depósito de petróleo (de combustible) / almacén petrolero tanque para el almacenamiento de petróleo</strong></p>

<p><strong>2. 英商嘉士洋行倉庫 <em>Cass Trading Company</em></strong></p>

<p><strong>3. 鐵道 vía ferroviaria / línea del ferrocarril</strong></p>

<p><strong>4. 煤油 gas kerosene</strong></p>

<p><strong>5. 臭氣 fuerte olor / mal olor</strong></p>

<p><strong>6. 轟炸 bombardear / bombardeo</strong></p>

<p><strong>7. 撲滅 extinguir / extinción</strong></p>

<p><strong>8. 捐贈 donar / donación</strong></p>

<p><strong>9. 淡水社區大學 Universidad Comunitaria de Tamsui</strong></p>

<p><strong>10. 環保署 Oficina Nacional para la Protección Medioambiental</strong></p>

<p><strong>11. 退休 retiro / jubilación / retirarse / jubilarse</strong></p>

<p><strong>12. 人均壽命 esperanza de vida</strong></p>

<p><strong>13. 天堂 paraíso</strong></p>

<p><strong>14. 淡水文化園區 Área Cultural de Tamsui</strong></p>

<p><strong>15. 殼牌倉庫 Depósitos de la Empresa Petrolera Shell</strong></p>

<p><strong>16. 濕地 humedal</strong></p>

<p><strong>17. 公頃 hectárea</strong></p>

<p><strong>18.&nbsp;油品 combustible</strong></p>

<p><strong>19. 幫浦間 sala de bombeo hidráulico</strong></p>

<p><strong>20. 鍋爐間 sala de caldera</strong></p>

<p><strong>21. 生態間 área ecológica&nbsp;</strong></p>

<p><strong>22. 定光古佛 Buda Dipankara</strong></p>

<p><strong>23. 屋脊泥塑 techo de arcilla</strong></p>

<p><strong>24. 同鄉會館 Salón de Clanes Hakka</strong></p>

<p><strong>25. 欺負 maltratar / humillar</strong></p>

<p><strong>26. 唐山 Tangshan</strong></p>

<p><strong>27. 校務規程 Normas de Gestión Educativa</strong></p>

<p><strong>28. 公民社會 sociedad civil</strong></p>

<p><strong>29. 融入 integrar / involucrar</strong></p>

<p><strong>30. 自豪 sentirse orgulloso / satisfacción propia</strong></p>