<p><a href="" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/zC1XJGuIz7U">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/zC1XJGuIz7U" frameborder="0" allowfullscreen=""></iframe></a></p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 南海 Mar de China Meridional</strong></p>

<p><strong>2.中國大陸 China&nbsp;continental</strong></p>

<p><strong>3. 移民 inmigrar / emigrar</strong></p>

<p><strong>4. 觀音山 Monte&nbsp;Guanyin</strong></p>

<p><strong>5. 滬尾 Huwei / Hobe</strong></p>

<p><strong>6. 原住民 aborigen / indígena</strong></p>

<p><strong>7. 清廷 dinastía Qing</strong></p>

<p><strong>8. 割地賠償 cesión (de territorio) e indemnización</strong></p>

<p><strong>9. 佔領 ocupación / ocupar por la fuerza</strong></p>

<p><strong>10. 非法 ilegal / ilícito / ilegítimo</strong></p>

<p><strong>11. 省會 capital de provincia</strong></p>

<p><strong>12. 船艦 navío / barco / flota naval</strong></p>

<p><strong>13. 內戰 guerra civil</strong></p>

<p><strong>14. 古蹟 monumento histórico / reliquia arquitectónica</strong></p>

<p><strong>15. 盆地 cuenca (hidrográfica)</strong></p>

<p><strong>16. 台灣海峽 Estrecho de Taiwán</strong></p>

<p><strong>17.&nbsp;出海口 desembocadura</strong></p>

<p><strong>18. 火山 volcán&nbsp;</strong></p>

<p><strong>19. 平原 llanura / llano / planicie / explanada</strong></p>

<p><strong>20. 航行 navegación / navegar</strong></p>

<p><strong>21. 東亞 Asia Oriental / Asia del Este</strong></p>

<p><strong>22. 貿易轉運站 punto de intercambio comercial</strong></p>

<p><strong>23. 轉音(羅馬拼音) romanizació</strong><strong>n / transcripción fonética / transferencia fonética / transliteración</strong></p>