<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/uploaded-files/00.jpg" style="width: 619px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p>
	<br>
</p>

<p><strong>影片YouTube連結：</strong>&nbsp;<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fyoutu.be%2FA3MshIu5ayI%3Ffbclid%3DIwAR3yeHMrqTGkdKtpxxtGw8aLrj3Hx7jcJtF9gfkEyUYG_Pf6sOY5SdYahDs&amp;h=AT2xEKH95GfGEnoaUYdWGDu37nuB5fEXui4jgP5ZL453BpnzPypEoA6D3JIq5d4WkWZfX92tnRAdRz9gqSuX8hierD6w49ox2JFIQ_tvJxIdIx-2GD099CNJvbb9AmgdB2Q&amp;__tn__=-UK-R&amp;c[0]=AT2C76J1j8hEuZKY5HblIGjZ2A45MsZMii35etuewYMlXeAsOd7lKGxk_pZFWS5ro3HfzcmT9aNeD1MVOZWDH07kCpVo_vs_6oI-WLVbCbOxH-Zg-4AIdme7H-FD7bhuUiIUmTA00e0-Uubo947idPLnNSqFxNTSeaGiVPaQJhthsBulvv85JAJ8bu6Y0Q" rel="nofollow noopener" tabindex="0" target="_blank">https://youtu.be/A3MshIu5ayI</a> </p>