<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/DYqKGR0hw2A" width="560"></iframe></a></p>

<p><strong>Vocabulario:</strong></p>

<p><strong>1. 重建 reconstrucci&oacute;n / restauraci&oacute;n</strong></p>

<p><strong>2. 整修 reparar / remodelar</strong></p>

<p><strong>3. 防禦要塞 sitio estrat&eacute;gico para la defensa</strong></p>

<p><strong>4. 領事館 consulado / oficinas consulares</strong></p>

<p><strong>5. 斷交 romper las relaciones diplom&aacute;ticas</strong></p>

<p><strong>6. 托管 traspaso de derechos / traspaso de poderes (de propiedad)</strong></p>

<p><strong>7. 產權 derechos de propiedad</strong></p>

<p><strong>8. 一級古蹟 reliquia arquitect&oacute;nica de primera categor&iacute;a (seg&uacute;n el sistema de clasificaci&oacute;n vigente en Taiw&aacute;n)</strong></p>

<p><strong>9. 淡水古蹟博物 Museo del &Aacute;rea Hist&oacute;rica de Tamsui</strong></p>

<p><strong>10. 殖民地式建築 construcci&oacute;n de estilo colonial (estilo que usaron los colonizadores europeos en la construcci&oacute;n de las edificaciones en sus nuevas colonias)&nbsp;</strong></p>

<p><strong>11. 樟腦 alcanfor</strong></p>

<p><strong>12. 索回 reclamar el reintegro de derechos</strong></p>

<p><strong>13. 舉人 candidato a los ex&aacute;menes provinciales del imperio</strong></p>

<p><strong>14. 經史子集 recopilaci&oacute;n de las obras cl&aacute;sicas de China</strong></p>

<p><strong>15. 撤軍 retirada / repliegue (de tropas militares)</strong></p>

<p><strong>16. 駐軍 guarnici&oacute;n militar / puesto militar</strong></p>

<p><strong>17. 石灰 piedra de lima</strong></p>

<p><strong>18. 磚頭 ladrillo / adobe</strong></p>

<p><strong>19. 地基 fundaci&oacute;n / base (de una construcci&oacute;n)</strong></p>

<p><strong>20. 驅逐 expulsar / desalojar habitaci&oacute;n de&nbsp;los servidores</strong></p>

<p><strong>21. 迴廊 pasillo / corredor</strong></p>