<p><a href="" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/gzGQw79RuqQ">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/gzGQw79RuqQ" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;">1. 馬偕紀念醫院&nbsp;Hospital Conmemorativo a Mackay</span></strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;">2. 傳教 predicar la religión / predicar el evangelio / evangelizar</span></strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;">3. 基督長老教會 Iglesia Presbiteriana</span></strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;">4. 募款 recaudar fondos</span></strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;">5. 中法滬尾之役 Batalla de Hobe ( durante la Guerra Sino-Francesa)</span></strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;">6. 拔牙 extracc<span style="font-size: 24px;"><strong><span style="font-size: 14px;">ión dental&nbsp;</span></strong>
	</span>
	</span>
	</strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">7. 蛀牙 caries dental</span></strong>
	</span>
	</span>
	</strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">8. 種子 semilla</span></strong>
	</span>
	</span>
	</strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">9. 蘿蔔 nabo (un tipo de rábano)</span></strong>
	</span>
	</span>
	</strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">10. 甘藍菜 col</span></strong>
	</span>
	</span>
	</strong>
	</span>
</p>

<p><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">11. 花椰菜&nbsp;</span></strong>
	</span>
	</span>
	</strong>
	</span><strong>br<span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">ó</span></strong></span>
	</span>
	</strong>
	</span>coli</strong>
</p>

<p><strong>12. 圓環 rotonda ( retorno circular de una calle)</strong></p>

<p><strong>13. 半身雕像 busto / estatua de medio cuerpo</strong></p>

<p><strong>14. 榮譽市民 ciudadano ilustre / hijo adoptivo /&nbsp;ciudadano honorario (de una ciudad o país)</strong></p>

<p><strong>15. 欽佩 admirable / loable / encomiable</strong></p>

<p><strong>16. 籌資 / 集資 recaudac<span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">ión de fondos</span></strong></span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">17. 分院 sucursal hospitalaria / filial hospitalaria /&nbsp;dependencia hospitalaria</span></strong></span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;">18. 馬偕護校 Escuela de Enfermer<strong>ía Mackay</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>19. 馬偕醫學院 Escuela de Medicina Mackay</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>20. 作曲家 compositor / arreglista musical</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>21. 購地 adquisición de terrenos / compra de tierra</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>22. 場景 escenario</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>23. 仿哥德式 imitaci<strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>ón del estilo g<strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>ótico</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>24. 鐘塔 campanario / torrecilla</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>25. 天花板 techo</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>26. 古風琴 <strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>órgano antiguo ( instrumento musical)</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>27. 屋頂 tejado / techado</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>28. 寫生 bosquejar / plasmar sobre el lienzo</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>29. 牧師 pastor / misionero / predicador / evangelista</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>30. 傳播基督教福音 propagar el evangelio de Jesús / difundir el evangelio</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>31. 牛津學堂 Centro de Enseñanza Oxford ( actual Universidad&nbsp;Aletheia /<em>&nbsp;Aletheia University</em>)</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>32. 真理大學 Universidad <strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>Aletheia <em>(Aletheia University)</em></strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><em>33.&nbsp;</em>婦學堂 Escuela para Se<strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>ñoritas</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>34. 拜占庭式建築 arquitectura de estilo bizantino / construcci<strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>ón&nbsp;de estilo bizantino</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>

<p><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong><strong><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><span style="font-size: 24px;"><strong><span style="font-size: 14px;"><strong>35. 幾何學 geometría</strong></span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
	</strong>
	</span>
	</strong>
	</span>
	</span>
	</strong>
	</span>
	</strong>
</p>