<p>En el Departamento de Español de la Universidad de Tamkang, fundado en 1962, se matricula un mínimo de 120 estudiantes al año. Sus principales características se pueden resumir de la siguiente manera:</p>

<p>&nbsp;</p>

<p><strong>Equipo docente capacitado</strong></p>

<p>El departamento cuenta con una larga historia en Taiwán y una sólida base formativa entre su cuerpo académico. Los métodos&nbsp;y enfoques empleados&nbsp;compaginan creatividad y energía.</p>

<p>&nbsp;</p>

<p><strong>Globalización y movilidad en el aprendizaje</strong></p>

<p>En el Departamento de Español existen proyectos como el <em>Año de estancia en el extranjero</em>, y diversos&nbsp;convenios de intercambio y colaboración con universidades en España, que promueven la movilidad global y amplían los horizontes del estudiantado. Desde el año 2016, el departamento ha participado en el programa financiado por la Unión Europea ERAMUS+ Internacional, en colaboración con la Universidad de Murcia.</p>

<p>&nbsp;</p>

<p><strong>Formación especializada en interpretación de lenguas</strong></p>

<p>El departamento destina instalaciones específicas que ayudan a los estudiantes en la traducción simultánea.</p>

<p>&nbsp;</p>

<p><strong>Relación entre los programas académicos y la carrera profesional</strong></p>

<p>Ofrecemos&nbsp;cinco ramas de apredizaje&nbsp;de orientación hacia el&nbsp;mundo laboral, a saber: cultura hispánica, enseñanza de chino a hispanohablantes, interpretación, negocios y&nbsp;turismo.&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Prácticas en empresas</strong></p>

<p>Dichas&nbsp;prácticas&nbsp;mejoran las habilidades en los estudiantes de negociación y&nbsp;socialización, al igual que fomentan&nbsp;el pensamiento independiente.</p>

<p>&nbsp;</p>

<p>El Departamento de Español tiende puentes al&nbsp;mundo gracias a su arraigada diversidad.&nbsp;&nbsp; &nbsp;</p>