<table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<thead>
		<tr>
			<th scope="row">
			<h1 style="margin-left:40px"><strong>教務處註冊組網頁說明</strong></h1>
			</th>
			<th scope="col">
			<h1 style="margin-left: 160px;"><strong>網址</strong></h1>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">
			<h4 style="margin-left: 80px;">106學年度輔系、雙主修申請相關事宜</h4>
			</th>
			<td>http://www.acad.tku.edu.tw/app/news.php?Sn=1377</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>