<p><strong>1. Desarrollo de las cuatro+1 principales destrezas lingüísticas del español hasta un nivel mínimo de B1 del Marco Común Europeo de Referencia para las lenguas, a saber: Comprensión escrita y oral, Expresión escrita y oral e Interacción</strong></p>

<p style="text-align: justify;"><strong>2. Aprendizaje de conocimientos culturales del mundo hispano</strong></p>

<p><strong>3. <strong>Adquisición</strong> de habilidades requeridas para el correcto desarrollo de la labor profesional:</strong></p>

<p><strong>&nbsp; &nbsp;3.1. En el mundo de los negocios</strong></p>

<p><strong>&nbsp; &nbsp;3.2. En trabajos de traducción e interpretación</strong></p>

<p><strong>&nbsp; &nbsp;3.3. En la hostelería y el turismo&nbsp;</strong></p>

<p><strong>&nbsp; &nbsp;3.4. Para la enseñanza de E/LE a sinohablantes</strong></p>