<p><strong>F1165 Spanish Translation in International Politics (0/2):&nbsp;</strong>This course is about the interpretation and translation of Spanish to Chinese and Chinese to Spanish in the field of International Politics. We will introduce first the general theory of translation and the skills for interpretation. Meanwhile the professor will guide the students to learn the special terms in the articles and documents about International Politics and keep them practicing the interpretation of different examples of the field. Hoping that with the practice, students can find out the difficulties and the solutions in the interpretation and translation of Chinese to Spanish, and vice versus.</p>

<p><strong>E1136 Research Methodology (2/0):</strong> This course introduces the instruments and methods of research to students to enable them in creating and writing theses.</p>

<p><strong>F1300 Fiction and Reality in Hispanic-American Culture&nbsp;</strong><strong>(2/0)</strong><strong>:</strong> The aim of this subject is to know better and to appreciate the great diversity and cultural richness of that &quot;fiction and reality&quot; that we call &quot;Hispanoam&eacute;rica&quot;, a group of countries linked by the Spanish language, through a variety of cultural expressions: literary texts, stories, musical and artistic works, films, festivals and traditions, etc.</p>

<p><strong>F1301</strong> <strong>The Current Situation of Economic and Trade Development in Spanish Speaking Countries&nbsp;</strong><strong>(2/0)</strong><strong>:</strong> During this course, the current state of economic and trade development in the most Spanish speaking countries will be explained to students to analyze individual and regional economies, by means of macroeconomic development models and microeconomic performance, with an emphasis in foreign trade.</p>

<p><strong>F1302 Advanced Chinese MOOC&nbsp;</strong><strong>(2/0)</strong><strong>:&nbsp;</strong>The objective of this course is to train students to use Spanish to facilitate the teaching of Chinese as a foreign language and to acquire basic Spanish and Chinese language learning knowledge in order to reach this objective. This course will prepare students to cultivate the reading and writing ability of Chinese characters; learn Chinese vocabulary and syntaxes for self-introduction, greeting, telling time, ordering a meal, and discussing interests through various topical lessons; and learn basic conversation and develop an ability to speak Chinese.<strong>&nbsp;</strong></p>

<p><strong>F1303 Weekly Spanish News and the Political Economy of International Relations&nbsp;</strong><strong>(2/0)</strong><strong>:&nbsp;</strong></p>

<p>This course focuses on topics such as the diverse politics, economies, societies and cultures found in Latin American countries, as well as Spain from the point of view of international political economy. Through class analysis and discussion students will develop an international perspective and at the same time gain insight into international relations, economic development, and publicized diplomatic activities of Latin America. This is a class that combines both theory and practice, which broadens the knowledge of those who intend to take exams that relate to public diplomacy, news, business transactions, investigations, security and intelligence personnel.<strong>&nbsp;</strong></p>

<p><strong>F1304 Appreciation and Analysis of Translation Works&nbsp;</strong><strong>(2/0)</strong><strong>:</strong> The purpose of the course is to introduce translation theory; and as a result, the role that translation plays in cultural and literary fields will be identified. Through practice on various genre of texts practiced in the course one can better understand art of translation.<strong>&nbsp;</strong></p>

<p><strong>Digital Chinese MOOC&nbsp;</strong><strong>(0/2):</strong>The main purpose of this course is to train students how to prepare Chinese teaching videos and complete the Spanish version of multicultural digital Chinese textbooks. The principal method to deliver the content will be to film video mini-lectures, some courses will also provide accompanying downloadable slides, or optional readings.<strong>&nbsp;</strong></p>

<p><strong>Hispanic Cinema&nbsp;</strong><strong>(0/2)</strong><strong>:</strong> During this course, students will acquire knowledge of history of Hispanic Cinema, basic cinematic concepts, and narration.<strong>&nbsp;</strong></p>

<p><strong>Lectures on the Economic and Trade Practices of Spanish Speaking Countries&nbsp;</strong><strong>(0/2):</strong>In this course, we will invite industry experts or entrepreneurs to lecture or share their experience. By these, we will let students become familiar with the situation and prospect of industries and know how to apply their knowledge in practice.</p>

<p><strong>Theories of National Development: The Case of Spanish Speaking Countries&nbsp;</strong><strong>(0/2)</strong>: After World War II, modernization of Spanish-speaking countries (especially Latin American countries) has been fiercely debated. The purpose of this subject consists of interrelated analysis between the doctrines of modernization, dependence, structuralism, neoliberalism, neo-structuralism and post neoliberalism, etc., with respect to their theories and practices. And through these analyzes and cross studies in Spanish, the students of the class will go a step further in learning and recognizing the most important models of economic and social developments in Spanish-speaking countries.<strong>&nbsp;</strong></p>

<p><strong>Practice of Literary Translation&nbsp;(0/2):</strong>The purpose of the course is to introduce translation theory; and as a result, the role that translation plays in cultural and literary fields is identified. Analysis of texts from different genres practiced in the course can help students better understand the art of translation.<strong>&nbsp;</strong></p>

<p><strong>F1276 Multiple Perspective on Translation Studies&nbsp;</strong><strong>(0/2)</strong><strong>:&nbsp;</strong>The purpose of the course is to introduce the translation studies; and as a result, the role that translation plays in culture, literature, and history will be better understood.</p>