<p><a allowfullscreen="" frameborder="0" height="315" href="" src="https://www.youtube.com/embed/mTCrE7kv2Qg">"&gt;<iframe width="560" height="315" src="https://www.youtube.com/embed/mTCrE7kv2Qg" frameborder="0" allowfullscreen=""></iframe></a></p>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 圍牆 muralla</strong></p>

<p><strong>2. 創辦 fundar / fundación</strong></p>

<p><strong>3. 網路校園 campus cibernético</strong></p>

<p><strong>4. 綜合型大學 universidad integral</strong></p>

<p><strong>5. 學院 facultad</strong></p>

<p><strong>6. 專任 a tiempo completo</strong></p>

<p><strong>7. 兼任 a tiempo parcial</strong></p>

<p><strong>8. 校友 egresado</strong></p>

<p><strong>9. 指南 la guía</strong></p>

<p><strong>10. 問卷 encuesta</strong></p>

<p><strong>11. 代言人 promotor</strong></p>

<p><strong>12. 宮燈教室 aula de estilo palaciego chino</strong></p>

<p><strong>13. 影視圈 industria del entretenimiento y de la cinematografía</strong></p>

<p><strong>14. 蛋捲 barquillo</strong></p>

<p><strong>15. 古代簡冊 rollo chino antiguo de escritura</strong></p>

<p><strong>16. 馬達轉軸 eje del motor / cigüeñal</strong></p>

<p><strong>17. 社團 club estudiantil</strong></p>

<p><strong>18. 電視連續劇 telenovela</strong></p>

<p><strong>19. 唐朝 dinastía Tang</strong></p>

<p><strong>20. 斜坡 terreno inclinado</strong></p>

<p><strong>21. 宮燈 farol / linterna de estilo chino</strong></p>

<p><strong>22. 海事博物館 Museo Marítimo</strong></p>

<p><strong>23. 航海 ciencias marinas</strong></p>

<p><strong>24. 輪機 propulsión marina</strong></p>

<p><strong>25. 搖籃 cuna</strong></p>

<p><strong>26. 招生 reclutar / reclutamiento</strong></p>

<p><strong>27. 屆 promoción (año de graduación)</strong></p>

<p><strong>28. 船的模型 modelo de embarcaciones (miniatura)</strong></p>

<p><strong>29. 免費參觀 entrada gratis / entrada libre</strong></p>