<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/2019%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E8%A5%BF%E8%AA%9E%E7%B3%BB%E7%95%A2%E6%A5%AD%E5%85%AC%E6%BC%94.jpg" class="fr-fic fr-dii"></p>

<p>夢醒時分，華麗冒險
	<br>你，將選擇灑脫離去，還是勇往直前？</p>

<p>‼️購票資訊‼️</p>

<p>👉購票時間：4/15至4/17日
	<br>👉購票地點：驚聲大樓2樓大廳
	<br>👉票價：
	<br>5/1、5/2
	<br>淡江大學實驗劇場，單張票價100元
	<br>5/5
	<br>殼牌倉庫，單張票價50元</p>

<p>公演入場票數量有限，售完為止，千萬別錯過！</p>

<p>更多資訊：<a href="https://www.facebook.com/permalink.php?story_fbid=647716922336649&amp;id=643048652803476">https://www.facebook.com/permalink.php?story_fbid=647716922336649&amp;id=643048652803476</a></p>