<p><span style="font-size:22px"><strong>Learn Spanish</strong></span></p>

<p>網址:<a href="http://www.lingolex.com/spanish.htm">http://www.lingolex.com/spanish.htm</a></p>

<p><img src="/storage/app/media/Spanish/Learn Spanish.png" style="height:279px; width:500px" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:22px"><strong>CNN西班牙文官網</strong></span></p>

<p>網址:<a href="http://cnnespanol.cnn.com/">http://cnnespanol.cnn.com/</a></p>

<p><img src="/storage/app/media/Spanish/CNN.png" style="height:279px; width:500px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:22px"><strong>西班牙歌曲網站</strong></span></p>

<p>網址:<a href="http://www.escuchar-musica-espagnola.com/lista.de.los.cantantes.html">http://www.escuchar-musica-espagnola.com/lista.de.los.cantantes.html</a></p>

<p><img src="/storage/app/media/Spanish/escuchar-musica-espagnola.png" style="height:279px; width:500px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:22px"><strong>ZONAELE</strong></span></p>

<p>網址:<a href="http://zonaele.com/">http://zonaele.com/</a></p>

<p><img src="/storage/app/media/Spanish/ZONAELE.png" style="height:279px; width:500px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:22px"><strong>BBC(西文版)</strong></span></p>

<p>網址:<a href="http://www.bbc.co.uk/languages/spanish/">http://www.bbc.co.uk/languages/spanish/</a></p>

<p><img src="/storage/app/media/Spanish/BBC.png" style="height:279px; width:500px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:22px"><strong>Best Spanish Websites</strong></span></p>

<p>網址:<a href="https://sites.uni.edu/becker/Spanish3.html">https://sites.uni.edu/becker/Spanish3.html</a></p>

<p><img src="/storage/app/media/Spanish/Best Spanish Websites.png" style="height:273px; width:500px" /></p>

<p>&nbsp;</p>

<p><span style="font-size:22px"><strong>多語莫敵網路學習站</strong></span></p>

<p>網址:<a href="http://www.multi.tku.edu.tw/">http://www.multi.tku.edu.tw/</a></p>

<p><img src="/storage/app/media/Spanish/Image 10.png" style="height:276px; width:500px" /></p>

<p>&nbsp;</p>