<p><span style="font-size:20px"><strong><span style="font-family:Arial,Helvetica,sans-serif">110學年度大學繁星推薦入學招生校系分則</span></strong></span><br />
來源：110學年度大學甄選入學委員會網頁：</p>

<p><a href="https://www.cac.edu.tw/star110/system/110_aColQry_forstar_5pd98yr/TotalGsdShow.htm" target="_blank">https://www.cac.edu.tw/star110/system/110_aColQry_forstar_5pd98yr/TotalGsdShow.htm</a></p>

<h1><img src="/storage/app/media/003094.png" /></h1>

<p>&nbsp;</p>