<table border="0" cellpadding="0" cellspacing="0" style="width:1000px">
	<tbody>
		<tr>
			<td style="height: 20px; width: 51px; text-align: center;">學年度</td>
			<td style="width: 50px; text-align: center;">學期序</td>
			<td style="width: 82px; text-align: center;">課程名稱</td>
			<td style="width: 48px; text-align: center;">學分</td>
			<td style="width: 64px; text-align: center;">姓名</td>
			<td style="width: 98px; text-align: center;">年級</td>
			<td style="width: 98px; text-align: center;">實習類型</td>
			<td style="width: 66px; text-align: center;">實習時數</td>
			<td style="width: 111px; text-align: center;">實習公司</td>
			<td style="width: 75px; text-align: center;">統一編號</td>
			<td style="width: 262px; text-align: center;">地址</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">106</td>
			<td style="width:50px">2</td>
			<td style="width:82px">西班牙文應用文</td>
			<td style="width:48px">2</td>
			<td style="width:64px">管煒東</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">非全職全時</td>
			<td style="width:66px">288(未完成)</td>
			<td style="width:111px">正美企業股份有限公司</td>
			<td style="width:75px">11167126</td>
			<td style="width:262px">115台北市南港區南港路三段52號9樓</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">106</td>
			<td style="width:50px">2</td>
			<td style="width:82px">西班牙文應用文</td>
			<td style="width:48px">2</td>
			<td style="width:64px">林品妤</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">非全職全時</td>
			<td style="width:66px">176</td>
			<td style="width:111px">香港商江華全球企業有限公司</td>
			<td style="width:75px">24803401</td>
			<td style="width:262px">新北市板橋區四川路二段16巷10號1樓</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">106</td>
			<td style="width:50px">2</td>
			<td style="width:82px">西班牙文應用文</td>
			<td style="width:48px">2</td>
			<td style="width:64px">林俐綺</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">非全職全時</td>
			<td style="width:66px">176</td>
			<td style="width:111px">香港商江華全球企業有限公司</td>
			<td style="width:75px">24803401</td>
			<td style="width:262px">新北市板橋區四川路二段16巷10號1樓</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">106</td>
			<td style="width:50px">2</td>
			<td style="width:82px">西班牙文應用文</td>
			<td style="width:48px">2</td>
			<td style="width:64px">李萱逸</td>
			<td style="width:98px">碩士班2年級</td>
			<td style="width:98px">全職全時</td>
			<td style="width:66px">128</td>
			<td style="width:111px">建來貿易股份有限公司</td>
			<td style="width:75px">59632946</td>
			<td style="width:262px">台北市松山區敦化北路201之24號</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">107</td>
			<td style="width:50px">1</td>
			<td style="width:82px">企業實習</td>
			<td style="width:48px">3</td>
			<td style="width:64px">李萱逸</td>
			<td style="width:98px">碩士班2年級</td>
			<td style="width:98px">全職全時</td>
			<td style="width:66px">288</td>
			<td style="width:111px">建來貿易股份有限公司</td>
			<td style="width:75px">59632946</td>
			<td style="width:262px">台北市松山區敦化北路201之24號</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">107</td>
			<td style="width:50px">1</td>
			<td style="width:82px">企業實習</td>
			<td style="width:48px">3</td>
			<td style="width:64px">陳柏睿</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">全職全時</td>
			<td style="width:66px">360</td>
			<td style="width:111px">金祥億有限公司</td>
			<td style="width:75px">16424406</td>
			<td style="width:262px">台南市仁德區土庫里太乙路48號2樓</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">107</td>
			<td style="width:50px">2</td>
			<td style="width:82px">西班牙文應用文</td>
			<td style="width:48px">2</td>
			<td style="width:64px">方雁瑢</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">非全職全時</td>
			<td style="width:66px">144</td>
			<td style="width:111px">長天國際企業有限公司</td>
			<td style="width:75px">28843811</td>
			<td style="width:262px">台北市中山區樂群二路188號B棟四樓</td>
		</tr>
		<tr>
			<td style="height:40px; width:51px">107</td>
			<td style="width:50px">2</td>
			<td style="width:82px">西班牙文應用文</td>
			<td style="width:48px">2</td>
			<td style="width:64px">周秉瑩</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">非全職全時</td>
			<td style="width:66px">144</td>
			<td style="width:111px">長天國際企業有限公司</td>
			<td style="width:75px">28843811</td>
			<td style="width:262px">台北市中山區樂群二路188號B棟四樓</td>
		</tr>
		<tr>
			<td style="height:105px">108</td>
			<td>1</td>
			<td style="width:82px">企業實習</td>
			<td style="width:48px">3</td>
			<td>林佳儒</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">全職全時</td>
			<td style="width:66px">256</td>
			<td style="width:111px">Hilos Kingtex Co. (AKAI INTERNACIONAL S.A DE C.V)</td>
			<td style="width:75px">AIN100303RM3</td>
			<td style="width:262px">56600 Antiguo Camino a Cocotitl&aacute;n, No. 88 Zona Industrial de Chalco, Estado de M&eacute;xico</td>
		</tr>
		<tr>
			<td style="height:105px">108</td>
			<td>1</td>
			<td style="width:82px">企業實習</td>
			<td style="width:48px">3</td>
			<td>許喻婷</td>
			<td style="width:98px">學士班4年級</td>
			<td style="width:98px">全職全時</td>
			<td style="width:66px">256</td>
			<td style="width:111px">Hilos Kingtex Co. (AKAI INTERNACIONAL S.A DE C.V)</td>
			<td style="width:75px">AIN100303RM3</td>
			<td style="width:262px">56600 Antiguo Camino a Cocotitl&aacute;n, No. 88 Zona Industrial de Chalco, Estado de M&eacute;xico</td>
		</tr>
		<tr>
			<td style="height:43px">108</td>
			<td>1</td>
			<td style="width:82px">企業實習</td>
			<td style="width:48px">3</td>
			<td>黃芷旋</td>
			<td style="width:98px">學士班3年級</td>
			<td style="width:98px">全職全時</td>
			<td style="width:66px">256</td>
			<td style="width:111px">薪傳諮詢管理顧問有限公司</td>
			<td style="width:75px">42641512</td>
			<td style="width:262px">10841台北市萬華區西寧南路11號7樓之2</td>
		</tr>
	</tbody>
</table>