<p><img src="/storage/app/media/Spanish/西班牙美食食譜/Foto_Pulpo_a_la_gallega.jpg" style="height:115px; width:153px" /></p>

<p><span style="font-size:16px"><strong>Pulpo a la gallega</strong></span></p>

<p><strong>In</strong><strong>gredientes (para dos personas)</strong></p>

<p style="margin-left:35.4pt">-300 g de pulpo 300公克的章魚</p>

<p style="margin-left:35.4pt">-2 patatas medianas 2顆馬鈴薯</p>

<p style="margin-left:35.4pt">-Piment&oacute;n dulce o picante　</p>

<p style="margin-left:35.4pt">- Aceite de oliva virgen extra　特級初榨橄欖油</p>

<p style="margin-left:35.4pt">-Sal gruesa　粗鹽</p>

<p>&nbsp;</p>

<p style="text-align:justify"><strong>Elaboraci&oacute;n</strong></p>

<p style="text-align:justify">Primero preparamos el pulpo. Si es fresco, lo coceremos en agua durante 20-25 minutos. Si lo compramos ya cocido, primero lo calentamos en agua hirviendo durante 2-3 minutos. Despu&eacute;s lo sacamos de la cazuela &ndash;sin tirar el agua&ndash; y lo escurrimos.<br />
首先，我們要準備章魚。 如果是新鮮的，請在水中煮20-25分鐘。 如果已經煮熟，我們要先在沸水中加熱2-3分鐘，然後把它從砂鍋裡拿出來，瀝乾。</p>

<p style="text-align:justify">Mientras se escurre el pulpo, echamos las dos patatas, sin pelar, en la cazuela donde hemos hervido el pulpo; las cocemos durante 25-30 minutos. Una vez cocidas, las sacamos y dejamos que se templen. Luego les quitamos la piel con las manos y las cortamos en rodajas de 1 cm aproximadamente.</p>

<p style="text-align:justify">當章魚正在瀝水時，我們將兩個沒有剝皮的馬鈴薯扔進我們煮章魚的鍋裡；煮25-30分鐘，煮熟後，取出它們，讓它們預熱。 然後我們用手去皮並切成約1厘米的切片。</p>

<p style="text-align:justify">Finalmente, colocamos las rodajas de patata en un plato y las sazonamos siguiendo este orden: primero les echamos sal gruesa, luego las espolvoreamos con piment&oacute;n, y para terminar rociamos bien todo con aceite de oliva.<br />
最後，我們將馬鈴薯切片放在盤子上並按順序調味：首先加入濃鹽，然後撒上辣椒粉，最後撒上橄欖油。</p>

<p style="text-align:justify">Receta de Jos&eacute; Miguel Blanco Pena</p>

<p style="text-align:justify">
<video controls=""><source src="/storage/app/media/Spanish/西班牙美食食譜/Video Pulpo a la gallega.mp4" /></video>
</p>