<p><img src="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Foto_Sepia_a_la_plancha.jpg" class="fr-fic fr-dii" style="width: 142.219px; height: 106.653px;"></p>

<p><strong>Sepia a la plancha</strong></p>

<p><strong>Ingredientes (para dos personas)</strong></p>

<p>-1 sepia 1 隻花枝</p>

<p>-2 dientes de ajo &nbsp;2 塊蒜瓣</p>

<p>-Perejil fresco 新鮮芹菜</p>

<p>-2 cucharaditas de zumo de limón 2 小匙的檸檬汁</p>

<p>-1 cucharadita de vinagre 1&nbsp;小匙的醋</p>

<p>- Aceite de oliva virgen extra 特級初榨橄欖油</p>

<p>-Sal gruesa 粗鹽</p>

<p>&nbsp;</p>

<p><strong>Elaboración</strong></p>

<p>Primero preparamos el majado, que reservaremos para el final. En un mortero, se echa y se machacan bien los dos dientes de ajo troceados, el perejil picado, el vinagre, el zumo de limón y la sal. Una vez machacado todo, se añade un buen chorro de aceite de oliva virgen extra y se remueve bien.
	<br>首先，我們準備麵團，將其保留至最後。在研缽中，將兩片切碎的蒜瓣，切碎的芹菜，醋，檸檬汁和鹽倒入並壓碎，之後加入一些特級初榨橄欖油，攪拌均勻。</p>

<p>Por otro lado, limpiamos, lavamos y cortamos la sepia en trozos de unos 3x3 cm. A continuación, ponemos al fuego una sartén sin aceite ,y cuando la plancha esté bien caliente, se echan los trozos de sepia y se saltean durante no más de un minuto, para que suelte el agua. Pasado el minuto, se apaga el fuego y se vierte la sepia en un plato con papel de cocina en el fondo, a fin de que se escurra bien.
	<br>另一方面，我們將花枝清洗，洗淨並切成約3x3厘米的碎片。接下來，將花枝放置於一個沒有油的煎鍋加熱去水分（不用太久），約一分鐘後關火，將花枝倒在底部有廚房紙巾的盤子上。
	<br>&nbsp;</p>

<p>Mientras, esperamos a que se enfríe la sartén y luego la lavamos bien y la secamos. Ahora la metemos al fuego con un hilo de aceite de oliva. Cuando el aceite esté caliente, echamos la sepia y la salteamos de nuevo, ahora unos tres minutos. Pasados los tres minutos, vertemos en la sartén el majado del mortero y lo mezclamos bien con la sepia, removiéndo todo durante unos 8-10 segundos. Apagamos el fuego, echamos la sepia en un reciente y la servimos bien caliente.
	<br>同時，我們等待鍋冷卻，然後將其洗淨並乾燥。爾後，我們熱鍋加入橄欖油，然後再次加入花枝煎炒。三分鐘後，將砂漿倒入鍋中，與花枝充分混合，攪拌均勻約8-10秒就完成了。</p>

<p>Receta de José Miguel Blanco Pena</p>
<figure data-label="Video Sepia a la plancha.mp4" data-video="https://www.tfsx.tku.edu.tw/storage/app/media/Spanish/%E8%A5%BF%E7%8F%AD%E7%89%99%E7%BE%8E%E9%A3%9F%E9%A3%9F%E8%AD%9C/Video%20Sepia%20a%20la%20plancha.mp4">&nbsp;</figure>