<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/zC1XJGuIz7U" width="560"></iframe></a></p>

<p><strong>Vocabulario:</strong></p>

<p><strong>1. 南海 Mar de China Meridional</strong></p>

<p><strong>2.中國大陸 China&nbsp;continental</strong></p>

<p><strong>3. 移民 inmigrar / emigrar</strong></p>

<p><strong>4. 觀音山 Monte&nbsp;Guanyin</strong></p>

<p><strong>5. 滬尾 Huwei / Hobe</strong></p>

<p><strong>6. 原住民 aborigen / ind&iacute;gena</strong></p>

<p><strong>7. 清廷 dinast&iacute;a Qing</strong></p>

<p><strong>8. 割地賠償 cesi&oacute;n (de territorio) e indemnizaci&oacute;n</strong></p>

<p><strong>9. 佔領 ocupaci&oacute;n / ocupar por la fuerza</strong></p>

<p><strong>10. 非法 ilegal / il&iacute;cito / ileg&iacute;timo</strong></p>

<p><strong>11. 省會 capital de provincia</strong></p>

<p><strong>12. 船艦 nav&iacute;o / barco / flota naval</strong></p>

<p><strong>13. 內戰 guerra civil</strong></p>

<p><strong>14. 古蹟 monumento hist&oacute;rico / reliquia arquitect&oacute;nica</strong></p>

<p><strong>15. 盆地 cuenca (hidrogr&aacute;fica)</strong></p>

<p><strong>16. 台灣海峽 Estrecho de Taiw&aacute;n</strong></p>

<p><strong>17.&nbsp;出海口 desembocadura</strong></p>

<p><strong>18. 火山 volc&aacute;n&nbsp;</strong></p>

<p><strong>19. 平原 llanura / llano / planicie / explanada</strong></p>

<p><strong>20. 航行 navegaci&oacute;n / navegar</strong></p>

<p><strong>21. 東亞 Asia Oriental / Asia del Este</strong></p>

<p><strong>22. 貿易轉運站 punto de intercambio comercial</strong></p>

<p><strong>23. 轉音(羅馬拼音) romanizaci&oacute;</strong><strong>n / transcripci&oacute;n fon&eacute;tica / transferencia fon&eacute;tica / transliteraci&oacute;n</strong></p>