<p>本屆頂石課程由大四「西班牙語會話（四)」課程執行，由白士清、羅幕斯、孔方明、葉汐帆老師指導 。</p>

<p>海報請點閱<a href="https://drive.google.com/drive/folders/1ExgpmL1jWQWDU12hjK_kOXLHrp5Q2612?usp=sharing">雲端連結</a>；影片請點選下表連結觀賞。</p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:736px">
	<tbody>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">指導老師</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">組別名稱</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center">作品名稱</p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">學生姓名(系級)</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">白士清</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">第2組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/FJ7ydLufkGE">Cerveza Artesanal En Espa&ntilde;a y Taiw&aacute;n</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">林怡妮 賴可婷 王詩詠 李姿儀</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">羅幕斯</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週二 第2組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://www.youtube.com/watch?v=valCFcq-pts&amp;ab_channel=%E8%8A%83%E5%90%9B%E9%99%B3">Las bebidas alcoh&oacute;licas del los pa&iacute;ses hisp&aacute;nicos</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">陳姿吟 劉欣茹</p>

			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">簡心煦 王巾以</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">羅幕斯</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週二 第3組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/3Uw0hhaGKXo">La geograf&iacute;a de Taiw&aacute;n y Espa&ntilde;a</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">4A</p>

			<p style="text-align:center">黃正豪</p>

			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">郭庭邑 楊琳祐 西語</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">羅幕斯</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週四 第2組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/ruBGoCoax44">Pueblos abor&iacute;genes hispanoamericanos</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">陳昱勳&nbsp; 葉亭宣 林虹妏 吳忞蓴</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">羅幕斯</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週四 第5組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/mfxorj80dws">El vino de Espa&ntilde;a</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">李宜恩 沈沛暄 李羿潺 江堃逸</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第1組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="Pingxi">Pingxi</a>&nbsp;</p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">葉馨惠</p>

			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">高佩瑄 林縈潔</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第2組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/RjNRHi5xvQU">Yangmingshan</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">蘇盈樺 朱家銘 林宇欣</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第3組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://www.youtube.com/watch?v=F8CgoMQcB88&amp;t=648s">El Lago de las mil islas</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">蘇怡安 邵儀瑄 西語</p>

			<p style="text-align:center">4B 吳柏毅</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第4組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/xwQGUUhytTI">Fuguijiao</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">黃牧心 張喬㫻 許諾 劉育慈</p>

			<p style="text-align:center">西語4B 蔡紹暘</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第5組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/6VGQ7_Cmcws">Zoo de Taip&eacute;i</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">涂祐瑄 劉婷姍 黃思旖</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第6組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://www.youtube.com/watch?v=gEucU_3eajY">Las luci&eacute;rnagas de Xindian</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">李元鈺 劉雅文 張珮蓁</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第7組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/e5ylTIAeN4s">Houtong</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">游立騏 林冠儒 童暐恩</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">葉汐帆</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">週五 第8組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://www.youtube.com/watch?v=Z4EOScBpyuA&amp;t=312s">Jiufen</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4A</p>

			<p style="text-align:center">黃伊萱 陳姵君 吳佩慈</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">孔方明</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">第1組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/Dht6lTE0VSs">La cultura del vino en Espa&ntilde;a</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">潘思廷 吳珮瑜 陳芃君 力于恩 黃子馨</p>
			</td>
		</tr>
		<tr>
			<td style="width:61px">
			<p style="text-align:center">孔方明</p>
			</td>
			<td style="width:99px">
			<p style="text-align:center">第3組</p>
			</td>
			<td style="width:347px">
			<p style="text-align:center"><a href="https://youtu.be/9QXdiDuH3EA">El Hoyo</a></p>
			</td>
			<td style="width:229px">
			<p style="text-align:center">西語4B</p>

			<p style="text-align:center">許家毓 林瑜均 曾子娟 黃驛彬 黃欐涵</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>