<p><a href="">&quot;&gt;<iframe frameborder="0" height="315" src="https://www.youtube.com/embed/nCLy1merz2Q" width="560"></iframe></a></p>

<p>&nbsp;</p>

<p><strong>Vocabulario:</strong></p>

<p><strong>1. 海拔標高 altura sobre el nivel del mar / altura con&nbsp;relaci&oacute;n al nivel del mar</strong>&nbsp;</p>

<p><strong>2. 供奉 consagrado a / dedicado a ( la alabanza de ) una determinada deidad</strong>&nbsp;</p>

<p><strong>3. 登山 monta&ntilde;ismo</strong>&nbsp;</p>

<p><strong>4. 健行 senderismo</strong>&nbsp;</p>

<p><strong>5. 後裔 descendiente / sucesor</strong>&nbsp;</p>

<p><strong>6. 洋流 corrientes marinas&nbsp;</strong>&nbsp;</p>

<p><strong>7. 獨木船 peque<strong>&ntilde;a embarcaci&oacute;n de madera (de construcci&oacute;n aborigen)</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>8. 祖先 ancestros / antepasados</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>9. 佛教 budismo</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>10. 佛 buda (deidad del budismo)</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>11. 媽祖 Matsu (deidad popular entre los pueblos de la etnia china)</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>12. 信仰 creencia religiosa /&nbsp;fe</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>13. 東南亞 Sudeste Asi&aacute;tico&nbsp;/ Asia del Este</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;</p>

<p><strong><strong>14. 觀世音菩薩 Boddhisattva Guanyin / Boddhisattva Avalokite<strong>ś</strong></strong>&nbsp;&nbsp;&nbsp;</strong><strong>vara ( deidad del budismo)</strong>&nbsp;&nbsp;</p>

<p><strong>15. 災難 calamidad / cat<strong><strong>&aacute;strofe / desastre</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong><strong><strong>16. 大慈大悲 gran sabidur&iacute;a y gran misericordia ( car<strong><strong>&aacute;cter que se le atribuye a Boddhisattva Guanyin)</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong><strong><strong><strong><strong>17. 考古博物館 museo arqueol<strong><strong>&oacute;gico / museo de arqueolog&iacute;a</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong><strong><strong><strong><strong><strong><strong>18. 地質學家 ge&oacute;logo</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong><strong><strong><strong><strong><strong><strong>19. 勘查 exploraci<strong><strong>&oacute;n</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong>20. 文物 artefactos hist<strong><strong>&oacute;ricos / reliquias / artefactos art<strong><strong><strong><strong><strong><strong><strong>&iacute;sticos o culturales de valor hist<strong><strong><strong><strong><strong><strong><strong><strong><strong>&oacute;rico&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>21. 史前時代 prehistoria / periodo prehist<strong><strong><strong><strong><strong><strong><strong><strong><strong>&oacute;rico</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>22. 鐵器時代 Edad del Hierro / Edad de los Metales&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>23. 陶器 artefactos de barro / instrumentos de barro (tambi&eacute;n podr&iacute;a referirse a artefactos de cer&aacute;mica)</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>24. 煉鐵爐 fundici<strong><strong><strong><strong><strong><strong><strong><strong><strong>&oacute;n de hierro / hierro fundido</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>25. 墓葬品 art<strong><strong><strong><strong><strong><strong><strong>&iacute;culos f&uacute;nebres /&nbsp;art&iacute;culos de uso funerario</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>26. 遺址 ruinas (arqueol<strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>&oacute;gicas)</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>27. 自然保留區 reserva natural y &aacute;rea protegida</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>28. 公共設施 infraestructuras p&uacute;blicas</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;</strong></p>

<p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>29. 守護神 deidad protectora / santo patr<strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>&oacute;n ( de un lugar determinado)</strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;</strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong> </strong></p>

<p><strong>30. 侵略 incursi&oacute;n / ataque / agresi&oacute;n (militar)</strong></p>

<p><strong>31. 匾額 placa / grabado</strong></p>

<p><strong>32. 石柱 pilar de piedra / columna de piedra</strong></p>

<p><strong>33. 石碑 placa de piedra (grabado sobre una placa de piedra)</strong></p>

<p><strong>34. 燈塔 faro / torre de vig&iacute;a de un faro</strong></p>