<p><a href="">&quot;&gt;<iframe frameborder="0" height="315" src="https://www.youtube.com/embed/qqNHnwXnx2I" width="560"></iframe></a></p>

<p>&nbsp;</p>

<p>Vocabulario:</p>

<p>1. 泥沙淤積 acumulaci&oacute;n de arena / acumulaci&oacute;n de estratos arenosos</p>

<p>2. 古董店 tienda de antig&uuml;edades</p>

<p>3. 民藝品店 tienda de artesan&iacute;as</p>

<p>4. 呼籲 pedir / exigir / solicitar</p>

<p>5. 文史工作室 taller de historia y cultura</p>

<p>6. 網路集結 congregarse a trav&eacute;s de internet</p>

<p>7. 滑手機 manipular el m&oacute;vil ( tel&eacute;fono)</p>

<p>8. 上坡階梯 escaleras inclinadas</p>

<p>9. 山丘 colina / macizo monta&ntilde;oso</p>

<p>10. 中國時報 China Times (peri&oacute;dico en Taiw&aacute;n)</p>

<p>11. 新北市政府 Gobierno de la Ciudad Nuevo Taip&eacute;i</p>

<p>12. 拓寬工程 proyecto de ampliaci&oacute;n / programa para la ampliaci&oacute;n (de una obra de construcci&oacute;n)</p>

<p>13. 柔性訴求 demandas pac&iacute;ficas</p>

<p>14. 保留 preservaci&oacute;n</p>

<p>15. 古厝 casa antigua</p>

<p>16. 彈孔 agujero de bala</p>

<p>17. 興衰 auge y ca&iacute;da</p>

<p>18. 邊坡地 declive / pendiente / ladera</p>

<p>19. 猶太商行 comercio jud&iacute;o / empresa jud&iacute;a</p>

<p>20. 公寓雜院 apartamento multiuso</p>

<p>21. 失火 incendiarse / quemarse</p>

<p>22. 拆除改建 demoler y luego reconstruir</p>

<p>23. 淡水文化基金會 Fundaci&oacute;n Cultural Tamsui</p>

<p>24. 委託 encargar / confiar / asignar ( a alguien una tarea espec&iacute;fica)</p>

<p>25. 彩墨 pintura china policrom&aacute;tica</p>

<p>26. 壁畫 mural / fresco / obra pict&oacute;rica</p>

<p>27. 撞沉意外 naufragio / hundimiento (de un nav&iacute;o)</p>

<p>28. 雅號 nombre elegante y sofisticado</p>

<p>29. 魚丸 alb&oacute;ndigas de pescado / bolas de pescado</p>

<p>30. 複合式餐廳 restaurante mixto</p>