<p><strong>就業管道</strong><br />
教師<br />
公務員(高普考)<br />
秘書及業務助理<br />
導遊、領隊<br />
翻譯(外交、經濟及政治)<br />
駐外人員(口譯、筆譯)<br />
<br />
<strong>主要進修領域</strong><br />
淡江大學美洲研究所拉美組<br />
淡江大學歐洲研究所<br />
輔仁大學西班牙文學研究所<br />
靜宜大學西班牙語文學系研究所<br />
國內外相關研究所，如外交、歐洲研究所等<br />
西班牙及拉丁美洲各大學研究所</p>

<p><strong>系友於外交界之具體研究</strong><br />
目前政府各機構之西文相關人員，如外交部、經濟部及新聞局等，皆遍佈本系之畢業系友，<br />
未來本系之課程仍將以實用西語為主，訓練學生活用西班牙語之能力，積極培養本國西語外交人才。</p>

<p>&nbsp;</p>