<h1><strong><span style="font-size:14px">一、畢業學分</span></strong></h1>

<p>*<strong>102~105學年度</strong>：<br />
&nbsp;&nbsp;畢業學分140學分；包含必修學分103學分（含校共同必修31學分，系定必修72學分）及選修學分37學分（含系定選修21學分，其他選修16學分）。<br />
*<strong>106學年度</strong>：<br />
&nbsp;&nbsp;畢業學分140學分；包含必修學分98學分（含校共同必修26學分，系定必修72學分）及選修學42學分（含系定選修21學分，其他選修21學分）。<br />
*<strong>107學年度起</strong>：<br />
&nbsp;&nbsp;畢業學分128學分；包含必修學分94學分（含校共同必修26學分，系定必修68學分）及選修學分34學分（含系定選修18學分，其他選修16學分）。</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align:center">入學年度</td>
			<td style="text-align:center">&nbsp;校必修學分</td>
			<td style="text-align:center">系必修學分</td>
			<td style="text-align:center">系定選修學分</td>
			<td style="text-align:center">其他選修學分</td>
			<td style="text-align:center">總畢業學分數</td>
		</tr>
		<tr>
			<td style="text-align:center">102~105</td>
			<td style="text-align:center">31</td>
			<td style="text-align:center">72</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">16</td>
			<td style="text-align:center">140</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">26</td>
			<td style="text-align:center">72</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">21</td>
			<td style="text-align:center">140</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">26</td>
			<td style="text-align:center">68</td>
			<td style="text-align:center">18</td>
			<td style="text-align:center">16</td>
			<td style="text-align:center">128</td>
		</tr>
	</tbody>
</table>

<p>註：通識核心課程修習科目請參閱<a href="http://www.core.tku.edu.tw/works/super_pages.php?ID=works01">通識課程架構</a>。</p>

<h2><span style="font-size:14px"><strong>二、先修科目表（</strong>110學年度起在校生先修科目</span><span style="font-size:14px"><strong>）</strong></span></h2>

<p>本系設有先修科目，表列如下：</p>

<p><img src="/storage/app/media/Spanish/1101-for-student.jpg" /></p>

<p>圖表解析：表格右半部的科目要先修習，並且及格才能繼續修習表格左半部的課程。(也稱作擋修)</p>

<p>例如：初級西班牙文文法的第一、第二學期皆要修習及格通過後，才能修習中級西班牙文文法的第<strong>一</strong>學期。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;初級西班牙文文法的第一、第二學期皆要修習及格通過後，才能修習中級西班牙文文法的第<strong>二</strong>學期。</p>

<p>&nbsp;</p>

<p><strong>三、語檢門檻</strong><br />
1.須通過規定之英、西語檢定考試，始授予學士學位。<br />
2.未通過英、西檢考試得以修習補救教學抵免。英文請參閱教務處相關<a href="https://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/bdceb66ac5b2bea4482581680015ae65?OpenDocument">規定</a>；西檢考試得於四年級起選修本系開設之「進修西語」二學分，及格者始視同通過本系西語能力畢業標準。「進修西語」之學分不計入畢業學分及二分之一學分不及格計算，且該成績不列入學期成績及學業成績平均計算。<br />
3.申請修讀進修西語需先上傳檢定考試之成績單至「<a href="http://sinfo.ais.tku.edu.tw/MvcLicense/">外語能力檢定資料登錄暨審核系統</a>」，並於系上檢定審核公告之期限內持成績單影本（加註班級、姓名、學號及手機）至系辦登記選課。</p>

<p><strong>四、其他修課規定</strong><br />
1.本系生修習核心課程之外國語文學門「西班牙文(一)、(二)」不得計入本系畢業學分。其他選修學科不論系內系外皆採計。<br />
2.低年級生禁止選修高年級之必修課目，選修科目僅限往上修習一個年級。 若有違反規定者，須自行退選。惟前一學年學業成績總平均在 93 分以上，操行成績平均 80 分以上，每學年開學一週內向系上申請審核，通過後必修科目可往上修習一個年級，由系辦人工代選課程。<br />
3.系辦每學期第一週(確切日期由系辦公告)辦理必修課程人工加退選，凡因重修、輔系、雙主修、學程等因素導致衝堂者，請勿自行退選，須到系辦辦理人工加退選，由系辦視情形進行課程（限必修）調整。</p>