<table align="left" border="1" cellpadding="0" cellspacing="0" style="height:100px; width:450px">
	<tbody>
		<tr>
			<td>
			<h3><strong>學生核心能力</strong></h3>
			</td>
		</tr>
		<tr>
			<td>
			<p>A. 具備西語聽力、口說B1（歐語能力評量共同參考標準）的能力<br />
			Our students will obtain listening and speaking abilities at the intermediate level B1of the Common European Framework of Reference for Spanish.&nbsp;</p>

			<p>B. 具備西語閱讀與寫作B1（歐語能力評量共同參考標準）的能力<br />
			Our students will obtain reading and writing abilities at the intermediate level B1of the Common European Framework of Reference for Spanish.</p>

			<p>C.具備西語專業知識<br />
			Our students will obtain professional knowledge in Spanish.</p>
			</td>
		</tr>
	</tbody>
</table>