<p><a href="http://&lt;iframe width=">&quot;&gt;http://</a><a href=""><iframe frameborder="0" height="315" src="https://www.youtube.com/embed/o2hmZyFQtDE" width="560"></iframe></a></p>

<p><span style="font-size:24px"><strong>Vocabulario:</strong></span></p>

<p><strong>1. 林蔭步道 senderos arbolados / senderos poblados de arboles</strong></p>

<p><strong>2. 水上舞台 encenario flotante</strong></p>

<p><strong>3. 觀潮灣 puesto para observar el oleaje del r&iacute;o (mirador a la orilla del r&iacute;o)</strong></p>

<p><strong>4. 榕樹 higuera de Bengala (<em>Ficus microcarpa</em>)</strong></p>

<p><strong>5. 乘涼 relajarse en un lugar fresco</strong></p>

<p><strong>6. 通車 abrir al p&uacute;blico / entrar en operaci&oacute;n (un medio de transporte)</strong></p>

<p><strong>7. 賠錢 perder dinero / tener p&eacute;rdidas (en un negocio)</strong></p>

<p><strong>8. 創紀錄 establecer un r&eacute;cord</strong></p>

<p><strong>9. 河堤 orilla de un r&iacute;o</strong></p>

<p><strong>10. 沙丁魚 sardina (un tipo de pez)</strong></p>

<p><strong>11. 民歌 canci&oacute;n popular (canci&oacute;n folcl&oacute;rica)</strong></p>

<p><strong>12. 國立台北藝術大學 Universidad Nacional Taip&eacute;i de las Artes (Taipei National University of the Arts)</strong></p>

<p><strong>13. 魚腥味 olor a pescado</strong></p>

<p><strong>14. 編劇 gui&oacute;n teatral / libreto de una obra de teatro</strong></p>

<p><strong>15. 外景隊 grupo de teatro itinerante</strong></p>

<p><strong>16. 黃昏 crep&uacute;sculo / ca&iacute;da de la noche / anochecer</strong></p>

<p><strong>17. 斜坡 pendiente escalonada</strong></p>

<p><strong>18. 閣樓 &aacute;tico / desv&aacute;n</strong></p>

<p><strong>19. 朝聖地 lugar de peregrinaci&oacute;n</strong></p>

<p><strong>20. 填詞 escribir letras de canciones</strong></p>

<p><strong>21. 反省 reflexionar</strong></p>

<p><strong>22. 吶喊 clamor / grito</strong></p>

<p><strong>23. 台灣本土意識 ideolog&iacute;a local de Taiw&aacute;n (taiwanismo)</strong></p>

<p><strong>24. 靈魂人物 ser el alma de / ser el pionero de</strong></p>

<p><strong>25. 觀眾 espectador / audiencia / p&uacute;blico (en un espect&aacute;culo o evento)</strong></p>

<p><strong>26. 歌謠 balada / canci&oacute;n</strong></p>