<p>The Department of Spanish, established in 1962, is the oldest of its kind in Taiwan. In 1992, it became a department of the College of Foreign Languages and Literatures. Its main objective is to teach Spanish and the cultures of Spanish-speaking countries, so that graduates can communicate fluently in Spanish, teach Spanish, and play important roles in the relations between Taiwan, and Spanish-speaking countries.</p>

<p>To achieve its objectives, the department has designed a curriculum with subjects ranging from philology to culture, and has organized various activities to help students practice Spanish and experience the culture of Spanish-speaking countries.</p>

<p>The most outstanding features of this department are its international orientation, its exchange programs with foreign universities, its dynamism in the organization of national and international events, and its forward-looking vision.</p>