@charset "UTF-8";

body {
    font-family: "微軟正黑體", "Alef Hebrew", "Noto Sans TC", "cwTeXHei", "Arial", "新細明體", sans-serif;
    background-color: #f6f4f1;
    /*opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;*/
}

img {
	max-width: 100%;
}

.pt_20 {
	padding-top: 20px;
}
.pt_40 {
	padding-top: 40px;
}
.pb_40 {
	padding-bottom: 40px;
}

.mb_0 {
	margin-bottom: 0;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_15 {
    margin-bottom: 15px;
}
.mt_20 {
    margin-top: 20px;
}

.inline-block {
	display: inline-block;
}

.nowrap {
	white-space: nowrap;
}

.va_top {
	vertical-align: top;
}

.relative {
	position: relative;
}

.dp_table {
	display: table;
	width: 100%;
}
.dp_table > div {
	display: table-cell;
	float: none;
	vertical-align: top;
}
.bg_gray {
	background-color: #f7f7f7;
}
.bg_green {
	background-color: #777346;
}
.bg_yellow {
	background-color: #ced46a;
}
.bg_brown {
	background-color: #d9906d;
}
.bg_blue {
	background-color: #6a8bd4;
}
.bg_pink {
	background-color: #eb9598;
}
.bg_indigo {
	background-color: #9a96e4;
}
.bg_powder_blue {
	background-color: #6ebadf;
}
.bg_light_purple {
	background-color: #de8cca;
}
.bg_light_green {
	background-color: #6dd985;
}
.section_bg {
	background-image: url(../images/section_bg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
.scroll_layout {
	position: relative;
	margin-bottom: 20px;
	/*overflow: hidden;*/
}
.fixed_height {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.fixed_height .news {
	position: absolute;
	top: 0;
	right: 25px;
	bottom: 0;
	left: 25px;
	padding-right: 10px;
	padding-left: 5px;
}

.fixed_height .news.even {
	right: 0;
	left: 0;
}

.breadcrumb {
    background-color: #f0f0f0;
}

.input-group .form-control {
    box-shadow: none;
}
.red_btn {
	display: inline-block;
	padding: 8px 24px;
	color: #fff;
	background-color: #730707;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.red_btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #434343;
}


/*index_title*/
.index_title {
	color: #232121;
	font-size: 20px;
	padding: 15px 15px 15px 30px;
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: bold;
	border-top: 2px solid #6f6d6c;
	background-repeat: no-repeat;
	background-size: auto 40%;
	background-position: 5px center;
}
.index_title .title_en {
	color: #a2a09e;
	font-size: 18px;
	font-weight: normal;
	padding-left: 0.1em;
}
.index_title .list_icon {
	float: right;
	color: #4c4c4c;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.index_title .list_icon:hover {
	color: #000;
}
.more {
	float: right;
	color: #232121;
	font-size: 12px;
	padding-top: 8px;
}


/*header*/
header {
	position: relative;
}
.header_top {
	border-top: 10px solid #333;
	border-bottom: 10px solid #0dc3bc;
	min-height: 105px;
	background-color: rgba(0,0,0,.3);
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	background-color: #333;
	background-image: url(../images/header_bg.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.header_top .container {
	position: relative;
}
.header_top .logo {
	display: inline-block;
	position: absolute;
	left: 75px;
	top: -25px;
	z-index: 999;
}

.header_right {
	float: right;
	margin-top: 15px;
}
.header_right ul {
	float: left;
	list-style: none;
	padding-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 11px;
}
.header_right ul li {
	float: left;
	border-right: 1px solid #fff;
}
.header_right ul li:last-child {
	border-right: none;
}
.header_right ul li a {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
	line-height: 1em;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header_right ul li a:hover,
.header_right ul li a:focus {
	color: #f3ad00;
}
#search {
	float: left;
	width: 180px;
	margin-left: 20px;
	margin-bottom: 11px;
}
#s {
	background-color: #5f5f5f;
	color: #fff;
	border: none;
	height: 24px;
	font-size: 12px;
	border-radius: 0;
}
#s::-webkit-input-placeholder {
	color: #fff;
}
#s:-moz-placeholder {
	color: #fff;
}
#s::-moz-placeholder {
	color: #fff;
}
#s:-ms-input-placeholder {
	color: #fff;
}
.search_btn {
	background-color: #5f5f5f;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	height: 24px;
	border: none;
	padding: 6px;
	border-radius: 0;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.search_btn:hover,
.search_btn:focus {
	/*color: #fff;
	background-color: #f3ad00;*/
	color: #f3ad00;
	background-color: #5f5f5f;
}
#search .form-control:focus {
	box-shadow: none;
}
.header_bg {
	position: absolute;
	top: -10px;
	left: 0;
	bottom: -31px;
	width: 156.5px;
	background-color: #730707;
}
.header_bg:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: -200px;
	border-top: 100px solid transparent;
	border-left: 100px solid #730707;
	border-bottom: 100px solid #730707;
	border-right: 100px solid transparent;
}
.header_bg:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: -221px;
	border-top: 21px solid rgba(133, 1, 0, .9);
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
}
.under_line {
	width: 100%;
    height: 10px;
    margin-top: 5px;
    background: url(../images/slider_border.png) repeat-x scroll 0% 0% transparent;
    border-bottom: 1px solid #ddd;
}
.header_bottom {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;
}
.fixed_top .header_bottom {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.fixed_top .navbar-brand img {
	margin: 0;
	height: 100%;
}
.fixed_top .header_top {
	margin-bottom: 50px;
}


/*nav*/
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	text-align: center;
	margin-top: -35px;
}
.navbar-brand {
	display: none;
}
.navbar-nav {
	margin-left: -15px;
	margin-right: -15px;
	display: inline-block;
	float: none;
	background-color: #730707;
	position: relative;
}
.navbar-nav:before {
	position: absolute;
	bottom: 0;
	left: -84px;
	width: 84px;
	height: 8px;
	background-image: url(../images/shadow_left.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.navbar-nav:after {
	position: absolute;
	bottom: 0;
	right: -84px;
	width: 84px;
	height: 8px;
	background-image: url(../images/shadow_right.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.navbar>.container-fluid .navbar-brand {
	height: 50px;
	padding: 0;
	margin: 0;
	line-height: 50px;
    color: #98978b;
    font-weight: bold;
    margin-left: 25px;
}
.navbar-brand img {
	margin-top: -96px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-align: center;
	-webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    padding: 15px 0;
    font-weight: bold;
    line-height: 24px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #f3ad00;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #f3ad00;
}
.nav_tw {
	display: block;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px dotted #fff;
}
.nav > li:last-child .nav_tw {
	border-right: none;
}
.nav_en {
	display: block;
	color: #000;
	font-size : 10px;
	-webkit-transform : scale(0.83);
	-o-transform : scale(0.83);
}
.navbar-nav li .dropdown-menu {
    width: 200px;
    background-color: rgba(214, 214, 214, .9);
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    border: none;
    /*border-bottom: 5px solid #c92023;*/
    border-bottom: 5px solid #730707;
    border-radius: 0;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.38) !important;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.38) !important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-nav > li:nth-last-child(1) > .dropdown-menu,
.navbar-nav > li:nth-last-child(2) > .dropdown-menu {
    left: auto;
    right: 0;
}
.navbar-nav li .dropdown-menu .dropdown-menu {
	border-color: #6d6d6d;
	background-color: rgba(255, 255, 255,.9);
}
.dropdown-menu > li > a {
    padding: 10px 15px;
    color: #262525;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    white-space: normal;
    font-weight: bold;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #f3ad00;
    border-color: #316515;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1274ad;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #1274ad;
}
.navbar-toggle.collapsed .icon-bar {
    background-color: #98978b;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #605f54;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #262525;
    background-color: #fff;
    padding-left: 18px;
    padding-right: 12px;
}
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu .dropdown-menu > li > a:focus {
	color: #730707;
	background-color: rgba(214, 214, 214, .9)
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > a > i {
    line-height: 22px;
    font-size: 16px;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
}
.navbar-nav > li:nth-last-child(1) > .dropdown-menu .dropdown-menu,
.navbar-nav > li:nth-last-child(2) > .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
}
.navbar-default .navbar-nav .open .dropdown-menu > li.dropdown-submenu.open > a.dropdown-toggle {
    color: #fff;
    background-color: #316515;
    padding-left: 18px;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
}


/*index_slider*/
#index_slider.owl-carousel .item {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
#index_slider.owl-theme .owl-nav {
	position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 0;
    margin: 0;
}
#index_slider.owl-theme .owl-nav [class*='owl-'] {
	position: absolute;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	right: 45px;
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
#index_slider.owl-theme .owl-nav .owl-prev {
	right: auto;
	left: 45px;
}
#index_slider.owl-theme .owl-dots {
	background-color: #0064a9;
	display: none;
}
#index_slider.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	border: 1px solid #fff;
	width: 12px;
	height: 12px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 2px;
}
#index_slider.owl-theme .owl-dots .owl-dot.active span,
#index_slider.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #fff;
}


/*gallery_slider*/
.gallery_slider {
	padding: 0px 30px;
	margin-bottom: 20px;
}
.gallery_slider .owl-theme .owl-nav {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
	margin-top: calc(11.666% - 4.666px);
}
.gallery_slider .owl-theme .owl-nav [class*='owl-'] {
	margin: 0;
	padding: 0;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    position: absolute;
    left: 0;
    opacity: 0.75;
}
.gallery_slider .owl-theme .owl-nav .owl-next {
	left: auto;
	right: 0;
	-webkit-transform: translate3d(50%,-50%,0);
    transform: translate3d(50%,-50%,0);
}
.gallery_slider .owl-theme .owl-nav .disabled {
	opacity: 0.5;
}
.gallery_slider .text_box {
	margin-bottom: 0;
}
.gallery_slider .text_box p {
	margin-top: 10px;
	margin-bottom: 0;
	color: #2b2b2b;
	font-size: 12px;
}
.slider_title {
	position: absolute;
	left: 0;
	top: 50%;
	left: 115px;
	color: #fff;
	/*padding: 8px 0px;*/
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    border-bottom: 1px solid #fff;
}
.slider_title span {
	display: block;
	font-size: 28px;
	/*line-height: 34px;*/
	font-weight: bold;
	margin-bottom: 5px;
}
/*.slider_title a {
	display: inline-block;
	padding: 8px 24px;
	color: #fff;
	background-color: #730707;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
}
.slider_title a:hover,
.slider_title a:focus {
	text-decoration: none;
}*/
.count_list {
	background-color: #070707;
	float: right;
	padding: 0 10px;
	line-height: 34px;
}
.gallery_slider.two_item .img_block > a {
	display: block;
	border: 10px solid #eae8df;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery_slider.two_item a:hover {
	border-color: #ddd;
}
.gallery_slider.two_item .text_box {
	padding-left: 10px;
	padding-right: 10px;
}
.gallery_slider.two_item .owl-theme .owl-nav {
	top: 50%;
	margin-top: 0;
}
.gallery_slider .slide_title {
	color: #730707;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
}
.gallery_slider .slide_title a {
	color: #730707;
}


/*event*/
.news {
	/*margin-bottom: 20px;*/
}
.news_item {
    margin-bottom: 15px;
}
.news_item:last-child {
	margin-bottom: 0;
}
.news_date {
    width: 55px;
    text-align: center;
    padding-top: 3px;
}
.img_icon {
	display: block;
	width: 100%;
	padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.img_icon div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.img_icon:hover div {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.news_day {
    display: block;
    color: #434343;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 30px;
}
.news_month {
    display: block;
    color: #f6f6f6;
    background-color: #434343;
    border: 1px solid #323232;
    font-size: 12px;
    line-height: 20px;
}
.news_content {
    padding-left: 10px;
}
.news_content h5 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #fa8d00;
    font-size: 12px;
}
.news_content a {
	display: block;
	color: #175963;
	font-weight: bold;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.news_content p {
	margin-top: 5px;
    margin-bottom: 0;
    color: #2b2b2b;
    font-size: 12px;
    /*font-weight: bold;*/
}


/*news*/
.bg_purple {
	background-color: #620035;
	padding-left: 25px;
	padding-right: 25px;
}
.bg_purple .news {
	border-color: #fff;
}
.bg_purple .news_content a {
	color: #fff;
}
.bg_purple .index_title {
	color: #fff;
	border-color: #fff;
}
.bg_purple .index_title .title_en {
	color: #fff;
}
.bg_purple .index_title .list_icon {
	color: #fff;
}
.bg_purple .news_content {
	padding-left: 0;
}

.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
.bg_white .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
	background-color: rgba(0,0,0,.1);
}
.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.bg_white .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(0,0,0,.75);
}
.bg_white .mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {

}
.mCSB_outside + .mCSB_scrollTools {
	right: -10px;
}


/*img_block*/
.img_content {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 30px;
	border: 10px solid #eae8df;
	/*padding-bottom: 20px;*/
	/*margin-bottom: 25px;*/
}
.img_content iframe {
	max-width: 100%;
}
.img_box {
	display: block;
	padding-top: 70%;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.img_box.p60 {
	padding-top: 60%;
}
.img_box .img_layout {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.img_box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 10px solid #eae8df;
}
.img_layout img {
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.img_title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
	color: #fff;
	padding: 15px;
}
/*.img_content .img_box:hover .img_layout img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}*/
.img_block .img_box:hover .img_layout img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.img_box.red {
	border-color: #c4120e;
}
.img_box.green {
	border-color: #45ab27;
}
.img_box.purple {
	border-color: #a842d7;
}
.img_box.light_blue {
	border-color: #2aa4cb;
}
.img_box.blue {
	border-color: #0e4fc4;
}
.img_box.dark_red {
	border-color: #c40e3d;
}
.img_box.golden {
	border-color: #a87b2a;
}
.img_box.dark_green {
	border-color: #1f7b66;
}
.img_box.map {
	border-color: #a82a7c;
}
.text_box {
	margin-bottom: 20px;
	color: #003262;
	/*height: 40px;*/
}

/*quick_link*/
.quick_link {
	list-style: none;
	padding-left: 0;
}
.quick_link li {
	border-bottom: 1px solid #d7d7d7;
}
.quick_link li:last-child {
	border-bottom: none;
}
.quick_link li a {
	display: block;
	color: #003262;
	padding: 6px 0;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.quick_link li a i {
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.quick_link li a:hover i {
    text-decoration: none;
}


/*submission*/
.submission {
	background-color: #eae8df;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.submission img {
	margin-bottom: 20px;
}


/*map*/
.map_block {
	position: relative;
	padding-top: 61.8%;
	border-bottom: 8px solid #a82a7c;
}
.map_block iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*side_menu*/
.side_menu h2 {
	font-size: 24px;
	font-weight: bold;
}
.side_menu .panel {
    /* background-color: rgba(255, 255, 255, .5); */
    /* background-color: rgba(242, 242, 242, 1); */
    background-color:#fff;
    border: none;
    -webkit-box-shadow: noen;
    box-shadow: noen;
}
.side_menu .panel-default > .panel-heading {
    background-color: #730707;
    padding: 0;
}
.side_menu .panel .panel-heading,
.side_menu .panel .panel-title {
    font-size: 14px;
}
.side_menu .panel-title > a:hover,
.side_menu .panel-title > a:focus {
    text-decoration: none;
   /*  color: #1d1c13;
   background-color: #ddd; */
}
.side_menu ul {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0;
    /* list-style-image: url(../images/icon_hole.png); */
}
.side_menu ul li {
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu ul li a {
    color: #444;
    display: block;
    line-height: 1.1em;
    padding: 15px;
    font-weight: bold;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu ul li a:hover,
.side_menu ul li a:focus,
.side_menu ul li.active > a {
    /* background-color: #ddd; */
    /* color: #fff; */
    background-color: #D9CCFF;
    text-decoration: none;
}
.side_menu ul li.current > a {
    /* background-color: rgba(87, 195, 234, 1);*/
    background-color: #8261a7;
    color: #fff;
}
/* .side_menu li:hover {
    list-style-image: url(../images/icon_hammer.png);
} */
.side_menu .panel-group .panel,
.side_menu .panel-group .panel + .panel {
    margin-top: 0;
    border-radius: 0;
    border-top: none;
}
/* .side_menu .panel-group .panel:first-child {
    border-top: 1px solid #dfd7ca;
} */
.side_menu .panel-title > a {
    display: block;
    color: #fff;
    font-weight: bold;
	padding: 15px;
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu .panel-title > a[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f067";
    float: right;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.side_menu .panel-title > a[data-toggle="collapse"][aria-expanded="true"]:after {
    /* content: "\f0d8"; */
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
.side_menu .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding: 0;
}
.has_sub > a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    float: right;
}
.panel.current .panel-title > a {
    color: #fff;
    background-color: rgba(87, 195, 234, 1);
}
.has_sub.active > a:after {
    content: "\f0d8";
}
.side_menu ul li.has_sub {
    overflow: hidden;
    position: relative;
}
.has_sub > .sub_menu2 {
    /* height: 0; */
    position: absolute;
    width: 100%;
    background-color: rgba(242, 242, 242, 1);
    /* background-color: #D9CCFF; */
    /* background-color: rgba(255, 244, 224, 1); */
    /* -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; */
}
.has_sub.active > .sub_menu2 {
    margin-bottom: 0 !important;
    position: static;
   /* height: auto; */
}
.side_menu ul.sub_menu2 li a {
    /* color: #fa8d00; */
    color: #919191;
}
.side_menu ul.sub_menu2 li a:hover,
.side_menu ul.sub_menu2 li a:focus {
    color: #620035;
    background-color: transparent;
}
.side_menu ul.sub_menu2 li.current a {
    color: #620035;
    background-color: transparent;
}


/*more_link*/
.more_link {
	background-color: #dfddcf;
}
.more_link .index_title {
	border-top: none;
}
.channel {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	margin-bottom: 40px;
}
.channel li {
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}
.channel li a {
	display: block;
	position: relative;
	padding-top: 45.45%;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
	/*-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/
}
.channel li a:hover {
	/*-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);*/
}
.channel li a:after {
	background: #fff;
    content: "";
    height: 400px;
    left: -181px;
    opacity: .2;
    position: absolute;
    top: -100px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    z-index: 10;
}
.channel li a:hover:after {
	left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.channel li a span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px 30px 20px 80px;
	max-width: 100%;
	max-height: 100%;
	white-space: nowrap;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: 20px center;
}



/*footer*/
footer {
	color: rgba(255,255,255,.9);
}
footer a {
	color: rgba(255,255,255,.9);
	-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
footer a:hover,
footer a:focus {
	color: #f3ad00;
}
.footer {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #6d6b68;
	background-color: #1e2124;
}
.totop {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #767779;
	position: absolute;
	right: 15px;
	top: 5px;
	margin-bottom: -20px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 5px 0;
	font-weight: bold;
	opacity: 0.8;
}
.totop:hover,
.totop:focus {
	text-decoration: none;
	color: #fff;
	opacity: 1;
}
.totop i {
	font-size: 24px;
	line-height: 12px;
}

.footer_menu_list {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-right: 30px;
	/*margin-left: -15px;*/
}
.footer_menu_list > li {
	float: left;
	padding-left: 25px;
	padding-right: 25px;
}
.footer_menu_list > li > a {
	font-size: 15px;
	position: relative;
}
.footer_menu_list > li > a img {
	position: absolute;
	top: 0;
	left: -23px;
}
.footer_menu_list > li > span {
	display: inline-block;
	font-size: 16px;
	margin: 15px 0 10px;
}
.footer_submenu {
	display: block;
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
	margin-top: 10px;
}
.footer_submenu > li {
	text-align: left;
	font-size: 12px;
	margin-bottom: 2px;
}
.footer_submenu > li > a {
	font-size: 12px;
}

.address {
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.address h4 {
	font-size: 13px;
	margin-bottom: 5px;
}
.address p {
	margin-bottom: 5px;
	font-size: 12px;
}
.admin {
	margin-bottom: 20px;
}

.footer_right {
	float: right;
	margin: 10px 0 30px;
	border-left: 1px solid #414141;
}
.footer_logo {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.social {
	margin-bottom: 20px;
}
.social a {
	display: inline-block;
	/* float: left; */
	width: 30px;
	height: 30px;
	margin-right: 5px;
	overflow: hidden;
}
/*.social a:first-child {
    margin-left: 0;
}*/
.social a:hover,
.social a:focus {
	text-decoration: none;
	color: #fff;
}
.social a i {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	-webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social a i:nth-child(1) {
	opacity: 0.6;
}
.social a:hover i:first-child {
	margin-top: -30px;
}
/*.social a img {
	display: block;
	-webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.social a img:nth-child(2) {
	opacity: 0.6;
}
.social a:hover img:first-child {
	margin-top: -30px;
}*/

.copyright {
	font-size: 12px;
	padding: 20px 0 10px;
	background: rgb(51,51,51);
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(43,43,43,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(43,43,43,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(43,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#2b2b2b',GradientType=0 );
	border-top: 1px solid #100e0b;
	border-bottom: 1px solid #0e0e0e;
}
.copyright a {
	text-decoration: underline;
}
.footer_line {
	border-top: 1px solid #cb4342;
	background-color: #7d0002;
	height: 6px;
}

@media (min-width: 1200px) {
	.container {
	    width: 1620px;
	    max-width: 100%;
	}
	.pr_0 {
		padding-right: 0 !important;
	}
}

@media (min-width: 768px) {
	.dropdown:hover > .dropdown-menu {
	    display: block;
	}
	.dropdown-submenu:hover > .dropdown-menu {
	    display: block;
	}
}


@media only screen and (max-width: 1199px) {
	.header_right ul {
		float: none;
	}
	#search {
		float: right;
		margin-right: 10px;
	}
	.header_top .logo {
		top: -7.5px;
	}
	.navbar-nav:before {
		display: none;
	}
	.navbar-nav:after {
		display: none;
	}
	/*.footer_menu_list > li {
    	width: 25%;
    }*/
    /*.navbar-default .navbar-nav>li>a {
    	padding-left: 10px;
    	padding-right: 10px;
    }*/
    .container {
	    width: 100% !important;
	}
	.gallery_slider.three_item .owl-theme .owl-nav {
		margin-top: calc(17.5% - 3.5px);
	}
	.channel li {
		width: 33.33%;
	}
}

@media only screen and (max-width: 991px) {
	.scroll_layout {
		height: auto !important;
	}
	.fixed_height {
		position: static;
	}
	.fixed_height .news {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		height: 290px;
	}
	.fixed_height .news.even {
		left: auto;
		right: auto;
	}
	/*.header_top .logo {
		position: static;
	}*/
	.navbar-nav {
		padding-left: 0;
		float: left;
	}
	.navbar-default .navbar-nav>li>a {
    	padding-left: 8px;
    	padding-right: 8px;
    }
    .nav_tw {
    	font-size: 14px;
    }
    
}
	

@media only screen and (max-width: 767px) {
	.header_top {
		padding-top: 10px;
		padding-bottom: 10px;
		position: static;
	}
	.header_top .logo {
		position: static;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.header_top .logo img {
		height: 90px;
	}
	.header_right {
		margin-top: 5px;
	}
	/*.header_right ul {
		float: left;
	}*/
	.header_bg {
		display: none;
	}
	.header_bottom {
		margin-bottom: 0;
	}
	#search {
		margin-bottom: 0;
		/*float: right;*/
	}
	.slider_title {
		left: 80px;
		/*display: none;*/
	}
	.slider_title span {
		font-size: 14px;
	}
	#index_slider.owl-theme .owl-nav {
		display: none;
	}
	#index_slider.owl-theme .owl-nav [class*='owl-'] {
		right: 20px;
	}
	#index_slider.owl-theme .owl-nav .owl-prev {
		right: auto;
		left: 20px;
	}
	#index_slider.owl-theme .owl-dots {
		display: block;
	}
	/*#index_slider {
		display: none;
	}*/
	.navbar {
		margin-top: 0;
		background-color: rgba(246,244,241,.8);
	}
	.navbar-nav {
		float: none;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav_tw {
		border-right: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: rgba(214, 214, 214, .9);
	}
	.fixed_top .navbar-brand {
		display: inline-block;
	}
	.navbar-collapse {
		background-color: #730707;
	}
	.fixed_top .navbar-header {
		background-color: rgba(0,0,0,.8);
		background-image: url(../images/header_bg.png);
	}
	.channel {
    	margin-left: -10px;
    	margin-right: -10px;
    	padding-left: 0;
    	padding-right: 0;
    }
	.channel li {
		width: 50%;
		padding-left: 10px;
    	padding-right: 10px;
	}
	.channel li a {
		font-size: 18px;
	}
	.channel li a span {
		padding: 15px 15px 15px 70px;
	}
	/*.header_right ul li a {
		padding-left: 7px;
		padding-right: 7px;
	}
	#search {
		width: 150px;
		margin-left: 10px;
	}
	.search_btn {
		padding-left: 10px;
		padding-right: 10px;
	}*/
}

@media only screen and (max-width: 599px) {
	.gallery_slider.three_item .owl-theme .owl-nav {
		margin-top: 35%;
	}
}

@media only screen and (max-width: 480px) {
	/*.header_right ul {
		float: none;
	}*/
	.footer_menu_list > li {
		width: 50%;
		height: auto !important;
	}
	.footer_menu_list > li:nth-child(1),
	.footer_menu_list > li:nth-child(2) {
    	width: 100%;
    }
    .footer_menu_list > li:nth-child(1) ul {
		margin-bottom: 10px;
    }
    .footer_menu_list > li:nth-child(2) > a {
		display: none;
    }
    
    .channel li {
		/*width: 100%;*/
	}
}





