description = "共同版權說明"
==
<div class="container">
    <p>Copyright©2017 {{site.title}} 版權所有　最佳瀏覽解析度 1280*720 Chrome / FF / IE10或以上，請詳見 <a href="#">使用規則</a>。</p>
    <a href="#" class="totop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>