<p></p>

<table border="0" cellpadding="0" cellspacing="0" width="97%">
	<tbody>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 校友姓名
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>服務單位</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 職稱
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>成就領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 侯登見
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>科見美語</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 董事長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 侯先生畢業於英文系多年，畢業後創辦科見美語，嘉惠社會學子甚巨。侯先生曾任多屆英文系獎學金主任委員，致力幫助英文系清寒學子，當英文系學生有困難時，侯先生必適時幫助使英文系學生在課業上不必擔憂經濟問題。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>蔡永興</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 啟台股份有限公司
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>董事長</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>蔡先生畢業於英文系之後成立啟台股份有限公司，網羅英文系學子輔導英文系學生就業，蔡先生亦是英文系獎學金委員之一，並成立啟均獎學金幫助英文系家境清寒學子。致力於社會服務幫助貧困之人，成立香園殘障育幼院幫助殘障同胞，致力於社會服務甚巨。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 朱天文
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>三三書坊</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 現代作家
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 朱小姐於英文系時期開辦三三集刊、三三書坊使英文系學子讀書風氣更盛，近幾年來朱小姐亦從事電影劇本寫作，為台灣新電影的重要編劇之一，亦是第一屆時報文學百萬小說得主，服務社會甚巨。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>周家獻</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 寶威航運
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>總經理</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>周先生曾擔任英文系校友會會長及英文系獎學金主任委員，亦是中華民國船務代理商業同業公會全國聯合會理事長。周先生畢業於英文系之後對英文系幫忙甚大，常常贊助英文系經費，致力於幫助英文系清寒同學。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>蕭集智</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 已退休
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>　</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>蕭先生於英文系畢業後全力支持成立英文系獎學金，不僅促成獎學金成立，同時亦成立金川獎學金，幫助英文系清寒同學。此外，蕭先生亦贊助英文系林亞倫老師出書經費，幫助英文系學生電腦教室上課軟體資源擴充，使英文系學生不斷擁有最新資訊接受新知，對英文系系務上幫助很大。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 汪國華
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>國泰世華聯合商業銀行</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 董事長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 汪先生是英文系獎學金創始人之一，目前亦是獎學金委員之一，汪先生始終致力於幫助英文系清寒同學。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>黃天中</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 朝陽人文學院院長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>院長</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>黃先生曾任淡江大學研究學院院長，親民工商專科學校校長，目前任職朝陽人文學院院長。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 呂明星
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>南興國民中學</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 校長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 呂先生畢業於英文系，目前任職於南興國民中學校長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>侯建威</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 海山高工
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>校長</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>侯先生畢業於英文系後，目前任職於省立海山高級工業職業學校校長。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 廖萬連
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>省立關山工商職校</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 校長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 廖先生目前任職於省立關山工商職校校長。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>鄭寶娟</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中國時報藝文組
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>記者兼現代作家</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>鄭小姐英文系畢業後致力於小說寫作，擴展書香社會，創作小說。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 陳敏聰
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>二林國民中學</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 校長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 陳先生畢業於英文系，目前任職於彰化縣立二林國民中學校長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>趙慧芳</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 大理國民中學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>校長</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>趙小姐畢業於英文系，目前任職於台北市市立大理國民中學。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;賴維新
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>萬國電器工業股份有限公司</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 董事長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 賴先生畢業於英文系，是英文系獎學金委員之一。致力於社會服務幫助貧困之人，對英文系幫忙甚大，常常贊助英文系經費幫助英文系清寒同學。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>王儀君</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中山大學英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中山大學前文學院院長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張嘉如</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 紐約市立大學
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>嘉如學姊畢業后，到美國東部的羅格斯</span>--<span>紐澤西州立大學修習視覺藝術。拿到了藝術碩士之后，繼續留在羅格斯大學攻讀比較文學博士。在寫論文的最后一年當中，申請到佛羅里達大學去教一年書。拿到博士后，轉到德州三立大學現代語言文學系教了三年書。之后，又換到維吉尼亞州的華李大學的東亞語言文學系去教了一年書。目前在紐約市立大學布魯克林學院的現代語言文學系教書并且擔任美國</span>ASLE <span>學會的參事。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 吳紹銓
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="22%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>英國</span>New Castle<span>大學</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="34%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 翻譯研文所所長
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 吳紹銓先生於<span>1988</span>年畢業於淡江大學英文系。畢業服兵役期間申請到獎學金，於退役後赴美國紐約聖若望大學東亞研究學院<span>(East Asian Institute, St. John’s University, New York)</span>研讀東亞研究碩士；取得碩士後，於<span>1991</span>年續申請至美國加州的蒙特瑞國際研究學院<span>(Monterey Institute of International Studies)</span>研讀中英口筆譯碩士。<span>1993</span>年畢業回國後受聘於高雄文藻外語學院英文系擔任講師，教授口筆譯課程並擔任該校翻譯中心主任，在文藻任教期間，除透過翻譯中心持續在南台灣發展口筆譯市場業務之外，並協助發展該校六年制專科翻譯組課程，為今日文藻翻譯系之濫觴。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>1997</span>年英國新堡大學<span>(Newcastle University, UK)</span>成立兩年制中英文口筆譯碩士班，於翌年邀請吳老師至新堡大學任教並協助發展該碩士課程，十年來該課程發展穩健，課程品質獲得兩岸學生肯定，由最初<span>12</span>名學生成長至目前每年約有<span>40</span>名研究生就讀。吳老師現任該中英文口筆譯碩士課程主任，致力發展<span>e-learning</span>口譯教學平台，提高口譯學習動機，增進教學成效。與此同時，吳老師仍然與台灣口筆譯界保持合作關係，曾擔任台灣師範大學翻譯研究所與輔仁大學翻譯研究所聯合專業口譯考試之考試委員，以及教育部舉辦的國家口筆譯考試命題委員。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>徐璐</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="2" width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中華電信基金會
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="2" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>執行長</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>美國哥倫比亞大學訪問學人</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 英國社區大學<span>City College of Lit</span>：網路經營與電影藝術
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>白小琳</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="2" width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 美國駐武漢總領事館
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="2" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>第一任總領事</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 淡江大學英文系畢業，美國威斯康辛大學碩士。
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>白小琳曾在美國駐中國大陸的使領館服務，包括在駐瀋陽、駐廣州等地的總領館擔任新聞領事。其間，她也曾在美國國務院的國際新聞總署等部門工作。目前為美國駐武漢總領事。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 趙亞林
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>美國</span>HUGE ENTERPRISE
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>巨業公司</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; CEO
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 李嘉寶
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>台灣區遠洋魚類輸出業同業公會</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 總幹事
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 史書美
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>美國加州大學洛杉磯分校亞洲語言文化係及比較文學系</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 教授
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 郭岱宗
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>口譯專家、淡江大學英文系</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 副教授
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 莫洛夫
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="5" width="86%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>現代詩詩魔。民國</span>43<span>年與張默創辦《創世紀》詩刊，</span>58<span>年發起組成「詩宗社」。曾獲中國詩人聯誼會優秀詩人獎、國軍新文藝運動光華獎、《中國時報》敘事詩推薦獎、中山文藝獎詩創作獎、吳三連文藝獎、國家文藝獎等。</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 黃玉佩
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>佳音美語</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 教學總監
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>社會服務</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 洪敏秀
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>中山大學外文系</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 副教授
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>學術領域</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 吳美君
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>台灣</span>Timberland
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>總經理</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張鴻彬</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 華梵大學外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張雅蘭</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 華梵大學外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>江雅蘭</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 文化大學英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>李利德</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 實踐大學英用外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>黃裕惠</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 世新大學英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>陳建志</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 淡江大學英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>胡迪</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 宜蘭大學外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張麗萍</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 台北商業技術學院應用外語系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>談玉儀</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 台北商業技術學院通識教育中心
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>古綺玲</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 亞洲大學外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>劉振蘋</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中國文化大學英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張台瓊</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 聖約翰科技大學應用英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>陳鳳儀</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 長庚大學通識中心
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>黃雅芬</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 德霖技術學院應用英語系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>楊鎮魁</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 台北商業技術學院通識教育中心
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張世明</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 聖約翰科技大學應用英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>蔡宗斌</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 聖約翰科技大學應用英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>周敏潔</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中國文化大學英文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>潘怡君</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 屏東商業技術學院通識教育中心
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>助理教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>曾嘉悌</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 景文技術學院應用外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>邱怡慧</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 台北商業技術學院應用外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>沈明月</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 虎尾科技大學應用外文系
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>副教授</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 學術領域
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>張治平</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 法務部調查局洗錢防制處
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>處長</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>吳繡鴛</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 昱捷股份有限公司
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>監察人</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>任逸翔</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 亞洲週刊、英文中國日報
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>前亞洲週刊駐台特派員、前英文中國日報副總編輯</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>林信誠</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 長榮國際有限公司
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>旅業部副協理</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td width="13%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>呂學炯</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td colspan="3" width="31%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日名國際藥品
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="25%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>總經理</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
			<td width="30%">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 社會服務
				<br>
			</td>
		</tr>
	</tbody>
</table>