<p>106-1<span>英語補救教學(10/16-12/22)</span></p>

<p>英語能力加強班 (自然發音<span>、</span>商英<span>、</span>會話<span>、</span>多益)課表 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" class="oc-alternate-rows">
	<tbody>
		<tr>
			<td rowspan="7" style="width: 6.9924%;" width="47">
				<div style="text-align: center;"><span>發音</span></div>

				<p style="text-align: center;">商英會話</p>
			</td>
			<td style="width: 15.4605%;" valign="top" width="187">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>班別</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 時段
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 12.7427%;" valign="top" width="252">
				<div style="text-align: center;"><span>授課教師</span></div>
			</td>
			<td style="text-align: center; width: 25.921%;" valign="top" width="179">教室地點
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>備註</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 15.4605%;" valign="top" width="187">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 發音<span>A</span>班
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>一</span> / 6:00-8:00pm
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="text-align: center; width: 12.7427%;" valign="top" width="252"><span>邱紫穎</span>
				<br>
			</td>
			<td style="text-align: center; width: 25.921%;" width="179">T411
				<br>
			</td>
			<td valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 15.4605%;" valign="top" width="187">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>發音</span>B<span>班</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 二<span>&nbsp;/ 6:00-8:00pm</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="text-align: center; width: 12.7427%;" valign="top" width="252">黃永裕
				<br>
			</td>
			<td style="text-align: center; width: 25.921%;" width="179"><span>T</span>314
				<br>
			</td>
			<td valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 15.4605%;" valign="top" width="187">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>發音</span>C<span>班</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 三<span>&nbsp;/ 6:00-8:00pm</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="text-align: center; width: 12.7427%;" valign="top" width="252">黃永裕
				<br>
			</td>
			<td style="text-align: center; width: 25.921%;" width="179"><span>T402</span>
				<br>
			</td>
			<td valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 15.4605%; background-color: rgb(84, 172, 210);" valign="top" width="187">
				<div style="text-align: center;">英語職達車</div>
				<div style="text-align: center;">(<span>商用英文)</span></div>
			</td>
			<td style="background-color: rgb(84, 172, 210); width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 三<span>&nbsp;/ 6:00-8:00pm</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="background-color: rgb(84, 172, 210); text-align: center; width: 12.7427%;" valign="top" width="252">張玉英
				<br>
			</td>
			<td style="background-color: rgb(84, 172, 210); text-align: center; width: 25.921%;" width="179"><span>T702</span>
				<br>
			</td>
			<td style="background-color: rgb(84, 172, 210);" valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 15.4605%;" valign="top" width="187">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 發音與會話
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>四</span> / 6:00-8:00pm
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="text-align: center; width: 12.7427%;" valign="top" width="252"><span>邱紫穎</span>
				<br>
			</td>
			<td style="text-align: center; width: 25.921%;" width="179">B425
				<br>
			</td>
			<td valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>11/2</span>日改<span>b516</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
		</tr>
		<tr>
			<td style="width: 15.4605%;" valign="top" width="187">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 多益<span>(</span>日班<span>)</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="width: 22.7527%;" valign="top" width="271">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 五<span>&nbsp;/4:00-6:00pm</span>
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<br>
			</td>
			<td style="text-align: center; width: 12.7427%;" valign="top" width="252">張雅印
				<br>
			</td>
			<td style="width: 25.921%;" width="179">
				<div style="text-align: center;"><span>T601</span></div>

				<p style="text-align: center;">第2<span>周星期</span>3補課B312(10/25<span>日</span>)</p>
			</td>
			<td valign="top" width="179">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 第<span>1</span>周不上課
				<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>第</span>2周星期3<span>補課</span>
				<br>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p><a class="fr-file oc-link-strong" href="/storage/app/media/uploaded-files/106-1_time_table.pdf">106-1_英語能力加強班開課表</a>
	<br>
</p>