<p><strong><br></strong><span><a href="http://www.tflx.tku.edu.tw/download.php?filename=619_13e04e07.pdf&amp;dir=archive&amp;title=105-1"><span>105-1學年度碩博士班開課</span></a>
	<br>
	<br><a href="http://www.tflx.tku.edu.tw/download.php?filename=620_ac8a9bf8.pdf&amp;dir=archive&amp;title=%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96"><span>英文學系碩博士班課程地圖<br></span></a>
	<a href="http://www.tflx.tku.edu.tw/download.php?filename=616_e642342b.pdf&amp;dir=archive&amp;title=%E9%81%B8%E4%BF%AE%E8%AA%B2">
		<br>英文學系碩博士班選修歷年開課</a>
	</span>
</p>