<p>A.強化學生英語聽、說、讀、寫能力。</p>

<p>&nbsp; Strengthen students&rsquo; English listening, speaking, reading and writing abilities.</p>

<p>B.培養學生中英翻譯之能力。</p>

<p>&nbsp; Develop students&rsquo; Chinese and English translation skills.</p>

<p>C.培養學生語文邏輯分析和批判能力。</p>

<p>&nbsp; Develop students&rsquo; critical thinking skills in an English language learning context.</p>

<p>D.具備英語媒體之理解能力。</p>

<p>&nbsp; Enable students to comprehend and appreciate English language media.</p>

<p>E.加強職場英文能力。</p>

<p>&nbsp; Strengthen students&rsquo; workplace English ability.</p>

<p>F.培養語言學與英語教學之專業能力。</p>

<p>&nbsp; Develop students&rsquo; professional abilities in linguistics and English teaching</p>

<p>G. 培養英美文學與社會、文化和歷史脈絡鑑賞能力。</p>

<p>Develop students&rsquo; ability to appreciate Anglophone literature in social, cultural and historical contexts.</p>

<p>H.拓展學生的國際觀。</p>

<p>&nbsp; Expand students&rsquo; international perspective</p>