<p align="center"><strong>&nbsp;英文系轉學生學分抵免原則</strong></p>

<p>104.08.17</p>

<p>&nbsp;</p>

<p>1. <strong>系必修學分</strong>：由<strong>英文系</strong>審核依規定抵免。<strong><u>科目名稱不同需附該課程教學大綱。</u></strong></p>

<p>2. <strong>系選修學分</strong>：由<strong>英文系</strong>審核依規定抵免。<strong><u>科目名稱不同需附該課程教學大綱。</u></strong></p>

<p>3. <strong>通識課程學分</strong>：<strong>由相關開課單位</strong>審核後依規定抵免。<strong><u>科目名稱不同需附該課程教學大綱。</u></strong></p>

<p>4. <strong>自由選修學分</strong>：由<strong>開課單位</strong>審核後依規定抵免，<strong><u>抵免以兩門為限</u></strong>。</p>

<p>5. <strong>抵免「大一英文」</strong>：原校就讀為英文系者，若成績及格者，經系上認證後得以抵免；若<u>原校就讀非英文系者欲抵免「大一英文」，則須參加系上舉辦的英文考試，通過考試者得抵免<strong>。</strong></u><strong>(</strong><strong>考試時間與地點另行公告)</strong></p>

<p><strong>註：五專一至三年級學分不可抵免。</strong></p>