description = "通用網頁使用"
==
<?php
use Morelink\Builder\Models\Unit;
use Morelink\Web\Models\SiteMenu;
use Morelink\Web\Models\UnitSite;
function onStart() {
    $domain = 'spanish';

    $unit = Unit::where('domain',$domain)->get()->first();

    $locale = input("lang",'zh-tw');
    $siteList = $unit->sites->where("locale",$locale);
    $site = $siteList->isEmpty() ? $unit->sites->first(): $siteList->first();
    $homeMenu = $site->rootMenu;
    $currentMenu = $homeMenu;


    $this['unit_sites'] = $unit->sites->reject(function($item)use($site){
        return $item->id == $site->id || !$item->status;
    });
    //$this['unit_sites'] = $unit->sites;

    $this['site'] = $site;
    $this['homeMenu'] = $homeMenu;

    $this['locale'] = $site->locale;
    $this['layout_folder'] = $site->style->layout;
    $this['style'] = $site->style->folder_name;
    $this['current'] = $currentMenu;
}
?>
==
<!doctype html>
<html lang="zh_tw">
{% partial layout_folder~'/head'%}

<body>

    {% partial layout_folder~'/header'%}

    {% partial layout_folder~'/content'%}

</body>
</html>