description = "pdf 含viewjs"
==
<!DOCTYPE html>
<html>
    <head>
        <title></title>
	{%styles%}
        <style>
          html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
          .some-pdf-container { width: 100%; height: 100%; }
pdfjs-viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}	  
        </style>
    </head>
    <body>
        {% page %}

    </body>
    {%scripts%}
</html>