<h2>
	<br>
</h2>

<h2 style="text-align: center;"><img src="/storage/app/media/uploaded-files/vallejo.jpg" style="width: 476px; height: 357px;" class="fr-fic fr-dib" data-result="success">瓦烈赫（César Vallejo, 1892-1938）</h2>

<h2>祕魯詩人瓦烈赫是二十世紀最重要的拉丁美洲詩人之一。他的首部詩集《黑色的使者》有著尼加拉瓜詩人達利奧（Rubèn Darío, 1867-1916）和烏拉圭詩人埃雷拉．雷西格（Herrera y Reissig, 1875-1910）的影子。1920年，他以「政治騷擾」的罪名被拘禁了數個月，第二本詩集《Trilce》中的許多詩作即取材於此一影響其一生及創作的重大事件。</h2>

<h2>本詩集編選了瓦烈赫各時期最好、最具代表性的詩作，生動刻繪了人類在面對死亡及無理性社會生活中的荒謬處境。</h2>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p style="text-align: center;">------------------------------------------------------------------------------------------------</p>

<p>
	<br>
</p>

<h2 style="text-align: center;"><img src="/storage/app/media/uploaded-files/nicolas-guillen.jpg" style="width: 384px; height: 476.16px;" class="fr-fic fr-dib" data-result="success">尼古拉斯紀廉（Nicolás Guillén，1902~1989）</h2>

<h2>尼古拉斯紀廉的詩歌比同时代的詩人的詩歌更富有戰鬥性，更接近於人民，是因為他兼有了當時兩個流派的詩人的特色。他一方面致力於發掘和發展古巴黑人和黑白混血人的民間詩歌與歌謠，從他們的生活和鬥爭中去體會他們的感情和思想。</h2>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p style="text-align: center;">-----------------------------------------------------------------------------------------------------------</p>

<p>
	<br>
</p>

<h2 style="text-align: center;"><img src="/storage/app/media/uploaded-files/_H11_Neruda.jpg" style="width: 499px; height: 281.103px;" class="fr-fic fr-dib" data-result="success">聶魯達（Pablo Neruda, 1904-1973）</h2>

<p>
	<br>
</p>

<h2>智利詩人聶魯達是一九七一年諾貝爾文學獎得主，被譽為二十世紀最偉大的拉丁美洲詩人。情感豐沛的聶魯達對世界懷抱熱情，對生命充滿探索的好奇心，對文學創作具有強烈的使命感，因此能將詩歌的觸角伸得既深且廣，寫出《地上的居住》（Residencia en la tierra）、《一般之歌》（Canto general）、《元素頌》 （Odas elementales）、《狂想集》（Estravagario）、《黑島的回憶》 （Memorial de Isla Negra）、《疑問集》（El libro de las preguntas）等許多動人的土地與生命的戀歌。</h2>