<h3><span>教育部委託</span>
	<br>
	<br><strong>第二外語 北區學生學習營</strong>
	<br>
	<br>
</h3>

<h4><span>&nbsp; &nbsp; &nbsp; <a href="https://youtu.be/ROwvD-ne-h8">2015 西語營</a></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span><a href="https://www.youtube.com/watch?v=ImHsOVACIak">2016 西語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/7znM0g7kBFI">2017 西語營</a></span><span>&nbsp;</span></h4>

<h4>
	<br>
</h4>

<h4>
	<a href="https://www.youtube.com/watch?v=3THSpuD1fB0&amp;feature=youtu.be"></a>
</h4>

<h4>&nbsp; &nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=3THSpuD1fB0&amp;feature=youtu.be">2015 法語營</a><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span><a href="https://www.youtube.com/watch?v=ws6SiSmDCBc">2016 法語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/LrYWY-H2l5U">2017 法語營</a></span></span>&nbsp;</h4>

<h4>
	<br>
</h4>

<h4><span>&nbsp; &nbsp; &nbsp; <a href="https://www.youtube.com/watch?v=S3Ffm80oi84&amp;feature=youtu.be">2015 德語營</a></span><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><a href="https://www.youtube.com/watch?v=DsjUdzmSI4E">2016 德語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/33GXLLTQg04">2017 德語營</a></h4>

<h4>
	<br>
</h4>

<h4>&nbsp; &nbsp; &nbsp; <a href="https://youtu.be/Mv-oNSfzBKk">2015 日語營</a><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span><a href="https://www.youtube.com/watch?v=-SqYhn_3GDM">2016 日語營</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="https://youtu.be/UH6s8BFhUo4">2017 日語營</a></span></span>
</h4>

<h4>&nbsp;
	<br><span>&nbsp; &nbsp; &nbsp; <a href="https://youtu.be/ADWBBr7FLGQ">2015 西德營閉幕式</a></span></h4>

<h4>
	<br>
</h4>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p>
	<br>
</p>