<p style="text-align:center"><span style="color:#0000ff"><span style="font-size:48px">外語自學網站，<br />
歡迎點選左列語言/選單，謝謝!</span></span><br />
<span style="color:#0000ff"><span style="font-size:28px">Welcome!</span></span><span style="font-size:22px"><span style="color:#0000ff">&nbsp;</span></span><br />
<span style="color:#0000ff"><span style="font-size:28px">Please Click the Link at the Left to Access Different&nbsp;Foreign Languages.</span></span></p>