<h3><span style="color: rgb(243, 121, 52);"><span style="font-size: 18px;"><strong>外語教育與在地文化研究中心</strong></span></span>
</h3>

<p><strong><span style="color: rgb(226, 80, 65);">1.&nbsp;目標：</span></strong></p>

<p>1) 本學院在吳前院長錫德博士的帶領下，103學年度開發了《話說淡水》六國語言教科書，本中心以此經驗為出發點，104學年度持續開發《話說淡江》一書，慶祝淡江大學66週年校慶。為了讓教科書的研發具有連貫性。</p>

<p>2) 外國語文學院英、西、法、德、日、俄等六個外語系，持續與在地城市合作，引進城鎮資源，學生可與城鎮居民互動，進而成為重視公民社會的外語專業人才。讓學生學習在地文化、關懷在地人文地景，透過課程討論，比對本國與外國文化之間的異同，加強語言學習，深化文化涵養。</p>

<p>3) 本中心擬與陳澄波基金會和淡水區公所合作，出版《話說陳澄波與淡水》系列導覽書，將陳澄波與淡水相關之畫作譯成六種外語(英文、西班牙文、法文、德文、日文與俄文)，共同開發系列外語教科書，將區域學、文化和觀光休閒議題融入外語教學，引領學生認識畫家筆下的淡水歷史遺跡。此系列教材除用於外語教學，亦可落實社區服務，結合陳澄波基金會淡水區公所之行政資源，作為觀光導覽和文化宣傳手冊。本系列教材之完成，可突顯本校和其他大學外語學院之辨識度，進而提升本校之社會服務形象。</p>

<p><span style="color: rgb(226, 80, 65);"><strong>2. 工作內容：</strong></span></p>

<p> 1) 本中心由外語學院和陳澄波基金會共同合作，外語學院負責專書編輯及呈現樣貌。內容預定從陳澄波與淡水之畫作開始，自陳澄波戶外美術館選定之12幅畫作，挑選6幅譯成6種外語，再逐年擴及陳澄波之全部作品。透過畫作之解析，將淡水文化特色、歷史遺跡或自然景觀，介紹給國內讀者、國際觀光客，以及藝術研究者。</p>

<p>2) 除了開發紙本教科書之外，未來尚可與陳澄波基金會和淡水區公所再度合作，開發線上數位教材，或與教育學院合作共同開發線上數位教材，成品授權業者使用，收取權利金，達到產學合作和技術移轉之目的。</p>

<p><span style="color: rgb(226, 80, 65);"><strong>3.成效：</strong></span></p>

<p>1) 103學年度已完成之《話說淡水》六語紙本，目前為各系會話課補充教材。
	<br>2)104學年度出版《話說淡江》可以當作本校宣傳品，用來贈送給各國外賓和留學生使用。
	<br>3)105學年度將出版《話說陳澄波與淡水》。
	<br>4) 授權陳澄波基金會、淡水區公所，作為景點觀光手冊及藝術品導覽(六語版)，達成服務社區、保存在地文化，宣傳在地文化遺跡之任務。</p>