<h4><span style="color:#54acd2"><strong><span style="font-size:48px">俄文推薦自學網站:</span></strong> </span><br />
&nbsp;</h4>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.mp3.ru/">http://www.mp3.ru/</a></span></p>

<p><span style="font-size:24px">俄國音樂網站，可查詢任何形態的歌曲、樂手，亦可下載mp3，但需付費</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://russianinternet.com/video/">http://russianinternet.com/video/</a></span></p>

<p><span style="font-size:24px">俄國線上電視入口網站，可以收看所有選單上的電視即時節目</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.listenlive.eu/russia.html">http://www.listenlive.eu/russia.html</a></span></p>

<p><span style="font-size:24px">俄國線上電台入口網站，可以線上收聽任何俄國網路電台</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.1tv.ru/">http://www.1tv.ru/</a></span></p>

<p><span style="font-size:24px">俄國最大官方電視台第一頻道(Первый канал)的官網，可收看網路即時節目</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://feb-web.ru/">http://feb-web.ru/</a></span></p>

<p><span style="font-size:24px">俄國最大的文學和民俗文學線上百科(ФЭБ)</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.languages-study.com/russian.html">http://www.languages-study.com/russian.html</a></span></p>

<p><span style="font-size:24px">俄語線上學習入口網站，文學、文法、單字等多元教材可供選擇</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.bbc.co.uk/print/languages/other/quickfix/russian.shtml">http://www.bbc.co.uk/print/languages/other/quickfix/russian.shtml</a></span></p>

<p><span style="font-size:24px">BBC俄語學習網站，可下載音檔，也有線上學習課程</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.gramota.ru/">http://www.gramota.ru/</a></span></p>

<p><span style="font-size:24px">俄國最大的學習網站，具字典、遊戲等功能，有各式文章和課程，可做線上測驗</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.tasteofrussian.com/">http://www.tasteofrussian.com/</a></span></p>

<p><span style="font-size:24px">可練習俄文對話、文章、下載mp3和文字檔，是很好的俄檢學習網站</span><br />
&nbsp;</p>

<p><span style="font-size:24px"><a href="http://www.languageguide.org/russian/index.jsp">http://www.languageguide.org/russian/index.jsp</a></span></p>

<p><span style="font-size:24px">中文介面，提供俄文發音和單字，適合初學者</span></p>

<p>&nbsp;</p>