<p><img src="/storage/app/media/uploaded-files/559_22565ffe.jpg" style="width: 977px; height: 1390.6px;" class="fr-fic fr-dib fr-fil" data-result="success"></p>

<p>
	<a class="fr-file" href="/storage/app/media/uploaded-files/File.pdf"><img src="/storage/app/media/uploaded-files/617_3cc4ee65.png" style="width: 976px; height: 692.96px;" class="fr-fic fr-dib fr-fil" data-result="success"></a>
	<br>
</p>