<p><strong>Promoting Excellence in All Five Skills;&nbsp;Nurturing Talents for the Digital Age</strong></p>

<p><span><strong>&nbsp;</strong></span></p>

<p>Founded in 1992 and featuring diverse curricula, the College of Foreign Languages and Literatures offers foreign language training in many areas including translation, business, diplomacy, literature, and cultural studies.</p>

<p>To develop and extend students’ foreign language skills in listening, speaking, reading, writing and translating/interpreting, the College provides the following: a cross-college credit program of foreign language translation, creative workshops for foreign language teaching and learning, a multi-language learning website, foreign language learning corners, and classrooms for interpretation learning and cultural learning. All of the departments of English, Spanish, French, Germany, Japanese, and Russian offer a one-year exchange program for junior students to study abroad at TKU’s sister universities. The College of Foreign languages and literatures also works with the College of International Studies to provide courses in both international and regional studies and encourages students to familiarize themselves with global politics, economies, and cultures. Each of the College’s departments also provides practical courses and training through partnership with private enterprises to stay close to industry needs. The College’s six departments also work closely together in issuing the <em>Tamkang Journal of Foreign Languages and Literatures</em>, a multi-lingual biannual aimed at promoting scholarship in foreign language teaching and literary and cultural studies.</p>

<p>In the future, the College will continue to improve teaching methods of foreign language education, and enhance academic cooperation universities from mainland China and other countries.</p>

<p>&nbsp;</p>