<p style="text-align:center"><br />
<span style="color:#0000ff"><span style="font-size:22px">Please click on the links to your left for more information on Travel/ Literatures!</span></span></p>

<p style="text-align:center"><span style="color:#2969b0"><span style="font-size:30px"><strong>&lt;旅遊&amp;旅行文學&gt;，歡迎點選左列選單!</strong>&nbsp;</span></span></p>

<p style="text-align:center"><strong><img class="fr-dii fr-fic" src="http://163.13.100.122/storage/app/media/good-books-to-read-while-traveling-735x400.jpg" /></strong>&nbsp;</p>