<h1>《話說陳澄波與淡水》新書影片，歡迎點閱！</h1>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p><img src="http://163.13.100.122/storage/app/media/uploaded-files/_archive_622_4f971239.jpg" data-result="success" class="fr-fic fr-dii" style="width: 745px; height: 485.013px;"></p>

<p>
	<br>
</p>

<h3>畫說淡水今昔‧再造在地價值</h3>

<h3>紅瓦白牆青山綠水，請隨陳澄波先生探訪淡水</h3>

<h3>淡江大學外國語文學院25週年院慶特別出版</h3>

<h3><a href="https://youtu.be/bhHJIxZpZnc">(陳澄波新書發表會 &nbsp;影片請點我)</a></h3>