<p><strong><br></strong><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>　　　　　短程計畫(依校務計畫已完成)<br></strong></span></span><strong><br></strong>104學年度：1. 建置學術研究諮詢中心
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. 設立遠距國際聯合外語教學研究中心
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3. 成立外語教材研究中心
	<br>
	<br>
	<br><strong>　　　　　　</strong><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>中程計畫(105-107學年度)</strong></span></span><strong><br><br></strong>105學年度：1. 設立外語教育與在地文化研究中心
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. 建置互動式外語學習網站
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3. 強化外語雲端開放課程(Open Course Ware) 目前已錄製義大利文、拉丁文、法文、日文、西語、俄語、印尼語、德語、越南文化與語言、葡萄牙語、馬來語、韓語、藏語、波蘭語、古希臘文、阿拉伯語、實用英語讀寫譯、捷克語等18科課程，並開放學生自由點選。未來3年預計增加至21科，部分課程將提供全民選讀，拓展社會服務。</p>

<p>&nbsp;</p>

<p>106學年度：1<strong>.&nbsp;</strong>加強外語傳譯社，處處是外語學習機會。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. 頂石課程再加強，成立學教翻轉社群，精進教學。</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3. 結合大淡水資源，貢獻外語專業，回饋社會。</p>

<p>
	<br>
</p>