<h3><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 3 ─《探戈歌手》</span></h3>

<p class="oc-text-uppercase oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;">12/11(五) 14:30-16:00 主題：《探戈歌手》 主講人：林盛彬；與談人：陳小雀</span></span><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><br>《探戈歌手》 是阿根廷作家托瑪斯‧埃羅伊‧馬汀尼茲（1934-2010）於2004年出版的作品。敘述一位紐約大學博士生在撰寫波赫士（Jorges Luis Borges）有關探戈作品起源之散文研究，親自走訪不宜諾斯艾列斯的故事。整個行程從二OO一年九月到十二月，可說是一趟綜合著歷史、文學、音樂、電影…的深度文化之旅。</span></span>
</p>

<p class="oc-text-uppercase oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=369_2bf2e902.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
</p>

<p class="oc-text-uppercase oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=372_4fcf11ee.jpg&amp;dir=archive" class="fr-fic fr-dii"><img src="http://www.tf.tku.edu.tw/img.php?img=370_1e686545.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
</p>

<p class="oc-text-uppercase oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=371_57b59853.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
</p>

<p class="oc-text-uppercase oc-text-spaced"><span style="font-size: 14px;"><span style="font-family: Arial,Helvetica,sans-serif;"><img src="http://www.tf.tku.edu.tw/img.php?img=373_2fbdc1fc.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></span>
	<br>
</p>