<p style="text-align:center"><span style="font-size:22px"><img alt="" class="fr-dii fr-fic" src="http://www.tf.tku.edu.tw/img.php?img=448_c386d782.png&amp;dir=archive" style="height:305.904px; width:227px" /><img alt="" class="fr-dii fr-fic" src="http://www.tf.tku.edu.tw/img.php?img=449_8c129c38.png&amp;dir=archive" style="height:327.755px; width:212px" /><br />
<strong>淡江外語如何使你與眾不同報導系列二<br />
(職業－文教篇)</strong><br />
<br />
<img src="/storage/app/media/junior abroad/tsai yi chun.jpg" style="height:360px; width:800px" /></span></p>

<p style="text-align:center"><strong><span style="font-size:22px">英文系校友 蔡宜君</span></strong><br />
&nbsp;</p>

<p><span style="font-size:22px">&nbsp;</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; 英文系蔡宜君（現任台師大科技輔助華語學習實室助理）在加拿大大學留學一年，是她人生最美好的一年，同樣地，英文系龔湘雯（現聯合報中國經濟社企畫中心助理），在加拿大大學留學一年，看見不一樣的自己。</span></p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-size:22px"><img src="/storage/app/media/junior abroad/gong shang wen 1-1.jpg" style="height:487px; width:800px" /></span></p>

<p style="text-align:center"><strong><span style="font-size:22px">英文系校友 龔湘雯</span></strong></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;龔湘雯回憶起為何參加大三出國留學，時光就要倒轉到6年前大學指考放榜後選填志願的煎熬期，落點分析出來的學校和科系，每一間她都花了點時間去系網站參考相關課程與發展，當看到淡江英文系的內容時，眼睛為之一亮的就是這「大三出國留學計畫」，參考了一些週邊親友和校友們的職涯發展，加上她和家人一直都有那留學夢，讓她我毫不猶豫的把淡江英文系放在她的第一意願，因為她想要參加&ldquo;「大三出國留學計畫」！</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;讓龔湘雯印象最深刻的就是上了一整年的戲劇表演課，那是一種讓英文活在身上並展現的出來的關鍵，因Brandon大學，其實在音樂學院一直有良好的聲譽，連帶藝術課程在學校也是受到歡迎，那一年透過與同學實際在劇場裡面的互動、表演作業、期中期末考試，即使城鎮環境的平凡，他們仍有無限的創意想法，而且好像不受限制。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;Brandon大學教授們對於報告的要求比較高，這也讓龔湘雯更認真的去思考如何完成，並且是以英文思考的方式: 重點、論述、佐證，一開始是有點不容易，但是經過與同學或是加拿大同學的討論與請教，其實都可以清楚的表達閱讀完一篇小說或詩屬於自己的見解，也許花的時間比較多，甚至常常熬夜寫報告，但是看到教授給予的評論，就會發現自己的成就與改進的地方，因為好的論點，教授都會不吝嗇地稱讚，寫得不好的地方，他也願意花時間請你到他辦公室聊聊，了解你的狀況，提供可以協助你的方法，例如善用學習中心的協助。</span></p>

<p><span style="font-size:22px">&nbsp; &nbsp; &nbsp; &nbsp;看見不一樣的自自己，讓龔湘雯奠定了語言上的精進基礎，讓她在畢業後工作的機會與型態選擇較多，而出國留學的資歷，在一些需要與國外互動的，甚至需外派的特質上有著加分的作用。（編者按：除作者群－劉莉淇（現任雙溪小學人事主任）、簡盈甄（現任學術交流會台中外籍英語協同教師主持人）科見美語侯登見知名作家朱天文及台灣好基金會執行徐璐等）</span></p>