<h3><span style="color: rgb(243, 121, 52);"><strong><span style="font-size: 18px;">遠距國際聯合外語教學研究中心</span></strong>
	</span>
</h3>

<p>&nbsp;<img alt="" src="http://www.tf.tku.edu.tw/img.php?img=508_e2ed0b9e.jpg&amp;dir=archive" class="fr-fic fr-dii"></p>

<p><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>1.中心目標：<br></strong></span></span> 本校姊妹校東京外國語大學獲得日本政府的Super Global大學創成事業計畫， 2015年3月在我們學校設置Global Japan Office，推廣海外日語教育。該校多年來積極發展國際遠距教學，成果卓越，與淡江大學也有多年遠距教學的合作。104學年度遠距國際聯合研究中心結合外語學院的六個語系與東外大啟動全面合作，每個語系規劃適合的國際遠距課程，開發不同之國際遠距合作模式，頗具成效。本研究中心擬在105學年度延續先前的合作關係，加深雙方合作。除了持續開設遠距課程之外，並舉辦學術研討會，發表國際遠距課程成果。學年度遠距國際聯合研究中心結合外語學院的六個語系與東外大啟動全面合作，每個語系規劃適合的國際遠距課程，開發不同之國際遠距合作模式，頗具成效。本研究中心擬在學年度延續先前的合作關係，加深雙方合作。除了持續開設遠距課程之外，並舉辦學術研討會，發表國際遠距課程成果。</p>

<p><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>2. 執行內容：<br></strong></span></span>1) 本中心由本校外語學院和東京外國語大學外語學院共同成立。105學年度由英文系和日文系與東外大相對單位協議開設課程和合作模式。</p>

<p>2) 本中心將從調整現有的課程架構和課程內容開始，思考如何在現有的課程內容和課程架構下融入遠距教學模式，讓兩個相同語種的學生可以在網路上互相觀摩和學習，並逐步朝向開設多門遠距課程、開發遠距教材、共同合作計畫案與共同發表論文等，作為合作之終極目標。&nbsp;</p>

<p>3) 除了外語學院老師的參與與投入，本中心還需要本校遠距教學組的技術合作和參與，讓國際遠距合作可以順利運作。</p>

<p><span style="color: rgb(226, 80, 65);"><span style="font-size: 18px;"><strong>3 預期成效：</strong></span></span>
</p>

<p>1) 持續本校外語學院與東京外國語大學的實質合作，開設不同的遠距合作模式。
	<br>2) 舉辦遠距教學研討會或觀摩會、成果發表會，討論各自實施成效，分享和交流經驗。</p>