<h3 class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">閱讀旅行工作坊 1 ─《死靈魂》</span></h3>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">11/25(三) &nbsp;書名：《死靈魂》 主講人：劉皇杏 &nbsp;與談人：蘇淑燕</span></p>

<p class="oc-text-spaced"><span style="font-family: Arial,Helvetica,sans-serif;">《死靈魂》是果戈理的代表作，也是一部俄國經典文學作品。描述一個唯利是圖、能言善道的投機商人乞乞科夫旅行來到某市，遍訪該市的省長、警察局長等官僚和地主，然後向該地主們收購死靈魂—即死去但尚未註銷的農奴，企圖將他們當做活的農奴抵押出去，騙取大筆押金，但行徑敗露之後立刻逃走。這部作品中充滿幽默詼諧、誇張、戲謔挖苦的成分。<br><br>果戈理透過乞乞科夫拜訪各個地主的過程及買賣死靈魂的交易來表現當代各個地主的典型特徵。並利用主角乞乞科夫不斷的漫遊經歷，來建構整部作品，小說事件及場景不斷地轉換。新的小說人物不斷的出現和消失，各段情節事件則是相互獨立。<br><br><img alt="" width="600" height="450" src="http://www.tf.tku.edu.tw/img.php?img=348_50f58efc.jpg&amp;dir=archive" class="fr-fic fr-dii"><img alt="" width="600" height="450" src="http://www.tf.tku.edu.tw/img.php?img=350_9e2e102b.jpg&amp;dir=archive" class="fr-fic fr-dii"><img alt="" width="600" height="450" src="http://www.tf.tku.edu.tw/img.php?img=351_14531bb8.jpg&amp;dir=archive" class="fr-fic fr-dii"><img alt="" width="600" height="450" src="http://www.tf.tku.edu.tw/img.php?img=347_458f11e8.jpg&amp;dir=archive" class="fr-fic fr-dii"><img alt="" width="600" height="450" src="http://www.tf.tku.edu.tw/img.php?img=346_de4694c8.jpg&amp;dir=archive" class="fr-fic fr-dii"></span></p>