description = "德文系內容頁"
==
<section class="main_block clearfix">
    <div class="container pt_20 pb_40">
        <div class="row">
            <div class="col-md-12">
                {% partial 'breadcrumb' parents=current.parents%}
            </div>
            <div class="col-md-3">
                {% partial 'sidemenu' menu = current.childrenEnabled ? current : current.parent%}

            </div>
            <div id="rndbox_body" class="col-md-9">
                {%page%}
            </div>
        </div>
    </div>
</section>