description = "網站首頁"
==
<?php
function onStart(){
    //trace_log($newsMenu);
}
?>
==
<section class="section_bg clearfix">
    <div class="container bg_white">
        <div class="row relative">
            <div class="col-md-6">
                <h2 class="index_title">
                    <span class="title_en">歡迎蒞臨</span>
                    <span class="title_tw">&nbsp;{{site.title}}</span>
                </h2>
                <div class="area_layout eqh-1">
                    <!-- <div class="heading_news">
                        {% page %}
                    </div> -->
                    <div class="video_slider">
                        <div class="owl-carousel owl-theme">
                            {% for link in site.video_links %}
                                <div class="item">
                                    <div class="owl_img_block">
                                        <a href="JavaScript:html5Lightbox.showLightbox(2, 'https://www.youtube.com/embed/{{link.videoId}}&amp;autoplay=1', 'YouTube lightbox');" class="html5lightbox" data-width="1000" data-height="563" title="{{link.title}}">
                                            <span class="owl_img">
                                                <div class="img_bg" style="background-image: url('//img.youtube.com/vi/{{link.videoId}}/sddefault.jpg');"></div>
                                                <!-- <img src="//img.youtube.com/vi/{{link.videoId}}/sddefault.jpg" /> -->
                                                <span class="play_bg">
                                            		<img src='{{"assets/images/video_play.png" |theme}}' alt="video_play">
                                            	</span>
                                            </span>
                                            <!-- <span class="owl_overlay"></span> -->
                                            <span class="owl_text">
                                                <span>{{link.title}}</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %} 
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                 {% partial layout_folder ~ '/news_list' %}
            </div>
        </div>
        <div class="row relative">
            <div class="col-md-6 clearfix">
                 {% partial layout_folder ~ '/topics' links=site.recommand_links%}
            </div>
            <div class="col-md-6">
                 {% partial 'icon_links' links=site.web_links%}
            </div>
        </div>
    </div>
</section>